﻿<section id="meu-voto">
    <div class="container">
        <!-- Descrição -->
        <div class="desc">
            <h1>Meu Voto</h1>
            <p class="blue">
                Parabéns!
            </p>
            <p>
                Aqui estão os candidatos que você escolheu. Salve e imprima para usar no dia da eleição. 
            </p>
            <a href="#" class="salvar-imagem " data-compartilhar="MeuVoto">Salvar imagem em meus arquivos</a>
        </div>

        <!-- Capítulos -->
        <div class="lista-candidatos">
            @*<div class="item" data-cargo="DeputadoEstadual">
                <div class="info-reduzida">
                        <div class="candidato">
                            <span class="cargo">Deputado Estadual</span>
                            <span class="nome"></span>
                        </div>
                        <div class="numero">
                            <span></span>
                        </div>
                </div>
                <div class="wrap no-item">
                    <div class="info">
                        <p class="texto">Para avaliar candidatos a outro(s) cargo(s), clique no botão abaixo.</p>
                        <a href="#" class="btn avaliar"><span>Avaliar Cargo</span></a>
                    </div>
                </div>
            </div>*@
            @*<div class="item" data-cargo="DeputadoFederal">
                <div class="info-reduzida">
                        <div class="candidato">
                            <span class="cargo">Deputado Federal</span>
                            <span class="nome"></span>
                        </div>
                        <div class="numero">
                            <span></span>
                        </div>
                </div>
                <div class="wrap no-item">
                    <div class="info">
                        <p class="texto">Para avaliar candidatos a outro(s) cargo(s), clique no botão abaixo.</p>
                        <a href="#" class="btn avaliar"><span>Avaliar Cargo</span></a>
                    </div>
                </div>
            </div>*@
            @*<div class="item" data-cargo="Senador1">
                <div class="info-reduzida">
                        <div class="candidato">
                            <span class="cargo">Senador 1</span>
                            <span class="nome"></span>
                        </div>
                        <div class="numero">
                            <span></span>
                        </div>
                </div>
                <div class="wrap no-item">
                    <div class="info">
                        <p class="texto">Para avaliar candidatos a outro(s) cargo(s), clique no botão abaixo.</p>
                        <a href="#" class="btn avaliar"><span>Avaliar Cargo</span></a>
                    </div>
                </div>
            </div>*@
            @*<div class="item" data-cargo="Senador2">
                <div class="info-reduzida">
                    <div class="candidato">
                        <span class="cargo">Senador 2</span>
                        <span class="nome"></span>
                    </div>
                    <div class="numero">
                        <span></span>
                    </div>
                </div>
                <div class="wrap no-item">
                    <div class="info">
                        <p class="texto">Para avaliar candidatos a outro(s) cargo(s), clique no botão abaixo.</p>
                        <a href="#" class="btn avaliar"><span>Avaliar Cargo</span></a>
                    </div>
                </div>
            </div>*@
            <div class="item" data-cargo="Governador">
                <div class="info-reduzida">
                    <div class="candidato">
                        <span class="cargo">Governador</span>
                        <span class="nome"></span>
                    </div>
                    <div class="numero">
                        <span></span>
                    </div>
                </div>
                <div class="wrap no-item">
                    <div class="info">
                        <p class="texto">Para avaliar candidatos a outro(s) cargo(s), clique no botão abaixo.</p>
                        <a href="#" class="btn avaliar"><span>Avaliar Cargo</span></a>
                    </div>
                </div>
            </div>
            <div class="item" data-cargo="Presidente">
                <div class="info-reduzida">
                        <div class="candidato">
                            <span class="cargo">Presidente</span>
                            <span class="nome"></span>
                        </div>
                        <div class="numero">
                            <span></span>
                        </div>
                </div>
                <div class="wrap no-item">
                    <div class="info">
                        <p class="texto">Para avaliar candidatos a outro(s) cargo(s), clique no botão abaixo.</p>
                        <a href="#" class="btn avaliar"><span>Avaliar Cargo</span></a>
                    </div>
                </div>
            </div> 
        </div>

        <!-- Lembrese -->
        <div class="lembrese">
            <p class="orange">
                Lembre-se:
            </p>
            <div class="dicas">

                <div class="first">
                    <div class="urna bg-screwdriver">
                        <p>
                            O voto é secreto
                        </p>
                        <img src="/assets/img/meuvoto/bg-meu-voto-urna.png" class="urna" alt="Urna" />
                    </div>
                    <div class="calendario">
                        <img src="/assets/img/meuvoto/bg-meu-voto-calendario.png" alt="Calendario" />
                    </div>
                </div>
                <p class="bg-bluesky">
                    O <strong>2º turno</strong> das  eleições 2018 acontece
                    dia <strong>28 de  outubro, das 8 às 17h</strong>
                    (horário local).
                </p>
                <p class="bg-sun">
                    Para votar é necessário apresentar um <strong>documento oficial com foto</strong> (recomenda-se levar também o título de eleitor).
                </p>
                <div class="last bg-bluedark">
                    <p>
                        A Justiça Eleitoral proíbe o uso de celulares na cabine de votação e recomenda que os eleitores levem os dados dos candidatos anotados em papel.
                    </p>
                    <img src="/assets/img/meuvoto/bg-meu-voto.png" alt="Celular" />
                </div>
            </div>
            <p class="orange">
                <strong>Boa eleição!</strong>
            </p>
        </div>
        
    </div>

</section>

<div id="candidatoAfinidade"></div>

<!-- Share -->
<div id="preview-download-img">
    <div class="container"></div>
</div>