// ====================================================================
// Colors
// ====================================================================

// -------------------------------------
// Cores base
// -------------------------------------

$bg-color:           #f1f1f1;     	// Cor Background
$bg-submenu:         #132AAC;       // Cor Background Sub Menu

$base-color:         #1b2026;       // Cor Base

//Cores Guia do Voto
$azul-guia:          #0C46E6;


$text-color:		 #343434;		// Cor Texto
$title-color:		 #555555;		// Cor Títulos 
$subtitle-color:	 #555555;		// Cor Subtitulos
$link-color: 		 #66afe9;   	// Cor Links 

$theme-color-01:	 #ffffff;   	// Cor Tema 01 
$theme-color-02:	 #ffffff; 		// Cor Tema 02
$theme-color-03:	 #ffffff; 		// Cor Tema 03 

$btn-color: 		 #ffffff;  	    // Cor Botoes 01
$btn-primary: 		 #337ab7;		// Cor Botão Primário 	 
$btn-success:		 #5cb85c;       // Cor Botão Sucesso 
$btn-danger:		 #d9534f;       // Cor Botão Sucesso 

$input-bg:			 #ffffff;		// Cor Input
$input-border:		 #cccccc;		// Cor Borda Input
$input-focus:		 #66afe9;		// Cor Borda Input Focus
$input-color:		 #555555;		// Cor Borda Input

$selection-bg: 	 	 #ffffff;   	// Cor Background Selection
$selection-color: 	 #555555;   	// Cor Selection

$modalbox-color: 	 #0C0F13;		// Modal Box 
  