// ====================================================================
// Fonts
// ====================================================================

// -------------------------------------
// Caminhos
// -------------------------------------

$image-path: '../img';			// Caminho das imagens
$font-path: '../fonts';			// Caminho das fontes

// -------------------------------------
// Montserrat
// -------------------------------------

//- Montserrat-Regular
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('#{$font-path}/montserrat/Montserrat-Regular/Montserrat-Regular.eot');
    src: url('#{$font-path}/montserrat/Montserrat-Regular/Montserrat-Regular.eot') format('embedded-opentype'),
         url('#{$font-path}/montserrat/Montserrat-Regular/Montserrat-Regular.woff2') format('woff2'),
         url('#{$font-path}/montserrat/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
         url('#{$font-path}/montserrat/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'),
         url('#{$font-path}/montserrat/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
         font-weight: normal;
         font-style: normal; 
}

//- Montserrat-Light
@font-face {
    font-family: 'Montserrat-Light';
    src: url('#{$font-path}/montserrat/Montserrat-Light/Montserrat-Light.eot');
    src: url('#{$font-path}/montserrat/Montserrat-Light/Montserrat-Light.eot') format('embedded-opentype'),
         url('#{$font-path}/montserrat/Montserrat-Light/Montserrat-Light.woff2') format('woff2'),
         url('#{$font-path}/montserrat/Montserrat-Light/Montserrat-Light.woff') format('woff'),
         url('#{$font-path}/montserrat/Montserrat-Light/Montserrat-Light.ttf') format('truetype'),
         url('#{$font-path}/montserrat/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light') format('svg');
         font-weight: normal;
         font-style: normal; 
}

//- Montserrat-Medium
@font-face {
    font-family: 'Montserrat';
    src: url('#{$font-path}/montserrat/Montserrat-Medium/Montserrat-Medium.eot');
    src: url('#{$font-path}/montserrat/Montserrat-MediumMontserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/montserrat/Montserrat-Medium/Montserrat-Medium.woff2') format('woff2'),
        url('#{$font-path}/montserrat/Montserrat-Medium/Montserrat-Medium.woff') format('woff'),
        url('#{$font-path}/montserrat/Montserrat-Medium/Montserrat-Medium.ttf') format('truetype'),
        url('#{$font-path}/montserrat/Montserrat-Medium/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

//- Montserrat-Bold
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('#{$font-path}/montserrat/Montserrat-Bold/Montserrat-Bold.eot');
    src: url('#{$font-path}/montserrat/Montserrat-Bold/Montserrat-Bold.eot') format('embedded-opentype'),
         url('#{$font-path}/montserrat/Montserrat-Bold/Montserrat-Bold.woff2') format('woff2'),
         url('#{$font-path}/montserrat/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
         url('#{$font-path}/montserrat/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'),
         url('#{$font-path}/montserrat/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
         font-weight: normal;
         font-style: normal; 
}

//- Montserrat-SemiBold
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('#{$font-path}/montserrat/Montserrat-SemiBold/Montserrat-SemiBold.eot');
    src: url('#{$font-path}/montserrat/Montserrat-SemiBold/Montserrat-SemiBold.eot') format('embedded-opentype'),
         url('#{$font-path}/montserrat/Montserrat-SemiBold/Montserrat-SemiBold.woff2') format('woff2'),
         url('#{$font-path}/montserrat/Montserrat-SemiBold/Montserrat-SemiBold.woff') format('woff'),
         url('#{$font-path}/montserrat/Montserrat-SemiBold/Montserrat-SemiBold.ttf') format('truetype'),
         url('#{$font-path}/montserrat/Montserrat-SemiBold/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
         font-weight: normal;
         font-style: normal; 
}

//- Montserrat-Italic
@font-face {
    font-family: 'Montserrat-Italic';
    src: url('#{$font-path}/montserrat/Montserrat-Italic/Montserrat-Italic.eot');
    src: url('#{$font-path}/montserrat/Montserrat-Italic/Montserrat-Italic.eot') format('embedded-opentype'),
         url('#{$font-path}/montserrat/Montserrat-Italic/Montserrat-Italic.woff2') format('woff2'),
         url('#{$font-path}/montserrat/Montserrat-Italic/Montserrat-Italic.woff') format('woff'),
         url('#{$font-path}/montserrat/Montserrat-Italic/Montserrat-Italic.ttf') format('truetype'),
         url('#{$font-path}/montserrat/Montserrat-Italic/Montserrat-Italic.svg#Montserrat-Italic') format('svg');
         font-weight: normal;
         font-style: normal; 
}

//- Montserrat-SemiBoldItalic
@font-face {
    font-family: 'Montserrat-SemiBoldItalic';
    src: url('#{$font-path}/montserrat/Montserrat-SemiBoldItalic/Montserrat-SemiBoldItalic.eot');
    src: url('#{$font-path}/montserrat/Montserrat-SemiBoldItalic/Montserrat-SemiBoldItalic.eot') format('embedded-opentype'),
         url('#{$font-path}/montserrat/Montserrat-SemiBoldItalic/Montserrat-SemiBoldItalic.woff2') format('woff2'),
         url('#{$font-path}/montserrat/Montserrat-SemiBoldItalic/Montserrat-SemiBoldItalic.woff') format('woff'),
         url('#{$font-path}/montserrat/Montserrat-SemiBoldItalic/Montserrat-SemiBoldItalic.ttf') format('truetype'),
         url('#{$font-path}/montserrat/Montserrat-SemiBoldItalic/Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic') format('svg');
         font-weight: normal;
         font-style: normal; 
}

// -------------------------------------
// Dense
// -------------------------------------

//- Dense-Regular
@font-face {
    font-family: 'Dense-Regular';
    src: url('#{$font-path}/dense/Dense-Regular/Dense-Regular.eot');
    src: url('#{$font-path}/dense/Dense-Regular/Dense-Regular.eot') format('embedded-opentype'),
         url('#{$font-path}/dense/Dense-Regular/Dense-Regular.woff2') format('woff2'),
         url('#{$font-path}/dense/Dense-Regular/Dense-Regular.woff') format('woff'),
         url('#{$font-path}/dense/Dense-Regular/Dense-Regular.ttf') format('truetype'),
         url('#{$font-path}/dense/Dense-Regular/Dense-Regular.svg#Dense-Regular') format('svg');
         font-weight: normal;
         font-style: normal; 
}

// -------------------------------------
// Bebas
// -------------------------------------

@font-face {
    font-family: 'Bebas';
    src: url('#{$font-path}/Bebas/Bebas.eot');
    src: url('#{$font-path}/Bebas/Bebas.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/Bebas/Bebas.woff2') format('woff2'),
         url('#{$font-path}/Bebas/Bebas.woff') format('woff'),
         url('#{$font-path}/Bebas/Bebas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('#{$font-path}/BebasNeue/BebasNeue.eot');
    src: url('#{$font-path}/BebasNeue/BebasNeue.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/BebasNeue/BebasNeue.woff2') format('woff2'),
         url('#{$font-path}/BebasNeue/BebasNeue.woff') format('woff'),
         url('#{$font-path}/BebasNeue/BebasNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('#{$font-path}/BebasNeue/BebasNeueBold.eot');
    src: url('#{$font-path}/BebasNeue/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/BebasNeue/BebasNeueBold.woff2') format('woff2'),
         url('#{$font-path}/BebasNeue/BebasNeueBold.woff') format('woff'),
         url('#{$font-path}/BebasNeue/BebasNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


// -------------------------------------
// Padrao
// -------------------------------------

$font-family--primary    : "Montserrat-Regular";
$headers-font-family     : 'Montserrat-Bold';
$p-font-family           : 'Montserrat-Light';
$span-font-family        : 'Montserrat-Regular';

$font-family--secondary  : ''