﻿
@{
    ViewData["Title"] = "Index";
}

<section id="sobre">

    <div class="container">
        <!-- Informações -->
        <div class="infos cap-01">

            <!-- Descrição -->
            <div class="desc">
                <h2>Sobre</h2>
                <div class="personagens">
                    <div>
                        <img src="~/assets/img/sobre/sobre-banner01.png" class="" />
                    </div>
                    <div>
                        <img src="~/assets/img/sobre/sobre-banner02.png" class="" />
                    </div>
                    <div>
                        <img src="~/assets/img/sobre/sobre-banner03.png" class="" />
                    </div>
                    <div>
                        <img src="~/assets/img/sobre/sobre-banner04.png" class="" />
                    </div>
                </div>
            </div>
        </div>

        <!-- Perguntas Frequentes -->
        <div class="titulo">
            <h1>
                Lorem ipsum dolor sit amet, consectetur.
            </h1>
            <p>
                Quisque dui leo, egestas at ante vel, interdum convallis eros. Proin vel magna a ipsum tincidunt ullamcorper. Morbi ullamcorper arcu ac 
                viverra posuere. Nullam venenatis ex a pulvinar consequat. Cras vestibulum lacus nec congue pulvinar. Donec in fermentum lacus, convallis 
                finibus enim. Nulla placerat sem ac elit posuere, et finibus ex fermentum.
            </p>
        </div>


    </div>

</section>


