﻿
@{
    ViewData["Title"] = "Index";
}

<section id="sobre">

    <div class="container">
        <!-- Informações -->
        <div class="infos cap-01">

            <!-- Descrição -->
            <div class="desc">
                <h2>Sobre</h2>                
            </div>
        </div>

        
        <div class="titulo">
            <p>
                A Votorantim está completando 100 anos em 2018 e, para celebrar, decidiu reforçar seu compromisso com o futuro do Brasil. Por isso levou para mais de 100 municípios a Parceria Votorantim pela Educação, um programa que ajuda a melhorar a qualidade da escola pública. A educação é a base de uma sociedade mais justa e inclusiva. 
            </p>
            <p>
                Além disso, como teremos uma importante eleição em 2018, a companhia decidiu apoiar o Voto Consciente, por meio desse Guia do Voto, para ajudar os eleitores no momento de escolher seus representantes. 
            </p>
            <p>
                O Instituto Votorantim, responsável pela estratégia social da companhia, buscou parceiros para desenvolver esse Guia de forma a ser uma ferramenta apartidária e ideologicamente neutra, que ajude o cidadão a entender melhor o processo eleitoral, o papel de cada cargo eletivo e escolher com maior consciência os políticos que irão representá-lo nos próximos anos.       
            </p>
            <p>
                O Guia do Voto foi criado para que você possa praticar a cidadania, ganhar e compartilhar conhecimento, e ampliar a percepção de que o voto consciente é a mais democrática e poderosa ferramenta de transformação do País.
            </p>
            <p>
                A Votorantim, o Instituto Votorantim e os demais parceiros envolvidos no desenvolvimento do Guia do Voto não terão acesso a nenhuma informação individual dos usuários, exceto dados básicos de cadastro. Nesse sentido, dados de navegação do usuário e suas respostas, opiniões e resultados não serão coletados ou armazenados nos servidores do Guia do Voto e tampouco utilizados para fins estatísticos.
            </p>
            <img src="/assets/img/inicio/logo-votorantim.png" alt="Logo Votorantim" />
        </div>  
        
        <div class="parceiros">
            <small>Parceiros do projeto</small>
            <p>
                Humberto Dantas <br>Moraes Pitombo Advogados <br>Fullbar Digital
            </p>
        </div>

        <div class="sobre-footer">            
            <div class="ft-images">
               <img src="~/assets/img/sobre/bg-sobre-footer.png" class="" />
            </div>
        </div>

    </div>

</section>



