﻿
@{
    ViewData["Title"] = "Index";
}


<section id="compartilhe">
    <div class="container">
        <!-- Informações -->
        <div class="infos cap-01">
            <!-- Descrição -->
            <div class="desc">
                <a href="#" class="back"><img src="~/assets/img/compartilhe/ico-x.png" class="" /></a>
                <h2>Compartilhe o Guia do Voto</h2>
                <div class="persona">
                    <img src="~/assets/img/compartilhe/compartilhe.png" class="" />
                </div>
            </div>
        </div>

        <!-- Lista Compartilhamento -->
        <div class="lista-compartilhamento">
            <a href="#" class="facebook" data-share="https://www.facebook.com/dialog/share?app_id=247591319322843&display=popup&href=http%3A%2F%2Fguiadovoto.org.br%2FCompartilhar%3Fapp">
            <!-- <a href="#" class="facebook" data-share="https://www.facebook.com/dialog/share?app_id=858598314350118&display=popup&href=http%3A%2F%2Fguiadovoto.fullbarhomologa.com.br%2FCompartilhar%3Fapp">  -->
            <!-- <a href="#" class="facebook" data-share="https://www.facebook.com/dialog/share?app_id=858598314350118&display=popup&href=http%3A%2F%2F696f7466.ngrok.io%2FCompartilhar%3Fapp"> -->
                <span class="txt">Facebook</span>
                <span class="bar"></span>
            </a>
            <a href="#" class="linkedin" data-share="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fguiadovoto.org.br%2FCompartilhar%3Fapp&title=Guia%20do%20Voto&summary=Seu%20voto%20consciente">
            <!-- <a href="#" class="linkedin" data-share="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fguiadovoto.fullbarhomologa.com.br%2FCompartilhar%3Fapp&title=Guia%20do%20Voto&summary=Seu%20voto%20consciente">  -->
            <!-- <a href="#" class="linkedin" data-share="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2F696f7466.ngrok.io%2FCompartilhar%3Fapp&title=Guia%20do%20Voto&summary=Seu%20voto%20consciente"> -->
                <span class="txt">Linkedin</span>
                <span class="bar"></span>
            </a>
            <a href="#" class="twitter" data-share="https://twitter.com/intent/tweet?url=http%3A%2F%2Fguiadovoto.org.br%2FCompartilhar%3Fapp">
            <!-- <a href="#" class="twitter" data-share="https://twitter.com/intent/tweet?url=http%3A%2F%2Fguiadovoto.fullbarhomologa.com.br%2FCompartilhar%3Fapp">  -->
            <!-- <a href="#" class="twitter" data-share="https://twitter.com/intent/tweet?url=http%3A%2F%2F696f7466.ngrok.io%2FCompartilhar%3Fapp"> -->
                <span class="txt">Twitter</span>
                <span class="bar"></span>
            </a>
            <a href="#" class="whatsapp" data-share="https://api.whatsapp.com/send?text=Guia%20do%20Voto%3A%20Seu%20voto%20consciente%20-%20http%3A%2F%2Fguiadovoto.org.br%2FCompartilhar%3Fapp">
            <!-- <a href="#" class="whatsapp" data-share="https://api.whatsapp.com/send?text=Guia%20do%20Voto%3A%20Seu%20voto%20consciente%20-%20http%3A%2F%2Fguiadovoto.fullbarhomologa.com.br%2FCompartilhar%3Fapp">  -->
            <!-- <a href="#" class="whatsapp" data-share="https://api.whatsapp.com/send?text=Guia%20do%20Voto%3A%20Seu%20voto%20consciente%20-%20http%3A%2F%2F696f7466.ngrok.io%2FCompartilhar%3Fapp"> -->
                <span class="txt">Whatsapp</span>
                <span class="bar"></span>
            </a>
            <!-- <a href="#" class="btn compartilhar">
        <span>COMPARTILHAR</span>
    </a> -->
        </div>
    </div>
</section>

