﻿<section id="inicio">

    <div class="container">

            <div class="logo">
                <p>
                    Bem-vindo(a) ao
                </p>
                <img src="assets/img/inicio/logo-guia-do-voto-inicio.png" alt="Guia do Voto" />
            </div>
            <div class="infos">
                <div class="texto">
                    <p class="mobile">
                        Aqui você testa seus conhecimentos, organiza suas ideias e faz escolhas conscientes. Boa jornada!
                    </p>

                    <p class="desk">
                        Aqui você tem acesso a informações importantes sobre as eleições e exercita a cidadania numa jornada preparada para ajudar você a fazer suas escolhas. 
                    </p>
                    <p class="desk">
                        Entenda como tudo funciona, teste seus conhecimentos, defina suas prioridades e tome suas decisões com consciência. Afinal, seu voto vale muito!
                    </p>
                </div>

                <!-- Botoes -->
                <div class="actions"> 

                    <!-- Entre -->
                    <a href="/Login" class="btn entre">
                        <span>ENTRE</span>
                    </a>
                    
                    <span class="title"><strong>OU</strong></span>
                    
                    <!-- Cadastre-se -->
                    <a href="/Cadastro" class="btn cadastre-se">
                        <span>CADASTRE-SE</span>
                    </a>

                    <!-- Sem Cadsatro -->
                    <a href="/Home" class="btn sem-cadsatro">
                        <span>ENTRE SEM CADASTRO</span>
                    </a>

                </div>
                
            </div>
            <div class="infos download">
                <div class="texto">
                    <p>Se preferir, baixe grátis o app:</p>
                    <div class="logos-download">
                        <a href="https://itunes.apple.com/br/app/guia-do-voto/id1388489512?mt=8" target="_blank"><img src="/assets/img/inicio/logo-appstore.png" /></a>
                        <a href="https://play.google.com/store/apps/details?id=br.org.guiadovoto&hl=pt_BR" target="_blank"><img src="/assets/img/inicio/logo-googleplay.png" /></a>
                    </div>
                    <p>Os testes do app Guia do Voto são baseados
                        no conteúdo de um e-book escrito pelo cientista 
                        político Humberto Dantas, especializado em 
                        educação política. O texto traz informações e 
                        curiosidades sobre a história das eleições e o 
                        sistema eleitoral, os direitos e deveres dos eleitores, 
                        o papel dos partidos políticos e a responsabilidade 
                        dos cargos eletivos. Para ajudar você a conhecer 
                        mais sobre a eleição e votar de forma consciente.</p>

<a href="https://guiadovoto.org.br/assets/arquivos/GuiaDoVoto.pdf" target="_blank" class="btn btn-blue-primary">BAIXAR O GUIA DO VOTO (EM PDF)</a>
                </div>
                
            </div>
    </div>
    <div class="footer-inicio">
        <span>OFERECIMENTO</span>
        <img src="/assets/img/inicio/logo-votorantim.png" alt="Votorantim" />
    </div>

</section>