<p align="center">
    <a name="OLE_LINK3"></a>
    <a name="OLE_LINK2"></a>
    <a name="OLE_LINK1">
        <strong>Termos de Uso e Política de Privacidade</strong>
    </a>
</p>
<p>
    Os presentes Termos de Uso e Política de Privacidade (doravante denominados
    simplesmente “TERMOS”) regulamentam a utilização pelo usuário da aplicação
    de internet denominada GUIA DO VOTO, idealizada pelo Instituto Votorantim e
    desenvolvida por Full Bar Serviços Digitais Ltda. (doravante simplesmente
    “Idealizadores”), que tem como objetivo fomentar o exercício da cidadania
    consciente por meio da divulgação de conteúdo exclusivamente
    informativo/educativo acerca do processo eleitoral vigente no ordenamento
    jurídico pátrio, observando estritamente as garantias e direitos
    individuais fundamentais previstos na Constituição da República e no
    ordenamento jurídico vigente, dentre elas a privacidade, a intimidade, a
    liberdade de expressão e do pensamento, a soberania popular, o pleno
    exercício dos direitos políticos, etc., de maneira isenta e sem qualquer
    viés de ordem política ou ideológica.
</p>
<p>
    Disponibilizado gratuitamente pelos Idealizadores, o GUIA DO VOTO está
    disponível aos usuários para acesso por meio das plataformas iOS, Windows
    Phone e Android, estas de propriedade e controle de terceiros, regidas por
    seus próprios termos de uso e políticas de privacidade.
</p>
<p>
    Considerando que no próximo mês de outubro de 2018 o Brasil passará por
    processo eleitoral, realizado por sufrágio universal e voto direto, no qual
    serão eleitos os cargos de Presidente da República, Senadores,
    Governadores, Deputados Federais e Estaduais, nos termos dos arts. 28, 32,
    §2º, 77, da Constituição Federal; Lei Federal nº 4.737/65 e Resolução do
    TSE nº 23.555/2017;
</p>
<p>
    Considerando que no Brasil, nos termos do art. 14, da Constituição da
    República, a soberania popular é exercida pelo sufrágio universal, por meio
    do voto direto, obrigatório e secreto, com igual valor a todos os cidadãos
    maiores de 18 anos, e facultativo aos analfabetos, maiores de 70 anos e
    maiores de 16 e menores de 18 anos;
</p>
<p>
    Considerando o compromisso dos Idealizadores com o país e sua
    responsabilidade social, além de sua preocupação com que o Estado cumpra
    com as garantias fundamentais intrínsecas a todos cidadãos, previstas no
    art. 5º, da Constituição Federal;
</p>
<p>
    Considerando o comprometimento dos Idealizadores na luta por uma sociedade
    mais justa e igualitária;
</p>
<p>
    Tem a presente aplicação de internet, doravante denominada GUIA DO VOTO,
    por meio das informações nela disponibilizadas, o intuito exclusivo de
    fomentar a busca pelo voto consciente, regendo-se pelos termos a seguir.
</p>
<p>
    <strong>1. </strong>
    <strong>Informações Gerais</strong>
</p>
<p>
    1.1. Os presentes TERMOS estabelecem os princípios e condições gerais de
    licenciamento e uso do GUIA DO VOTO.
</p>
<p>
    1.2. Os TERMOS constituem o acordo integral e plenamente vinculante entre o
    GUIA DO VOTO e seu usuário, sendo o único documento a reger sua relação
    contratual, substituindo todos e quaisquer acordos e entendimentos, verbais
    ou escritos, eventualmente mantidos anteriormente. A aceitação dos
    presentes TERMOS é obrigatória para a utilização do GUIA DO VOTO e sua mera
    utilização/navegação implica a imediata e expressa concordância com todas
    as suas cláusulas, políticas e princípios.
</p>
<p>
1.3. Os presentes TERMOS estão disponíveis para consulta no <em>site</em>    <u>www.guiadovoto.org.br.</u> Em virtude da publicidade acima descrita e da
    aceitação prévia expressa de seus usuários, não se admite que o usuário
    alegue desconhecimento das regras e obrigações aqui estabelecidas.
</p>
<p>
    <strong>2. </strong>
    <strong>Disponibilização do produto e cadastro do usuário</strong>
</p>
<p>
    2.1. O GUIA DO VOTO está disponível ao usuário para <em>download</em>
gratuito nas plataformas da    <em>Apple Store, Google Play e Windows Phone Store</em> e também através do
    endereço de internet <u>www.guiadovoto.org.br</u>.
</p>
<p>
    2.2. Após a aceitação, pelo usuário, dos presentes TERMOS, a relação
    contratual será regida por este documento.
</p>
<p>
    2.3. O cadastro do usuário é facultativo para a navegação no GUIA DO VOTO,
    permitindo acesso integral ao conteúdo informativo/educativo, sendo que as
    funcionalidades das áreas “Minhas Prioridades” e “Meus Candidatos”,
    descritas no tópico 5.1 abaixo somente serão acessíveis mediante cadastro.
</p>
<p>
    2.4. O cadastro do usuário para utilização do GUIA DO VOTO será feito por
    meio do seguinte procedimento, atendendo-se o quanto disposto na Lei
    Federal nº 12.965/2014, que instituiu o Marco Civil da Internet:
</p>
<p>
    2.4.1. O cadastro será realizado mediante fornecimento pelo usuário de: (i)
    seu nome completo, (ii) <em>e-mail</em> válido e (iii) estado da federação
    em que reside ou é domiciliado. Todas as informações disponibilizadas pelo
    usuário serão mantidas sob sigilo, e não serão divulgadas, salvo com
    autorização do usuário ou requisição por ordem judicial, conforme dispõe o
    art. 7º, do Marco Civil da Internet.
</p>
<p>
    2.4.2. O cadastro do usuário poderá ser realizado, alternativamente e se
    assim desejar, por meio da conexão direta de seus dados existente em conta
    da rede social <em>Facebook</em>, ficando esta rede social responsável
    pelos dados nela contidos, conforme regem seus termos de uso e política de
    privacidade (
    <a href="https://pt-br.facebook.com/privacy/explanation">
        https://pt-br.facebook.com/privacy/explanation
    </a>
    ).
</p>
<p>
    2.4.3. O GUIA DO VOTO não é um serviço do <em>Facebook</em> e não tem com
    ele qualquer vínculo, não ficando os dados do GUIA DO VOTO, inclusive os
    dados de navegação do usuário no aplicativo, disponíveis aos
    administradores do <em>Facebook</em>.
</p>
<p>
    2.4.4. Como forma de proteção e dispensa de armazenagem dos dados, será
    necessária uma autenticação diferente por dispositivo de acesso
    (Computadores, Celular ou Tablet).
</p>
<p>
    2.4.5. Os Idealizadores não farão, em nenhuma hipótese, o cruzamento dos
    dados de cadastro do usuário com as suas respostas, opiniões e resultados
    obtidos no GUIA DO VOTO.
</p>
<p>
    2.4.6. Os Idealizadores não se responsabilizam pela veracidade dos dados
    fornecidos pelo usuário<em>,</em> por eventuais erros cometidos por ele no
    momento da inserção dos dados fornecidos, ou duplicidade de cadastro.
</p>
<p>
    2.5. Os dados cadastrais fornecidos pelo usuário quando da realização de
    seu cadastro, seja pelos dados por ele fornecidos ou por meio daqueles
extraídos de sua conta na rede social <em>Facebook</em> (nome,    <em>e-mail</em>), serão utilizados tão somente para o objetivo específico
    de acesso ao aplicativo e não serão disponibilizados, compartilhados e/ou
    utilizados pelos Idealizadores ou terceiros para quaisquer fins
    estatísticos, de enquete, ou de pesquisa de opinião.
</p>
<p>
    2.6. Os Idealizadores tem poderes para, a qualquer tempo, alterar os TERMOS
    e Condições do Uso do GUIA DO VOTO, segundo critérios por ela
    estabelecidos, desde que não infrinja os termos da Lei.
</p>
<p>
    2.7. Antes da alteração do novo documento, o usuário será notificado e
    poderá analisá-lo para que expresse sua aceitação para continuidade de uso
    da aplicação de internet.
</p>
<p>
    2.7.1. Caso o usuário continue a utilizar o GUIA DO VOTO após a alteração
    do Termo ou quaisquer disposições nele presentes, isto consistirá em sua
    aceitação das alterações realizadas.
</p>
<p>
    <strong>3. </strong>
    <strong>Objeto e demais disposições:</strong>
</p>
<p>
    3.1. O GUIA DO VOTO tem como objetivo fomentar o exercício da cidadania
    consciente por meio da divulgação de conteúdo exclusivamente
    informativo/educativo acerca do processo eleitoral vigente no ordenamento
    jurídico pátrio, de maneira isenta e sem qualquer viés de ordem política ou
    ideológica, sempre em estrita observância à legislação vigente;
</p>
<p>
    3.2. As informações relacionadas aos partidos políticos e candidatos das
    eleições de 2018 utilizadas no GUIA DO VOTO são imparciais e isentas de
    orientação política ou ideológica, sendo retiradas de fontes oficiais sob
    administração da União e/ou dos Estados, chanceladas pelo Tribunal Superior
    Eleitoral;
</p>
<p>
    3.3. As informações dos usuários nas áreas acessadas mediante cadastro
    “Minhas Prioridades” e “Meus Candidatos”, descritas no tópico 5.1 abaixo,
    não serão coletadas ou armazenadas em qualquer base de dados dos
    idealizadores ou terceiros, ficando restritas somente ao dispositivo do
    próprio usuário. Os dados fornecidos pelos usuários não se prestam a
    qualquer finalidade de divulgação ou estatística, sendo vedada sua
    utilização para fins de enquete, sondagem eleitoral ou pesquisa de opinião
    pública, nos termos previstos na Resolução nº 23.549/2017.
</p>
<p>
    3.4. OS Idealizadores não têm vínculo ou prestam serviços de educação à
    distância e/ou acompanhamento pedagógico aos usuários, sendo certo que o
    GUIA DO VOTO tem o intuito tão somente de disponibilizar conteúdo
    informativo/educativo ao usuário.
</p>
<p>
    3.5. O usuário reconhece e concorda que o GUIA DO VOTO e seus Idealizadores
    não realizam capacitação e/ou certificação de ensino preparatório
    qualificado reconhecido oficialmente pelos órgãos reguladores e Ministério
    da Educação.
</p>
<p>
    <strong>4. </strong>
    <strong>Condições de uso:</strong>
</p>
<p>
    4.1. O usuário se compromete a utilizar o GUIA DO VOTO de maneira
    responsável, em conformidade com os termos da legislação em vigor e dos
    presentes TERMOS, sendo de obrigação do usuário revê-los regularmente para
    garantir ciência constante de todos os dispositivos e alterações
    realizadas.
</p>
<p>
    4.2. O usuário é responsável por sua conduta durante o período de uso do
    GUIA DO VOTO e, desde logo, declara que não a utilizará de forma:
</p>
<p>
    i) ilegal, difamatória, caluniosa ou injuriosa, ou ainda, que viole o
    presente documento;
</p>
<p>
    ii) obscena, prejudicial a menores de idade, com finalidade pornográfica,
    invasiva a privacidade de outrem, racista, antiética ou ofensiva;
</p>
<p>
    iii) que faça apologia ou demande comportamento criminal;
</p>
<p>
    iv) que viole os direitos de propriedade intelectual, direitos autorais ou
    demais direitos;
</p>
<p>
    v) que constitua comunicação comercial não autorizada ou não solicitada,
    tais como e-mail em massa ou spam;
</p>
<p>
    vi) que contenha qualquer código de computador projetado para atrapalhar,
danificar ou prejudicar quaisquer sistemas de computador ou de rede de    <em>software</em>, tais como vírus, <em>trojans, backdoors</em>, ou macros,
    independentemente de causar danos ou não a outrem;
</p>
<p>
    vii) que intercepte cópias, interfira prejudicialmente com danos, ou
    exproprie qualquer sistema, dados ou informação de identificação pessoal de
    outrem;
</p>
<p>
    viii) que desfigure ou desconfigure o produto por qualquer meio;
</p>
<p>
    ix) que revele suas informações de acesso a cadastros e dados de terceiros.
</p>
<p>
    4.3. O uso do GUIA DO VOTO de forma indevida ou em desacordo com o presente
    termo implicará na exclusão do cadastro do usuário, bem como no bloqueio de
    seu uso, sem prejuízo da adoção das medidas cíveis e criminais cabíveis, se
    o caso;
</p>
<p>
    4.4. O usuário concorda em indenizar os Idealizadores por qualquer perda ou
    prejuízo decorrente da utilização desta aplicação de internet de forma
    indevida ou em desacordo com o presente termo.
</p>
<p>
    <strong>5. </strong>
    <strong>Modalidades de uso: </strong>
</p>
<p>
    5.1. O usuário terá à sua disposição para uso dentro do GUIA DO VOTO:
</p>
<p>
    5.1.1. “Cidadania nota 10”: fase educacional/informativa com 3 áreas
    distintas: testes de conhecimento (“O que eu sei sobre as eleições”); dicas
    e curiosidades sobre o universo das eleições(“Você Sabia?”); e o conteúdo
    educacional de autoria de Humberto Dantas, Cientista Social e Doutor em
    Ciência Política pela USP (“Guia do Voto Consciente”).
</p>
<p>
    5.1.2. “Minhas Prioridades”: fase em que o usuário começa a identificar e
    organizar suas próprias ideias e opiniões. O usuário terá a oportunidade de
    definir o perfil de um candidato ideal, com base em parâmetros oficiais do
    TSE (“Meu Candidato Ideal”); os assuntos que ele gostaria de ver sendo
    tratados como prioridades para um país melhor (“O que eu valorizo”); e suas
    posições frente a temas diversos comparadas à forma como os partidos
    políticos votaram esses temas na Câmara dos Deputados (“Se eu fosse um
    político”), de acordo com informações do Banco de Dados do Legislativo do
    CEBRAP/NECI construído com base em informações oficiais.
</p>
<p>
    5.1.3. “Meus Candidatos”: fase em que o usuário conhece todos os candidatos
    oficializados pela Justiça Eleitoral para todos os cargos eletivos em 2018.
    O aplicativo listará os candidatos dentro do perfil definido na fase
    anterior e o usuário poderá filtrar os candidatos que considera mais
    alinhados às suas prioridades, para que chegue à decisão sobre quem irá
    merecer seu voto. Ao final, poderá imprimir a sua “cola” para o momento do
    voto.
</p>
<p>
    5.2. O resultado obtido no Teste “O que eu sei sobre as eleições” de que
    trata o item 5.1.1 poderá ser compartilhado pelo usuário em redes sociais,
    para que possa convidar e estimular seus amigos e seguidores a conhecerem o
    GUIA DO VOTO.
</p>
<p>
    5.2.1. Em caso de compartilhamento em redes sociais pelo usuário, ficam os
    Idealizadores eximidos de responsabilidade por eventuais danos e prejuízos
    de qualquer natureza que venham a ser sofridos pelo usuário e/ou terceiros
    em razão do compartilhamento.
</p>
<p>
    <strong>6. </strong>
    <strong>Política de privacidade:</strong>
</p>
<p>
    6.1. O GUIA DO VOTO atende as disposições previstas na Lei Federal nº
    12.965/14 (Marco Civil da Internet), com destaque ao que diz respeito aos
    dados dos usuários e as informações por ele fornecidas.
</p>
<p>
    6.2. Assegura-se aos usuários a inviolabilidade de sua intimidade e vida
    privada, de suas informações, dados pessoais, registros de conexão e acesso
    ao GUIA DO VOTO, salvo mediante consentimento livre, expresso e informado
    ou nas hipóteses previstas em Lei;
</p>
<p>
    6.2.1. É vedada a divulgação de quaisquer dados dos usuários coletados a
    partir do perfil por ele cadastrado, não servindo tais informações para
    utilização para fins estatísticos, pesquisa de opinião pública, censo,
    enquete, ou pesquisa de boca de urna.
</p>
<p>
    6.3. Os dados cadastrais dos usuários e os registros de acesso serão
    armazenados, nos termos da Lei, durante o período em que o GUIA DO VOTO
    estiver em funcionamento, obedecendo-se o prazo estipulado no art. 15, da
    Lei Federal 12.965/14.
</p>
<p>
    6.4. Os dados e informações dos usuários poderão ser requeridos
    cautelarmente a qualquer momento pelas Autoridades competentes.
</p>
<p>
    7. <strong>Disposições gerais</strong>:
</p>
<p>
    7.1. Os Idealizadores se eximem de toda e qualquer responsabilidade pelos
    danos e prejuízos de qualquer natureza, que possam ser devidos em razão do
    acesso, interceptação, eliminação, alteração, modificação ou manipulação,
    por terceiros não autorizados, dos arquivos e informações disponibilizadas
    por meio do GUIA DO VOTO.
</p>
<p>
    7.2. O presente regulamento é válido em todo o Brasil.
</p>
<p>
    7.3. Fica eleito o Foro Central da Comarca de São Paulo/SP, para dirimir
    quaisquer questões oriundas deste termo, desistindo as partes de qualquer
    outro, por mais privilegiado que seja.
</p>
<p>
    7.4. Qualquer disputa que surja em virtude do documento em questão, será
    regulada pela legislação brasileira.
</p>
<p>
    7.5. Para esclarecimentos de dúvidas a respeito dos presentes TERMOS e
    aspectos técnicos do aplicativo GUIA DO VOTO o usuário poderá entrar em
contato com    <a href="mailto:contato@guiadovoto.com">contato@guiadovoto.com</a>.
</p>
<div>
    <hr align="left" size="1" width="33%"/>
</div>