﻿<section id="meu-candidato-ideal">
	<h1 class="active">Meu Candidato Ideal</h1>
	<nav id="perfisTabs">
		<h2>Definir perfis para seus candidatos pode ajudar você a fazer escolhas mais conscientes.</h2>
		<div class="estadoClone">
			<label for="estadoClone">Estado que você vota</label>
			<select id="estadoClone"></select>
			<a class="triggerEstadoClone"></a>
		</div>
		<hr>
		<ul></ul>
	</nav>
	<div class="steps">
		<div class="step" id="tutorial">
			<div class="tutorial">
				<div class="item">
					<div class="wrap">
						<div class="bg" style="background-image: url(/assets/img/meucandidatoideal/tutorial-01.png)"></div>
						<p>Para definir o seu voto a cada cargo, é muito importante pensar em como deve ser o candidato ideal.</p>
					</div>
				</div>
				<div class="item">
					<div class="wrap">
						<div class="bg" style="background-image: url(/assets/img/meucandidatoideal/tutorial-02.png)"></div>
						<p>A seguir, você vai escolher as características que procura em um candidato a Presidente, Governador, Senador, Deputado Federal e Deputado Estadual/Distrital.</p>
					</div>
				</div>
			</div>
			<a href="#" class="comecar">Começar</a>
		</div>
		<div class="step" id="selecioneEstado">
			<div class="wrap">
				<p>Em qual Estado você vota?</p>
				<div class="field">
	                <a class="triggerEstado"></a>      
	                <select id="estado" required>
	                    <option value="">Selecionar estado</option>
	                </select>
	            </div>
	            <a href="/MeusCandidatos/Candidatos2018/Presidente" class="continuar">Continuar com esse estado</a>
			</div>
		</div>
		<div class="step" id="perfis">
			<div class="perfis"></div>
		</div>
		<div class="step" id="breve">
			<div class="wrap">
				<p>Você já definiu as características do seu candidato ideal.</p>
				<p>Avance para conhecer os candidatos de 2018 com essas características ou, se preferir, modifique suas preferências a qualquer momento.</p>
			</div>
			<a href="/MeusCandidatos/Candidatos2018/Presidente" class="avancar">Avançar</a>
			<a href="#" class="editar">Editar Filtros</a>
		</div>
	</div>

	<nav id="actionFiltros">
		<a class="clean" href="#">Limpar</a>
		<a class="next" href="#">Finalizar</a>
	</nav>
</section>

<!-- Estados Modal de estados -->
<div id="estados">
	<a href="#" class="close">
		<i class="fas fa-times"></i>
	</a>
    <a href="#" class="set-estado">
        <i class="fas fa-arrow-right fa-lg"></i>
    </a>
    <ul></ul>
</div>

<!-- Políticos -->
<div id="selecionarPartidos">
	<a href="#" class="close">
		<i class="fas fa-times"></i>
	</a>
	<a href="#" class="ok">
		<i class="fas fa-arrow-right"></i>
		<span class="num">5</span>
	</a>
	<div class="wrap">
		<div class="desc">
			<h1>Escolha um ou mais partido(s) da lista abaixo.</h1>
			<p>Atualmente existem 35 partidos registrados no Brasil. Pode haver mais de um deles representando determinada ideologia ou forma de enxergar a sociedade. É importante conhecer bem as propostas dos partidos e identificar aqueles que mais se alinham às suas próprias expectativas para o nosso país.</p>
		</div>
		<ul></ul>
	</div>
</div>

<div id="bgTutorial" class="active">
</div>

<div id="bgBreve">
	<div class="puzzle"></div>
</div>

<!-- Modal -->
<div class="modal bg-blue" id="meu-candidato-ideal">
    <div class="container">
        <a href="#" class="close"></a>
        <div class="icon-info">
            <a href="#">
                <img src="/assets/img/meucandidatoideal/bg-modal-meu-candidato-ideal.png" alt="" />
            </a>
        </div>
        <div class="conteudo">
			<p>
                <strong class="tit">Importante:</strong> para definir os perfis dos seus candidatos, você deverá selecionar características como “faixa etária”, “estado civil”, “sexo” e outros dados oficiais usados pelo TSE - Tribunal Superior Eleitoral.
				<br><br>
				Lembramos que esses critérios servem apenas para facilitar suas atividades nas próximas etapas e não devem determinar suas escolhas políticas. 
            </p>
            <a href="#" class="btn aceito">
                <span>OK</span>
            </a>
        </div>
    </div>
</div>