// ====================================================================
// Comparar Minhas Opções
// ====================================================================

section#avaliar-selecionados {

	padding-bottom: 0;
	background-image: url('../img/meuscandidatos/avaliarminhasopcoes/bg-bottom.png');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center 101%;
	left: 0;
	position: relative;
	transition: all 0.3s ease;

	@media screen and (orientation: landscape) and (min-height: 650px) {
		&.pushLeft {
			left: -500px;

			* {
				pointer-events: none;
			}
		}
	}

	// &:after {
	// 	position: absolute;
	// 	z-index: 0;
	// 	bottom: calc(100% - 140px);
	// 	left: -350vw;
	// 	display: block;
	// 	width: 800vw;
	// 	height: 300px;
	// 	height: 800vw;
	// 	content: '';
	// 	border-radius: 50%;
	// 	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3875f1+50,23a5f7+100 */
	// 	background: rgb(56,117,241); /* Old browsers */
	// 	background: -moz-linear-gradient(top, rgba(56,117,241,1) 50%, rgba(35,165,247,1) 100%); /* FF3.6-15 */
	// 	background: -webkit-linear-gradient(top, rgba(56,117,241,1) 50%,rgba(35,165,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
	// 	background: linear-gradient(to bottom, rgba(56,117,241,1) 50%,rgba(35,165,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875f1', endColorstr='#23a5f7',GradientType=0 ); /* IE6-9 */
	// }

	p.texto {
		max-width: 920px !important;
	}

	div.btns {
		max-width: 900px;
		width: calc(100% - 20px);
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		.btn{
			width: calc(50% - 5px);
			margin: 0;

			@media screen and (max-width: 355px) {
				width: 100%;
				margin: 5px 0;
			}
		}
		
		.alterar-temas {
			border: 1px solid $azul-guia;
			flex-direction: column;

			span {
				color: $azul-guia;
				text-align: center;

				&:first-of-type {
					font-size: 12px;
				}
				&:last-of-type {
					font-family: 'Montserrat-Light';
					font-size: 10px;
				}
			}
		}

		.onde-pesquisar {
			border: 1px solid $azul-guia;

			span {
				color: $azul-guia;
				font-size: 12px;
			}
		}
	}


	.resultados {
		margin: 40px auto 40px;
		width: calc(100% - 40px);
		max-width: 900px;

		background: #E3E8F0;
		color: #A5A5A5;
		box-shadow: 0 0 5px rgba(#000, 0.2);
		cursor: pointer;


		&.active {
			background: #FF700C;
			color: #FFF;
		}

	}

	.lista-candidatos {

		width: 100%;
		position: relative;
		padding: 50px 10px 40px 10px;
		margin: 0 0 40px 0;

		&:before {
			bottom: calc(100% - 60px);
		}

		.item {

			width: 100%;
			max-width: 900px;
			margin: 0 auto;
			position: relative;
			margin-top: 120px;

			// &:first-of-type {
			// 	margin-top: 110px;
			// 	.info-candidato {
			// 		.titulo {
			// 			color: #343434;
			// 		}
			// 		.candidato {
			// 			span {
			// 				color: #343434;
			// 			}
			// 		}
			// 		.partido {
			// 			span {
			// 				color: #A5A5A5;
			// 			}
			// 		}
			// 	}
			// }
			
			//Informacoes Candidato
			.info-candidato {

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				padding: 0 10px 0 0;

				position: absolute;
				bottom: calc(100% + 15px);
				width: 100%;
				height: fit-content;
				z-index: 2;

				div.photo {
	                width: 64px;
	                height: 64px;
	                background-position: center center;
	                background-repeat: no-repeat;
	                background-size: cover;
	                border-radius: 500%;
	                border: 3px solid #E3E8F0;
	                margin-right: 15px;
	                cursor: pointer;
	                position: relative;
	                z-index: 1;
	                background-color: #fff;
	                flex-shrink: 0;

	                span {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						filter: grayscale(100%);
						background-position: center center;
						background-repeat: no-repeat;
						background-size: cover;
						border-radius: 50%;
						-webkit-transform: translateZ(0);
						-webkit-perspective: 1000;
						-webkit-backface-visibility: hidden;
					}

	                // ############################
	                // #### Opção sem as fotos ####
	                // ############################
	                // display: none !important;
	            }

				@media screen and (max-width: 1024px) {
					&.fixed {
						position: fixed;
						top: 0;
						left: 0;
						padding: 10px 15px;
						background-color: #FFF;
						box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
						z-index: 3;
	
						display: flex;
						width: 100%;

						transition: top 0.3s ease;

						div.photo {
							// display: none;
							width: 48px;
							height: 48px;
							margin-right: 10px;
						}

						&.scroll {
							top: 60px;
						}
	
						.titulo {
							color: #A5A5A5;
							font-size: 12px;
							width: 100%;
							display: block;
						}
	
						.candidato {
							display: inline-block;
							.nome, .numero {
								font-family: 'Montserrat-Regular';
								color: #0C46E6;
								font-size: 14px;
							}
							.numero {
								&:after {
									content: ', '
								}
							}
						}
	
						.partido {
							display: inline-block;
							.sigla {
								font-family: 'Montserrat-Regular';
								color: #0C46E6;
								font-size: 14px;
							}
							.nome-partido {
								display: none;
							}
						}
					}
				}

				.titulo {
					font-family: 'Montserrat-Regular';
					font-size: 12px;
					color: #F9E959;
					text-transform: uppercase;
					margin: 3px 0;
				}

				.candidato{
					margin: 3px 0;
					text-transform: capitalize;
					.nome, .numero {
						font-family: 'Montserrat-Light';
						font-size: 18px;
						color: #FFF;
					}
				}

				.partido {
					margin: 3px 0;
					.sigla, .nome-partido {
						font-family: 'Montserrat-Light';
						font-size: 16px;
						color: #FFF;
						// text-transform: capitalize;

					}

					.sigla {
						font-family: 'Montserrat-SemiBold';
						text-transform: uppercase;
					}

				}
			}

			//Box Temas
			.wrap {

				background-color: #FFF;
				border-radius: 10px;
				padding: 20px;
				box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);

				@include breakpoint (mini) {
					padding: 20px 10px;
				}

				.tema {

					display: flex;
					flex-direction: row;
					flex-wrap: wrap;

					width: 100%;
					position: relative;
					margin-bottom: 30px;

					&:last-of-type {
						margin-bottom: 0;
					}

					.informacoes {
						width: 100%;
						position: relative;

						display: flex;
						flex-direction: row;
						justify-content: space-between;


						.box {
							display: flex;
							flex-direction: column;
							margin-bottom: 15px;

							
							.title, .rev {

								font-family: 'Montserrat-Regular';
								font-size: 10px;
								color: #555555;
								text-transform: uppercase;

								width: 100%;
								position: relative;
							}
							.nome-tema {
								font-family: 'Montserrat-Regular';
								font-size: 18px;
								color: #343434;
								
								width: 100%;
								position: relative;
								margin: 0 0 0 0;
							}
							
							.rev {
								// text-align: right;
								display: flex;
								flex-direction: row;
								align-items: center;
								justify-content: flex-start;
								margin-top: 0;
							}

							.porcentagem {
								// text-align: right;
								font-size: 14px;
								color: #0000BF;
								margin-left: 5px;
							}
							
						}
					}


					input[type=radio] {
						display: none;
					}

					input[type=radio] + label {

						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;

						width: 16.66666%;
						position: relative;

						font-family: 'Montserrat-Bold';
						font-size: 14px;
						color: #343434;

						&:before {
							content: '';
							display: block;
							width: 30px;
							height: 30px;
							position: relative;
							border: 1px solid #DBDBDB;

							display: block;
							width: 30px;
							height: 30px;
							content: '';
							border: 2px solid #DBDBDB;
							border-radius: 50%;
							margin-bottom: 5px;
						}

						&:after {
							position: absolute;
							display: block;
							width: 24px;
							height: 24px;
							content: '';
							transition: all .3s ease;
							transform: scale(0);
							border-radius: 50%;
							background-color: #FF700C;
							top: 5px;
							left: calc(50% - 12px);
						}
					}

					input[type=radio]:checked + label {
						&:after {
							transform: scale(1);
						}
					}

				}

			}
		}
	}

	div.bg {
		margin: 0 auto;
		position: relative;
		height: auto;
		width: 100%;
		overflow: hidden;

		&:before {
			content: "";
			width: 300vw;
			height: 300vw;
			position: absolute;
			top: 100px;
			left: -100vw;
			border-radius: 50%;
			
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c46e6+0,06e3ff+100 */
			background: rgb(12,70,230); /* Old browsers */
			background: -moz-linear-gradient(-45deg, rgba(12,70,230,1) 0%, rgba(6,227,255,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(-45deg, rgba(12,70,230,1) 0%,rgba(6,227,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(135deg, rgba(12,70,230,1) 0%,rgba(6,227,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c46e6', endColorstr='#06e3ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

			@media screen and (max-width: 500px) {
				top: 60px;
			}
		}

		img {
			display: block;
			position: relative;
			margin: 0 auto;
			max-width: 600px;
			width: calc(100% - 20px);
			bottom: -30px;
		}
	}

}

//Modal Bottom
div#modal-bottom {
	// display: none;
	position: fixed;
	width: 100%;
	bottom: -100vh;
	left: 0;
	z-index: 10;
	background: #fff;
	padding: 30px;
	border-top: 1px solid #E3E8F0;
	box-shadow: 0 0 0 200vh rgba(#fff, 0);
	transition: bottom 0.5s ease, box-shadow 0.5s ease;

	@media screen and (max-width: 360px) {
		padding: 20px;
	}

	&.active {
		bottom: 0;
		box-shadow: 0 0 0 200vh rgba(#fff, 0.75);
	}

	.wrap {
		width: 100%;
		max-width: 1170px;

		margin: 0 auto;

		p {
			font-size: 16px;
			font-family: "Montserrat-Light";
			color: #343434;
			line-height: 140%;
			padding: 0;

			@media (max-width: 360px) {
				font-size: 14px;
				margin: 5px 0;
			}

			strong {
				font-family: "Montserrat-SemiBold";
				color: #343434;
			}
		}

		ul {
			li {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				width: 100%;
				span {
					font-family: "Montserrat-Light";
					font-size: 16px;
					color: #0C46E6;
					margin: 10px 0;

					&.porcentagem {
						color: #FF700C;
						text-transform: uppercase;
					}

					@media (max-width: 360px) {
						font-size: 14px;
						margin: 5px 0;
					}
				}
			}
		}

		a.btn {
			font-family: "Montserrat-Light";
			text-transform: uppercase;
			margin: 15px 0 0 0;
			font-size: 12px;
			text-align: center;

			&.avancar {
				color: #fff;
				background-color: #FF700C;
			}

			&.alterar-temas {
				color: #0C46E6;
				border: 1px solid #0C46E6;
			}
		}
		
	}

}