// ====================================================================
// Cadastro
// ====================================================================

section#cadastro {

    padding: 0 20px 0 20px;

    &:before {
        content: '';
        display: inline-flex;
        width: 121px;
        height: 97px;
        position: absolute;
        top: 0;
        right: 0;
        left: auto;

        background-image: url('../img/cadastro/bg-cadastro.png');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: top right;

        @include breakpoint(small-plus) {
            background: none;
        }
    }

    .container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 4px;
        min-height: 100vh;
        width: 100%;

        @include breakpoint(small-plus) {
            padding: 80px 0;
        }

        //Informacoes
        .infos {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100%;
            padding-top: 10px;

            .topo {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin: 10px 0 50px 0;

                @include breakpoint(small-plus) {
                    position: fixed;
                    top: 0;
                    left: 0;
                    padding: 20px 10px;
                    margin: 0;
                    background: #fff;
                    border: 1px solid rgba(#0000BF, 0.1);
                }

                & > div {
                    width: 33.3%;
                }

                .back {
                    img {
                        width: 18px;
                        height: 13px;
                    }
                }

                h1 {
                    font-size: 12px;
                    text-align: center;
                    margin: 0;
                }

            }


            p {
                margin-top: 0;
                width: 100%;
                @include breakpoint(small-plus) {
                    text-align: center;                    
                }

                &:nth-of-type(1) {
                    color: #343434;
                }

            }

            small {
                width: 100%;
                @include breakpoint(small-plus) {
                    text-align: center;                    
                }
            }

            .facebook {

                width: 100%;
                background-color: #0C46E6;
                margin: 15px 0 20px 0;
                @include breakpoint(small-plus) {
                    max-width: 400px;
                }

                i {
                    color: #FFF;
                    padding: 0 10px 0 0;
                }

                span {
                    font-size: 12px;
                }
    
            }
    
            .title {
                display: flex;
                justify-content: center;
                align-items: center;
    
                width: 100%;
                position: relative;
                z-index: 1;
                margin: 20px 0 30px 0;
                color: #A5A5A5;

                max-width: 960px;
    
                
                &:before {
                    position: absolute;
                    z-index: 0;
                    display: inline-block;
                    width: 100%;
                    margin: 0 15px 0 0;
                    content: '';
                    border-top: 1px solid #F0F2F7;
                }
    
                strong {
                    line-height: 100%;
                    position: relative;
                    z-index: 1;
                    display: block;
                    padding: 0 10px;
                    background: #FFF;
                    font-weight: 400;
                }
    
            }
        }

        //Formulario
        .cadastro {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;

            width: 100%;
            position: relative;

            @include breakpoint(small-plus) {
                flex-direction: row;
                flex-wrap: wrap;
                max-width: 960px;
                justify-content: space-between;
            }

            .field {

                &.estado {
                    .verify {
                        right: 30px;
                    }
                }
                @include breakpoint(small-plus) {
                    width: calc(50% - 20px);

                    &:nth-of-type(1) {
                        order: 1;
                    }
                    &:nth-of-type(2) {
                        order: 3;
                    }
                    &:nth-of-type(3) {
                        order: 4;
                    }
                    &:nth-of-type(4) {
                        order: 2;
                    }
                }
            }

            .triggerEstado {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;


                &:after {
                    background-image: url('../img/icons/arrow-black.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    content: '';
                    display: block;
                    position: absolute;
                    top: 15px;
                    right: 5px;
                    width: 14px;
                    height: 8px;

                }
            }

            .box-termos {
                display: block;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                @include breakpoint(small-plus) {
                    width: calc(50% - 20px);
                    order: 5;
                }

                .termos {
                    text-transform: none;
                    pointer-events: auto;
                    // display: block !important;
                    a {
                        font-size: 14px;
                        color: #0C46E6;
                        text-decoration: underline;
                        text-underline-position: under;
                        margin-left: 5px;
                        display: contents;
                    }
                }

            }


            //Captcha
            .captcha {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                position: relative;
                border: 1px solid #ccc;
				border-radius: 4px;
				padding: 5px;
				margin-bottom: 45px;

				#captchaCode {
					background: #ddd;
					color: #fff;
					width: calc(100% - 48px);
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: space-around;
					padding: 10px 0;
					border-radius: 4px 0 0 4px;
					font-size: 26px;
					height: 48px;
                    position: relative;
                    user-select: none;

                    * {
                        user-select: none;                        
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: transparent;
                        top: 0;
                        left: 0;
                        z-index: 1;
                    }

					&.valid {
						background: #0ce66d;
					}

					&.invalid {
						background: #dd1754;
					}
				}

				#captchaRefresh {
					width: 48px;
					height: 48px;
					background: #ff6f0c;
					color: #fff;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 0 4px 4px 0;
					border: 0;
					font-size: 20px;
				}

				#captchaInput {
					text-align: center;
					letter-spacing: 10px;
				}

                small {
                    font-size: 9px;
                    margin: 5px 0 0 0;
                    position: absolute;
                    top: calc(100%);
                    left: 0;
                    width: 100%;
                    text-align: center;
                }

				::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					letter-spacing: normal !important;
				}
				::-moz-placeholder { /* Firefox 19+ */
					letter-spacing: normal !important;
				}
				:-ms-input-placeholder { /* IE 10+ */
					letter-spacing: normal !important;
				}
				:-moz-placeholder { /* Firefox 18- */
					letter-spacing: normal !important;
				}       

                @include breakpoint(small-plus) {
                    width: calc(50% - 20px);
                    order: 6;
                }
            }

        }

        .send-cadastro {
            background-color: #FF700C;
            display: block;
            margin-left: auto;
            margin-right: auto;
            @include breakpoint(small-plus) {
                max-width: 400px;
                order: 7;
            }
        }

    }


}

//Estados
div#estados {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.9);
    display: none;
    z-index: 5;

    &.active {
        display: block;
    }

    a.close {
        position: fixed;
        top: 75px;
        left: 15px;
        font-size: 20px;
        display: flex;
        width: 20px;
        height: 20px;
        align-items: center;
        justify-content: center;
        opacity: 0.75;
    }

    a.set-estado {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        right: 15px;
        background-color: #FF700C;
        z-index: 4;
        border-radius: 50%;
        display: none;

        i {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            position: relative;
            width: 50px;
            height: 50px;
            color: #FFF;
        }

    }

    ul {
        width: 100%;
        //max-height: 50%;
        overflow-x: hidden;
        position: relative;
        //top: calc(50% - 35px);
        background-color: #FFF;
        overflow: auto;
        height: 50vh;
        //padding: 50px 0 0 0;
        

        li {
            padding: 20px 20px;
            border-bottom: 1px solid #E3E8F0;

            &:first-of-type{
                border-top: 1px solid #E3E8F0;
            }

            span {
                margin-left: 20px;
            }

            &.active {
                background: #e3e8f0;
            }
        }
    }

}

//Ajuda
.ajuda {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10%;
    right: 2%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
    background-color: #0000BF;
    z-index: 100;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
    }
}