// ====================================================================
// Candidatos 2018
// ====================================================================

section#candidatos-2018 {
	padding-left: 0;
	padding-right: 0;
	position: relative;
	z-index: 7;
	transition: all 0.3s ease;
	padding: 120px 20px 0 20px;
	left: 0;
	
	@media screen and (orientation: landscape) and (min-height: 650px) {
		&.pushLeft {
			left: -500px;
			
			* {
				pointer-events: none;
			}
		}
	}
	
	div.ultimaAtualizacao {
		font-family: 'Montserrat-Light';
    font-size: 11px;
    position: relative;
    max-width: 1170px;
    margin: 0 auto 20px;
    padding: 0 20px;
    text-transform: uppercase;
		color: #555;
		
		strong {
			font-family: 'Montserrat-SemiBold';
		}
	}

	div.resultados {
		padding: 30px 15px 175px;
		border-top: 1px solid #E3E8F0;
		overflow: hidden;
		position: relative;
		min-height: calc(100vh - 270px);
		
		@media screen and (max-width: 900px) {
			min-height: calc(100vh - 250px);
		}
		
		@media screen and (max-width: 768px) {
			min-height: calc(100vh - 247px);			
		}
		
		@media screen and (max-width: 450px) {
			min-height: calc(100vh - 269px);			
		}
		
		@media screen and (max-width: 360px) {
			padding: 20px 5px 170px;
		}
		
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc40a+0,ff700c+100 */
		background: rgb(255,196,10); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(255,196,10,1) 0%, rgba(255,112,12,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(255,196,10,1) 0%,rgba(255,112,12,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(255,196,10,1) 0%,rgba(255,112,12,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc40a', endColorstr='#ff700c',GradientType=0 ); /* IE6-9 */
		
		&:before {
			position: absolute;
			height: 300px;
			width: 800vw;
			height: 800vw;
			left: -350vw;
			bottom: calc(100% - 140px);
			content: "";
			display: block;
			background: #fff;
			border-radius: 50%;
			z-index: 0;
		}
		
		
		div.items {
			display: flex;
			flex-wrap: wrap;
			max-width: 1170px;
			margin: 0 auto;
			width: 100%;
			align-items: center;
			// display: none;
			
			&.center {
				justify-content: center;				
			}
		}
		
		div.item {
			position: relative;
			z-index: 1;	
			background: #fff;
			border-radius: 5px;
			box-shadow: 0 0 5px rgba(0,0,0,0.2);
			margin: 15px;
			min-height: 200px;
			padding: 15px;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: center;
			width: 100%;
			
			@media screen and (min-width: 960px) {
				width: calc(33.333333% - 30px);
			}
			
			@media screen and (min-width: 650px) and (max-width: 960px) {
				width: calc(50% - 30px);
			}
			
			div.infos {
				display: flex;
				// flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				transition: all 0.3s ease;
				border-bottom: 1px solid #E3E8F0;
				padding-bottom: 15px;
				margin-bottom: 15px;
				
				div.photo {
					width: 64px;
					height: 64px;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;
					border-radius: 50%;
					border: 3px solid #E3E8F0;
					margin-right: 15px;
					cursor: pointer;
					transition: all 0.3s ease;
					position: relative;
					z-index: 1;
					background-color: #fff;
					flex-shrink: 0;
					
					span {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						filter: grayscale(100%);
						background-position: center center;
						background-repeat: no-repeat;
						background-size: cover;
						border-radius: 50%;
						-webkit-transform: translateZ(0);
						-webkit-perspective: 1000;
						-webkit-backface-visibility: hidden;
					}
					
					// ############################
					// #### Opção sem as fotos ####
					// ############################
					// display: none !important;
				}
				
				div.candidato {
					width: 100%;
					
					div.nome {
						font-family: "Montserrat-Regular";
						font-size: 18px;
						color: #343434;
						margin-bottom: 5px;
						text-transform: capitalize;
					}
					
					div.partido {
						font-family: "Montserrat-Light";
						font-size: 12px;
						color: #A5A5A5;
						text-transform: capitalize;
						
						span {
							font-size: 14px;
							font-family: "Montserrat-SemiBold";
							display: block;
						}
					}
					
				}
				
				
			}
			
			input {
				display: none;
			}
			
			input:checked + div.infos + label {
				color: #fff;
				background: #0C46E6;
				box-shadow: 0 0 20px rgba(#0000BF, 0.3);
				&:before {
					content: "Remover do \"Meu Voto\""
				}
			}
			
			input:checked + div.infos div.photo {
				border-color: #0c46e6;
			}
			
			label, span.escolhido {
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 60px;
				background: #fff;
				width: calc(100% - 70px);
				margin: 0 10px 0 0;
				color: #0C46E6;
				border: 1px solid #0C46E6;
				font-family: "Montserrat-Light";
				text-transform: uppercase;
				font-size: 0;
				letter-spacing: 1px;
				transition: all 0.3s ease;
				
				
				&:before {
					font-size: 12px;
					content: "Enviar para \"Meu Voto\"";
					
					@media screen and (max-width: 360px) {
						font-size: 10px;
					}
				}
			}
			
			span.escolhido {
				font-size: 12px;
				background: #E3E8F0;
				border: 1px solid #E3E8F0;
				color: #A5A5A5;
				
				&:before {
					display: none;
				}
			}
			
			div.afinidade {
				display: block;
				width: 60px;
				div.title {
					font-size: 10px;
					font-family: "Montserrat-Light";
					color: #A5A5A5;
					letter-spacing: 1;
					text-transform: uppercase;
					margin-bottom: 3px;
				}
				div.porcentagem,
				span.avaliado {
					font-family: "Bebas";
					color: #FF700C;
					font-size: 32px;
				}
				div.nao-avaliado {
					font-family: "Montserrat-Regular";
					color: #FF700C;
					font-size: 10px;
					text-align: center;
				}
			}
			
		}
		
		div.bg {
			display: flex;
			align-items: center;
			justify-content: center;
			&:before {
				position: absolute;
				height: 300px;
				width: 800vw;
				height: 800vw;
				left: -350vw;
				bottom: calc(100% - 100px);
				content: "";
				display: block;
				background: #fff;
				border-radius: 50%;
				z-index: 0;
			}
			
			img {
				position: absolute;
				height: 200px;
				bottom: -5vh;
			}
		}
	}
	
	.wrapper-actions {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		
		width: 100%;
		position: fixed;
		bottom: 0;
		z-index: 2;
		margin: 0 auto;
		
		button#verMeuVoto, a.avaliar {
			position: relative;
			z-index: 10;
			background: #FFC40A;
			color: #fff;
			border: 1px solid #FFC40A;
			box-shadow: 0 0 20px rgba(#C76520, 0.5);
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: "Montserrat-Light";
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 1px;
			padding: 0 20px;
			margin: 30px 10px;
			border-radius: 50px;
			transition: all 0.3s ease;
			cursor: pointer;
			max-width: 350px;
			width: calc(100% - 30px);
			
			i {
				font-size: 16px;
				margin-left: 5px;
				// transition: all 0.3s ease;
			}
			
			
		}
		
		button#verMeuVoto {
			display: none;
			
			&.active {
				display: block;
			}
			
		}
		
	}
	
}


div#limiteCandidatos {
	// display: none;
	position: fixed;
	width: 100%;
	bottom: -100vh;
	left: 0;
	z-index: 8;
	background: #fff;
	padding: 30px;
	border-top: 1px solid #E3E8F0;
	box-shadow: 0 0 0 200vh rgba(#fff, 0);
	transition: bottom 0.5s ease, box-shadow 0.5s ease;
	
	
	@media screen and (max-width: 360px) {
		padding: 20px;
	}
	
	&.active {
		bottom: 0;
		box-shadow: 0 0 0 200vh rgba(#fff, 0.75);
	}
	
	div.wrap {
		max-width: 1170px;
		margin: 0 auto;
	}
	
	div.encontrados {
		position: relative;
		z-index: 1;
		font-size: 10px;
		font-family: "Montserrat-Light";
		text-transform: uppercase;
		color: #555555;
		
		span.num {
			font-family: "Montserrat-SemiBold";
		}
	}
	
	h1 {
		color: #0C46E6;
		font-size: 16px;
		margin: 15px 0;
		padding: 0;
		font-family: "Montserrat-SemiBold";
		text-transform: none;
		line-height: 140%;
	}
	
	p {
		font-size: 16px;
		font-family: "Montserrat-Light";
		color: #343434;
		line-height: 140%;
		margin: 0 0 30px;
		padding: 0;
		
		strong {
			font-family: "Montserrat-SemiBold";
		}
	}
	
	a.btn {
		font-family: "Montserrat-Light";
		text-transform: uppercase;
		margin: 15px 0 0 0;
		font-size: 12px;
		
		&.preferencias {
			color: #fff;
			background-color: #FF700C;
		}
		
		&.maisFiltros {
			color: #fff;
			background-color: #FF700C;
		}
		
		&.continue {
			color: #0C46E6;
			border: 1px solid #0C46E6
		}
	}
}

div#maisFiltros {
	position: fixed;
	width: 100%;
	height: calc(100vh);
	bottom: -100vh;
	z-index: 21;
	background: #fff;
	transition: all 0.3s ease;
	
	@media screen and (min-width: 700px) {
		height: auto;
	}
	
	&.active {
		bottom: 0;
		box-shadow: 0 0 15px rgba(#000, 0.2), 0 0 0 300vw rgba(#fff, 0.75);
		
		@media screen and (min-width: 700px) {
			
		}
	}
	
	div.header {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 60px;
		border-bottom: 1px solid #E3E8F0;
		
		a.close {
			position: absolute;
			top: 0;
			left: 0;
			color: #0000BF;
			width: 60px;
			height: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 25px;
		}
		
		h1 {
			display: block;
			margin: 0;
			padding: 0;
			font-size: 12px;
			font-family: "Montserrat-Bold";
			color: #343434;
		}
	}
	
	div.content {
		padding: 30px;
		height: calc(100% - 120px);
		max-height: calc(100vh - 120px);
		overflow: auto;
		margin: 0 auto;
		// max-width: 1170px;
		
		div.eleitos {
			max-width: 1170px;
			margin-left: auto;
			margin-right: auto;
			
			input {
				display: none;
			}
			
			input:checked + label {
				&:before {
					background-color: $azul-guia;
				}
			}
			
			label {
				width: 100%;
				font-size: 16px;
				font-family: 'Montserrat-Light';
				padding: 0 0 0 40px;
				margin: 0 0 15px 0;
				min-height: 24px;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				cursor: pointer;
				transition: all 0.3s ease;
				
				@media screen and (min-width: 700px) {
					width: 100%;
				}
				
				&:before {
					content: "";
					display: block;
					position: absolute;
					border-radius: 50%;
					width: 22px;
					height: 22px;
					border: 1px solid #E3E8F0;
					left: 0;
					top: calc(50% - 12px);
					box-shadow: inset 0 0 0 4px #fff;
					background-color: #fff;
					transition: all 0.3s ease;
				}
			}
			
			p {
				padding: 0;
				margin: 0;
				font-family: "Montserrat-Light";
				font-size: 14px;
			}
		}
		
		div.coligacoes {
			border-top: 1px solid #E3E8F0;
			margin-top: 30px;
			padding-top: 30px;
			display: flex;
			flex-wrap: wrap;
			max-width: 1170px;
			margin-left: auto;
			margin-right: auto;
			
			h1 {
				display: flex;
				font-family: "Montserrat-Bold";
				font-size: 18px;
				color: #343434;
				margin: 0;
				padding: 0;
				text-transform: none;
				width: 100%;
			}
			
			p {
				padding: 0;
				margin: 15px 0;
				font-family: "Montserrat-Light";
				font-size: 16px;
				width: 100%;
			}
			
			input {
				display: none;
			}
			
			input:checked + label {
				&:before {
					background-color: $azul-guia;
				}
			}
			
			label {
				width: 100%;
				font-size: 16px;
				font-family: 'Montserrat-Light';
				padding: 0 0 0 40px;
				margin: 0 0 15px 0;
				min-height: 24px;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				cursor: pointer;
				transition: all 0.3s ease;
				// max-width: 360px;
				
				&:before {
					content: "";
					display: block;
					position: absolute;
					border-radius: 50%;
					width: 22px;
					height: 22px;
					border: 1px solid #E3E8F0;
					left: 0;
					top: calc(50% - 12px);
					box-shadow: inset 0 0 0 4px #fff;
					background-color: #fff;
					transition: all 0.3s ease;
				}
			}
		}
	}
	
	div.footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 60px;
		box-shadow: 0 0 10px rgba(#000, 0.05);
		padding: 0;
		
		a {
			display: flex;
			height: 60px;
			padding: 0 30px;
			align-items: center;
			justify-content: center;
			color: #0C46E6;
			font-family: "Montserrat-Light";
			font-size: 12px;
			text-transform: uppercase;
		}
		
		
	}
}

div#candidato, div#candidatoAfinidade {
	position: fixed;
	right: 0;
	bottom: -100vh;
	height: 100vh;
	width: 100%;
	overflow: auto;
	z-index: 101;
	background: #fff;
	transition: all 0.3s ease;
	padding: 15px;
	box-shadow: 0 0 15px rgba(#000, 0), 0 0 0 300vw rgba(#fff, 0);
	
	@media screen and (min-width: 700px) {
		bottom: 0;
		right: -100vw;
		max-width: 500px;
	}
	
	&.active {
		bottom: 0;
		box-shadow: 0 0 15px rgba(#000, 0.2), 0 0 0 300vw rgba(#fff, 0.75);
		
		@media screen and (min-width: 700px) {
			bottom: 0;
			right: 0;
		}
		
		a.close {
			right: 500px;
			width: 100vw;
		}
	}
	
	a.close {
		position: fixed;
		height: 100vh;
		background: transparent;
		display: block;
		top: 0;
		right: 0;
		width: 0;
		cursor: default;
	}
	
	div.header {
		position: relative;
		margin: -15px -15px 0 -15px;
		width: calc(100% + 30px);
		overflow: hidden;
		padding: 15px 15px 80px;
		
		&:before {
			position: absolute;
			height: 300px;
			width: 1800px;
			height: 1800px;
			left: calc(-900px + 50%);
			bottom: 0;
			content: "";
			display: block;
			background: red;
			border-radius: 50%;
			z-index: 0;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc40a+0,ff700c+100 */
			background: rgb(255,196,10); /* Old browsers */
			background: -moz-linear-gradient(top, rgba(255,196,10,1) 80%, rgba(255,112,12,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(255,196,10,1) 80%,rgba(255,112,12,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(255,196,10,1) 80%,rgba(255,112,12,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc40a', endColorstr='#ff700c',GradientType=0 ); /* IE6-9 */
		}
		
		&:after {
			position: absolute;
			height: 300px;
			width: 1800px;
			height: 1800px;
			left: calc(-900px + 50%);
			bottom: 0;
			content: "";
			display: block;
			border-radius: 50%;
			z-index: 1;
			background-image: url('../img/meuscandidatos/candidatos2018/bg-laranja-silhueta-cidade.png');
			background-position: center calc(100% - 15px);
			background-repeat: no-repeat;
		}
		
		div.infos, div.afinidade {
			position: relative;
			z-index: 2;
			text-align: center;
			margin: 15px auto;
			div.title {
				color: #F9E959;
				font-size: 12px;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-family: "Montserrat-Light";
			}
			div.nome {
				font-family: "Montserrat-Light";
				color: #fff;
				font-size: 22px;
				text-transform: capitalize;
			}
			
			div.porcentagem {
				font-size: 84px;
				font-family: "Bebas Neue";
				color: #fff;
				font-weight: normal;
			}
		}
		
		div.infos {
			div.title {
				font-size: 10px;
			}
		}
		
		> div.title {
			height: 60px;
			margin: 0;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: -10px 0 10px;
			position: relative;
			z-index: 5;
			width: 100%;
			color: #fff;
			text-transform: uppercase;
		}
		
		a.voltar {
			color: #fff;
			position: absolute;
			left: 10px;
			z-index: 1;
			top: 100%;
			i {
				font-size: 22px;
				margin-right: 10px;
			}
		}
		
		input:checked + label {
			&:before {
				content: "Remover do \"Meu Voto\"";
			}
		}
		label {
			margin-bottom: 15px;
			&:before {
				content: "Enviar para \"Meu Voto\"";
			}
		}
		
		input:checked + label + a.verMeuVoto {
			height: 50px;
			transform: scale(1);
			font-size: 12px;
		}
		
		a.verMeuVoto {
			height: 0;
			transform: scale(0);
			border: 1px solid #ffc40a;
			background: #ffc40a;
			color: #fff;
			font-size: 0;
			&:before {
				content: "";
			}
		}
		
	}
	
	div.photo {
		width: 94px;
		height: 94px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 50%;
		border: 3px solid #E3E8F0;
		transition: all 0.3s ease;
		position: relative;
		z-index: 2;
		margin: -50px auto 0;
		background-color: #E3E8F0;
		// filter: grayscale(100%);
		
		span {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			filter: grayscale(100%);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 50%;
			-webkit-transform: translateZ(0);
			-webkit-perspective: 1000;
			-webkit-backface-visibility: hidden;
		}
		
		&.active {
			border-color: #0c46e6;
		}
		
		// ############################
		// #### Opção sem as fotos ####
		// ############################
		// display: none !important;
	}
	
	
	
	div.item {
		padding: 30px 15px;
		border-bottom: 1px solid #E3E8F0;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 16px;
		font-family: "Montserrat-Regular";
		color: #343434;
		position: relative;
		
		a.info {
			position: absolute;
			bottom: 100%;
			right: 15px;
		}
		
		div.title {
			font-size: 10px;
			font-family: "Montserrat-Light";
			text-transform: uppercase;
			color: #A5A5A5;
			margin-bottom: 5px;
		}
		
		div.nome {
			padding-right: 30px;
			font-size: 22px;
			text-transform: capitalize;
		}
		
		div.status {
			text-align: right;
			text-transform: uppercase;
			
			div {
				font-size: 12px;
				
				&.txt {
					font-family: "Montserrat-Regular";
					
					&.deferido {
						color: #6BD75F;
					}
					&.deferido-com-recurso {
						color: #6BD75F;
					}
					&.indeferido {
						color: #FF700C;
					}
					&.indeferido-com-recurso {
						color: #FF700C;
					}
					&.renuncia {
						color: #DD1754;
					}
					&.aguardando-julgamento {
						color: #343434;
					}
				}
			}
		}
		
		div.partido {
			div.sigla {
				font-size: 22px;
			}
			div.txt {
				font-family: "Montserrat-Light";
				color: #A5A5A5;
				// text-transform: capitalize;
			}
			
		}
		
		div.nomeCompleto {
			div.txt {
				text-transform: capitalize;
			}
		}
		
		div.numero {
			font-family: 'Dense-Regular';
			font-size: 64px;
		}
		
		div.idade, div.sexo {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}
		
		&.subcargos {
			width: 100%;
			flex-wrap: wrap;
			div.subcargo {
				width: 100%;
				margin-bottom: 5px;
				text-transform: capitalize;
				
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
		
		div.idade {
			div.num {
				font-family: 'Dense-Regular';
				font-size: 64px;
				line-height: 100%;
			}
			div.txt {
				font-size: 12px;
				color: #343434;
			}
		}
		
		div.grau {
			div.txt {
				text-transform: capitalize;
			}
		}
		
		div.sexo {
			div.icon {
				height: 64px;
				display: flex;
				align-items: center;
				justify-content: center;
				img {
					height: 36px;
				}
			}
			div.txt {
				text-transform: uppercase;
				font-size: 12px;
				color: #343434;
			}
		}
		
		div.ocupacao {
			div.txt {
				text-transform: capitalize;
			}
		}
		
		div.estadoCivil, div.corRaca {
			width: 50%;
			padding-right: 15px;
		}
		
	}
	
	div.conhecerMais {
		padding: 30px 15px;
		border-bottom: 1px solid #E3E8F0;
		p {
			font-size: 16px;
			font-family: "Montserrat-Light";
			line-height: 120%;
			color: #555555;
			margin: 0 0 20px 0;
			padding: 0;
		}
		
		a {
			display: table;
			color: #FF700C;
			// min-width: 150px;
			border-bottom: 1px solid #FF700C;
			margin: 10px 0 0 0;
		}
		
		small {
			margin-top: 20px;
			font-size: 14px;
			font-family: "Montserrat-Light";
			font-style: italic;
			display: block;
		}
	}
	
	input {
		display: none;
	}
	
	input:checked + label {
		color: #fff;
		background: #0C46E6;
		box-shadow: 0 0 20px rgba(#0000BF, 0.3);
		&:before {
			content: "Desmarcar Candidato"
		}
	}
	
	label, a.verMeuVoto {
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 60px;
		background: #fff;
		width: calc(100% - 20px);
		margin: 20px auto 40px;
		color: #0c46e6;
		border: 1px solid #0c46e6;
		font-family: "Montserrat-Light";
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 1px;
		transition: all 0.3s ease;
		cursor: pointer;
		
		&:before {
			content: "Selecionar Candidato"
		}
	}
	
}

div#candidato {
	&.full {
		input:not(:checked) + label {
			display: none;
		}
	}
}

