// ====================================================================
// Capitulo
// ====================================================================

body.cap {
    width: 100%;

    header {
        display: none;
    }

    &.desktop {
        header {
            display: flex;
        }

        section#capitulo {
            padding-left: 0;
            padding-right: 0;
            margin-top: 104px;
            // height: calc(100vh - 115px);
            .nav-cap {
                display: none;
            }

            .container {
                width: 100%;

                .logo-capitulo {
                    display: none;
                }

                .capitulo {
                    width: 100%;
                    height: calc(100vh - 104px);
                    padding-left: calc(((100vh - 104px) * 0.6666));
                    overflow: hidden;
                    overflow-y: scroll;
                }

                .menu-cap {
                    top: 60px;

                    div.close {
                        display: none;
                    }

                    div.title {
                        width: calc(100% - 112px);
                        order: 2;
                        align-items: center;
                        justify-content: center;
                    }

                    div.letter {
                        order: 3;
                        width: auto;
                        width: 56px;
                    }

                    div.list-guias {
                        order: 1;
                        width: 56px;
                    }
                }

                .item {
                    width: 100%;                    

                    &:first-of-type {
                        position: fixed;
                        z-index: 100;
                        background: #fff;
                        height: calc(100vh - 104px);
                        width: calc((100vh - 104px) * 0.6666);
                        bottom: 0;
                        left: 0;

                        .wrap {
                            height: calc(100vh - 104px);

                            .cover-cap {

                                @include breakpoint (mini-h) {
                                    background-position: 0 120px;
                                }

                                .title {
                                    p {
                                        font-size: 26px;
                                         @include breakpoint(normal-) {
                                            font-size: 20px;
                                            line-height: 140%;
                                        }

                                        @include breakpoint (mini-h) {
                                            font-size: 18px;
                                            &:first-of-type {
                                                margin-top: 10px;
                                            }
                                            &:nth-of-type(2) {
                                                font-size: 16px;
                                            }
                                        }
                                    }
                                }
                            }
                            
                        }

                        .enter {
                            display: none;
                        }
                    }

                    &:nth-of-type(2) {
                        padding-top: 30px;
                    }

                    &:last-of-type {
                        .actions {
                            display: flex;
                            position: fixed;
                            z-index: 10;
                            right: 0;
                            width: calc(100% - ((100vh - 104px) * 0.666666));
                            // bottom: 0;
                            // right: 0;
                            p {
                                display: none;
                            }
                        }
                    }

                    .actions {
                        display: none;
                    }

                    .page {
                        height: auto;
                        padding: 0 40px;

                        .topo {
                            padding: 0;

                            p {
                                font-size: 26px;
                            }
                        }

                        p {
                            margin: 0 0 20px 0;
                        }
                    }

                    .wrap {
                        height: auto;

                        .trigger-nav-caps {
                            display: none;
                        }

                        &.final-page {
                            .page {
                                background: none;

                                div.texto {
                                    padding: 0 20px;
                                }

                                div.final {
                                    left: 0px;
                                    width: calc(100% + 40px);
                                    margin: 0 -20px !important;
                                    position: relative;
                                    background-image: url('../img/guia/bg-final-page-desktop.png');
                                    background-repeat: no-repeat;
                                    background-size: 125% auto;
                                    background-position: 100% top;
                                    justify-content: flex-end;
                                    padding: 0 60px 60px 60px;
                                    height: 360px;

                                    p {
                                        width: auto;
                                    }

                                    a {
                                        max-width: 600px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

section#capitulo {
    padding: 0 20px 0 20px;
    transition: padding .5s ease-out;

    .container {
        .logo-capitulo {
            //border-bottom: 2px solid #f0f2f7;
            position: absolute;
            width: 35px;


            a {
                img {
                    width: 35px;
                    padding-top: 8px;
                    padding-bottom: 5px;
                }
            }
        }
    }
    //Active
    &.active {
        //padding: 0;
        .container {

            .logo-capitulo {
                display: none;
            }

            .menu-cap {
                top: 0;

                .list-guia {
                    a {
                        i {
                            color: #0000BF;
                        }
                    }
                }
            }

            .capitulo {
                .item {
                    .wrap {
                        height: calc(100vh - 66px);
                        max-height: calc(100vh - 66px);
                        padding: 56px 40px 0;

                        .pages {
                            display: flex;
                        }

                        .cover-cap {
                            background-size: 70%;
                            width: 100%;

                            .enter {
                                width: 30px;
                                height: 30px;
                            }
                        }

                        .page {
                            border: 1px solid #F0F2F7;
                            padding: 10px;
                            margin: 10px 0 0 0;
                            box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.50);

                            .topo {
                                height: 15%;

                                span {
                                    font-size: 3em;
                                }

                                p {
                                    font-size: 0.7em;
                                }
                            }

                            .texto {
                                //height: 85%;
                                overflow: auto;
                                width: 100%;

                                p {
                                    //font-size: 0.8em;
                                }
                            }
                        }

                        &.final-page {
                            padding: 56px 40px 0;

                            .page {
                                .final {
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .trigger-nav-caps {
                            display: none;
                        }
                    }
                    
                }
            }

            .nav-cap {
                bottom: 0;

                .nav-capitulo {
                    .item {
                        .wrap {
                            .cover-cap {
                                background-size: 60%;
                            }
                        }
                    }
                }
            }
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        // height: calc(100vh);
        //MENU
        .menu-cap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: calc(100%);
            position: fixed;
            top: -50vh;
            padding: 10px 20px 10px 20px;
            border-bottom: 2px solid #E3E8F0;
            background-color: #FFF;
            z-index: 1;
            transition: top .5s ease-in-out;

            .close {
                width: 20%;

                a {
                    i {
                        color: #FF700C;
                    }
                }
            }

            .title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: 50%;
                position: relative;

                p {
                    font-family: 'Montserrat-Regular';
                    text-transform: uppercase;
                    margin: 0;
                    color: #343434;
                    font-size: 12px;

                    &:before {
                        display: inline-block;
                        content: attr(data-num-cap);
                        color: #0000BF;
                        font-weight: 700;
                        margin-right: 5px;
                        font-family: 'Montserrat-Bold';
                    }
                }

                span {
                    font-family: 'Montserrat-Light';
                    text-transform: uppercase;
                    color: #343434;
                    font-size: 12px;
                }
            }

            .letter {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 30%;

                i {
                    color: #DBDBDB;
                    margin: 0 3px;
                }
            }
        }

        .actions-cap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            width: calc(100%);
            padding: 10px 0 0 0;

            .logo {

                img {
                    width: 37px;
                }
            }
        }
        //CAPITULO
        .capitulo {
            display: block;
            width: calc(100% + 40px);
            //height: calc(100vh - 66px);
            position: relative;
            outline: none;

            .item {
                width: calc(100% + 40px);
                position: relative;
                outline: none;

                .wrap {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    width: calc(100%);
                    // height: 100vh;
                    //padding: 0 20px;
                    transition: padding .5s ease-out;

                    @include breakpoint(small-) {
                        min-height: 100vh;
                    }

                    & > div {
                        width: 100%;
                        position: relative;
                    }
                    //Pages
                    .pages {
                        display: none;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 20px 0;

                        span {
                            font-family: 'Montserrat-Light';
                            color: #343434;
                        }
                    }
                    //Cover
                    .cover-cap {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        width: calc(100%);
                        height: 100vh;
                        position: relative;
                        border: 3vw solid;
                        border-width: 20px 12px;
                        overflow: hidden;
                        background-image: url('../img/guia/cover_guia_cap02.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center bottom;

                        div.title {
                            width: 100%;
                        }

                        .trigger {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: transparent;
                            z-index: 100;
                        }

                        &.cap-01 {
                            background-image: url('../img/guia/cover_guia_cap01.png');
                            border-color: #0c46e6;

                            .number {
                                &:before {
                                    background: #0c46e6;
                                }
                            }
                        }

                        &.cap-02 {
                            background-image: url('../img/guia/cover_guia_cap02.png');
                            border-color: #FFC40A;

                            .number {
                                &:before {
                                    background: #FFC40A;
                                }
                            }
                        }

                        &.cap-03 {
                            background-image: url('../img/guia/cover_guia_cap03.png');
                            border-color: #DD1754;

                            .number {
                                &:before {
                                    background: #DD1754;
                                }
                            }
                        }

                        &.cap-04 {
                            background-image: url('../img/guia/cover_guia_cap04.png');
                            border-color: #06E3FF;

                            .number {
                                &:before {
                                    background: #06E3FF;
                                }
                            }
                        }

                        &.cap-05 {
                            background-image: url('../img/guia/cover_guia_cap05.png');
                            border-color: #FF700C;

                            .number {
                                &:before {
                                    background: #FF700C;
                                }
                            }
                        }

                        &.cap-06 {
                            background-image: url('../img/guia/cover_guia_cap06.png');
                            border-color: #0C46E6;

                            .number {
                                &:before {
                                    background: #0C46E6;
                                }
                            }
                        }
                        //Number
                        .number {
                            display: flex;
                            flex-direction: column;
                            padding: 0;
                            position: relative;
                            padding: 20px 20px 20px 40px;
                            //background: #FFC40A;
                            &:before {
                                position: absolute;
                                right: -100px;
                                bottom: -20px;
                                display: block;
                                width: calc(100% + 100px);
                                height: calc(100% + 100px);
                                content: '';
                                transition: all .5s ease-out;
                                border-radius: 0 0 100% 0%;
                            }

                            span {
                                color: #FFF;
                                text-transform: uppercase;
                                text-align: center;
                                z-index: 1;

                                &:first-of-type {
                                    font-size: 0.7em;
                                }

                                &:last-of-type {
                                    font-family: 'Dense-Regular';
                                    font-size: 4em;
                                }
                            }
                        }
                        //Title
                        .title {
                            padding: 20px 20px 20px 40px;

                            p {
                                &:first-of-type {
                                    font-family: 'Montserrat-SemiBold';
                                    margin-bottom: 0;
                                }

                                &:last-of-type {
                                    margin-top: 0;
                                }
                            }
                        }

                        .enter {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            width: 50px;
                            height: 50px;
                            position: absolute;
                            right: 5px;
                            bottom: 5px;
                            background-color: #FFF;
                            border-radius: 50%;
                            box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.50);
                            transition: all .5s ease-in-out;
                            z-index: 101;

                            a {
                                i {
                                    font-size: 25px;
                                    color: #0000BF;
                                }
                            }
                        }

                        img {
                            width: 100%;
                        }
                    }
                    //Page
                    .page {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;
                        //height: calc(100vh - 70px);
                        height: auto;
                        position: relative;

                        @include breakpoint(small-) {
                            display: block;
                            padding-bottom: 40px;
                            border-top: solid 2px #f0f2f7;
                            margin-top: 11px;
                            padding: 0 20px;
                        }

                        .topo {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            width: 100%;
                            position: relative;
                            padding: 0 20px 0 20px;
                            margin-bottom: 10px;

                            @media (max-width: 374px) {
                                padding: 0 10px 0 10px;
                            }


                            span {
                                font-family: 'Dense-Regular';
                                color: #0000BF;
                                font-size: 5em;

                                @media (max-width: 374px) {
                                    font-size: 4em;
                                }
                            }

                            p {
                                font-family: 'Montserrat-Bold';
                                font-size: 1.2em;
                                margin: 0;

                                @media (max-width: 374px) {
                                    font-size: 1.0em;
                                }
                            }
                        }

                        .texto {
                            overflow: auto;
                            width: 100%;

                            p {
                                a.img-texto {
                                    color: #0000bf;
                                    text-decoration: underline;
                                }
                            }
                        }

                        .final {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            width: 100%;
                            position: relative;
                            margin-bottom: 30px;


                            p {
                                font-family: 'Montserrat-Bold';
                                color: #FFF;
                                width: 70%;
                            }

                            .btn {
                                background-color: #FFF;
                                color: #0C46E6;
                                border: 2px solid #0000BF;
                            }
                        }
                    }


                    &.final-page {

                        @include breakpoint(small-) {
                            // align-items: flex-end;
                            // height: 100vh;
                        }

                        padding: 0;

                        .trigger-nav-caps {
                            padding: 0px 20px 0 20px;

                        }

                        .page {
                            height: inherit;
                            background-image: url('../img/guia/bg-final-page.png');
                            background-repeat: no-repeat;
                            background-size: 100%;
                            background-position: center bottom;
                            justify-content: space-between;
                            padding: 0 20px 0 20px;

                            @include breakpoint(small-) {
                                min-height: calc(100vh - 50px);
                                display: flex;

                                .texto {
                                    margin-bottom: calc(20vw + 30px);
                                    
                                }
                                p {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                    //Action
                    .actions {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        width: calc(100%);
                        height: 40px;
                        position: absolute;
                        padding: 0 20px;
                        bottom: 0;
                        border-top: 1px solid #F0F2F7;
                        background-color: #FFF;

                        @include breakpoint(small-) {
                            left: 0;
                        }

                        p {
                            font-family: 'Montserrat-Regular';
                            font-size: .9em;
                        }

                        a {
                            i {
                                color: #0000BF;
                            }
                        }
                    }
                    //
                    .trigger-nav-caps {
                        display: flex;
                        justify-content: space-between;
                        min-height: 27px;
                        margin: 10px 0 0 0;
                        padding: 0 20px 0 20px;

                        > div:first-of-type {
                            width: 27px;
                        }

                        .log-cap {
                            width: 30px;
                        }

                        
                        img {
                            width: 27px;
                            height: 27px;
                        }

                        @include breakpoint(small-) {
                            // position: absolute;
                            // top: 0;
                            // width: 100%;
                            // z-index: 100;
                        }
                    }
                }
            }
        }
        //NAV CAPITULO
        .nav-cap {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: fixed;
            width: calc(100%);
            height: calc(30vh);
            bottom: -50vh;
            background-color: #FFF;
            z-index: 1;
            transition: bottom .5s ease-in-out;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);

            .progresso {
                width: 100%;
                height: 10px;
                background-color: #E3E8F0;

                .bar {
                    background-color: #FF700C;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 0%;
                    height: 10px;
                    transition: width 1s ease-in-out;

                    &:after {
                        content: '';
                        display: inline-block;
                        background-image: url('../img/icons/icon-marcador.png');
                        width: 20px;
                        height: 24px;
                        position: absolute;
                        right: -10px;
                        top: -15px;
                    }
                }
            }

            .nav-capitulo {
                display: block;
                width: 100%;
                position: relative;

                .item {
                    width: 100%;
                    position: relative;
                    outline: none;
                    margin: 15px 10px 10px 10px;

                    .wrap {
                        // display: flex;
                        // flex-direction: column;
                        // justify-content: space-between;
                        // align-items: center;
                        width: 100%;
                        height: calc(30vh - 35px);
                        //background-color: red;
                        position: relative;
                        //height: 100px;
                        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
                        overflow: hidden;


                        & > div {
                            width: 100%;
                            position: relative;
                        }
                        //Pages
                        .pages {
                            display: none;
                            flex-direction: row;
                            justify-content: center;
                            // align-items: center;
                            padding: 5px 0;

                            span {
                                font-family: 'Montserrat-Light';
                                color: #343434;
                            }
                        }
                        //Cover
                        .cover-cap {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            width: calc(100%);
                            // height: calc(100vh);
                            height: 100%;
                            position: relative;
                            border: 3vw solid;
                            border-width: 10px 5px;
                            overflow: hidden;
                            //background-image: url('../img/guia/cover_guia_cap02.png');
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center bottom;

                            &.cap-01 {
                                background-image: url('../img/guia/cover_guia_cap01.png');
                                border-color: #0c46e6;

                                .number {
                                    &:before {
                                        background: #0c46e6;
                                    }
                                }
                            }

                            &.cap-02 {
                                background-image: url('../img/guia/cover_guia_cap02.png');
                                border-color: #FFC40A;

                                .number {
                                    &:before {
                                        background: #FFC40A;
                                    }
                                }
                            }

                            &.cap-03 {
                                background-image: url('../img/guia/cover_guia_cap03.png');
                                border-color: #DD1754;

                                .number {
                                    &:before {
                                        background: #DD1754;
                                    }
                                }
                            }

                            &.cap-04 {
                                background-image: url('../img/guia/cover_guia_cap04.png');
                                border-color: #06E3FF;

                                .number {
                                    &:before {
                                        background: #06E3FF;
                                    }
                                }
                            }

                            &.cap-05 {
                                background-image: url('../img/guia/cover_guia_cap05.png');
                                border-color: #FF700C;

                                .number {
                                    &:before {
                                        background: #FF700C;
                                    }
                                }
                            }

                            &.cap-06 {
                                background-image: url('../img/guia/cover_guia_cap06.png');
                                border-color: #0C46E6;

                                .number {
                                    &:before {
                                        background: #0C46E6;
                                    }
                                }
                            }
                            //Number
                            .number {
                                display: flex;
                                flex-direction: column;
                                padding: 0;
                                position: relative;
                                padding: 5px 5px 5px 10px;
                                //background: #FFC40A;
                                &:before {
                                    position: absolute;
                                    right: -23vw;
                                    bottom: -75px;
                                    display: block;
                                    width: 200vw;
                                    height: 126vw;
                                    content: '';
                                    transition: all .5s ease-out;
                                    border-radius: 0 0 50% 50%;

                                    @media screen and (max-width: 370px) {
                                        right: -23vw;
                                        bottom: -43px;
                                        width: 200vw;
                                        height: 80vw;
                                    }
                                }


                                span {
                                    color: #FFF;
                                    text-transform: uppercase;
                                    text-align: center;
                                    z-index: 1;

                                    &:first-of-type {
                                        font-size: 0.5em;
                                        @media screen and (max-width: 370px) {
                                            font-size: 0.2em;
                                        }
                                    }

                                    &:last-of-type {
                                        font-family: 'Dense-Regular';
                                        font-size: 1.5em;
                                        @media screen and (max-width: 370px) {
                                            font-size: 1em;
                                        }
                                    }
                                }
                            }
                            //Title
                            .title {
                                padding: 5px 5px 5px 10px;

                                p {
                                    &:first-of-type {
                                        font-family: 'Montserrat-SemiBold';
                                        margin-bottom: 0;
                                        font-size: 0.5em;
                                        @media screen and (max-width: 370px) {
                                            font-size: 0.3em;
                                        }
                                    }

                                    &:last-of-type {
                                        margin-top: 0;
                                        font-size: 0.5em;
                                        @media screen and (max-width: 370px) {
                                            font-size: 0.3em;
                                        }
                                    }
                                }
                            }

                            .enter {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                width: 20px;
                                height: 20px;
                                position: absolute;
                                right: 5px;
                                bottom: 5px;
                                background-color: #FFF;
                                border-radius: 50%;
                                box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.50);
                                transition: all .5s ease-in-out;

                                a {
                                    i {
                                        font-size: 12px;
                                        color: #0000BF;
                                    }
                                }
                            }

                            img {
                                width: 100%;
                            }
                        }
                        //Page
                        .page {
                            // display: flex;
                            // flex-direction: column;
                            // justify-content: center;
                            // align-items: center;
                            width: 100%;
                            min-height: calc(100% - 20px);
                            position: relative;
                            padding: 5px;

                            .topo {
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                align-items: flex-start;
                                width: 100%;
                                position: relative;
                                padding: 0 5px 0 5px;


                                span {
                                    font-family: 'Dense-Regular';
                                    color: #0000BF;
                                    font-size: 1.5em;
                                }

                                p {
                                    font-family: 'Montserrat-Bold';
                                    font-size: 0.3em;
                                    margin: 0;
                                    @media screen and (max-width: 370px) {
                                        font-size: .2em;
                                    }
                                }
                            }

                            .texto {
                                overflow: auto;
                                width: 100%;

                                p {
                                    font-size: 0.3em;
                                    @media screen and (max-width: 370px) {
                                        font-size: .2em;
                                    }
                                }
                            }

                            .final {
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                align-items: flex-start;
                                width: 100%;
                                position: relative;
                                margin-bottom: 10px;


                                p {
                                    font-family: 'Montserrat-Bold';
                                    color: #FFF;
                                    width: 70%;
                                    font-size: 0.3em;
                                    @media screen and (max-width: 370px) {
                                        font-size: .2em;
                                    }
                                }

                                .btn {
                                    background-color: #FFF;
                                    color: #0C46E6;
                                    border: 2px solid #0000BF;
                                    margin: 0;
                                    height: 20px;

                                    @include breakpoint(mini) {
                                        height: 18px;
                                        border: 1px solid #0000BF;
                                    }

                                    span {
                                        font-size: .5em;
                                        @include breakpoint(mini) {
                                            font-size: .3em;
                                        }
                                    }
                                }
                            }
                        }

                        .trigger-nav-caps {
                            display: none;
                        }


                        &.final-page {

                            .page {
                                display: flex;
                                flex-direction: column;
                                background-image: url('../img/guia/bg-final-page.png');
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: center bottom;
                                justify-content: space-between;

                                .texto {
                                    // max-height: 52%;
                                    margin-bottom: 20px;
                                }
                            }
                        }
                        //Action
                        .actions {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            width: calc(100%);
                            height: 20px;
                            position: absolute;
                            padding: 0 5px;
                            bottom: 0;
                            border-top: 1px solid #F0F2F7;
                            background-color: #FFF;

                            p {
                                font-family: 'Montserrat-Regular';
                                font-size: .3em;
                                @media screen and (max-width: 370px) {
                                    font-size: .2em;
                                }
                            }

                            a {
                                i {
                                    font-size: 10px;
                                    color: #0000BF;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}