// ====================================================================
// Check Connection
// ====================================================================

section#check-connection {

    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background-color: red;
    padding: 0;
    z-index: 1000;

    .wrap {
		width: 100%;
        position: relative;
        min-height: calc(100vh);
        overflow: hidden;
        padding: 30px 0 0 0;
        z-index: 5;
		background-color: #0c46e6;
	
        &:before {
            position: absolute;
            bottom: 25px;
            left: -200vw;
            display: block;
            width: 500vw;
            height: 300px;
            height: 800vh;
            content: '';
            border-radius: 50%;
            background: #fff;
            z-index: 1;
        }

        &:after {
            position: absolute;
            top: calc(50% - 30px);
            left: 0;
            display: block;
            width: 100%;
            height: 55px;
            content: '';
            opacity: .3;
            background-image: url(../img/home/bg-cidade.png);
            background-repeat: repeat-x;
            background-position: center;
            -webkit-background-size: auto auto;
            background-size: auto;

        }

        .erro {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 2;
            width: calc(100% - 20px);
			max-width: 500px;
            margin: 0 auto;
            position: relative;
            height: calc(100vh - 100px);

            div.pc {
            	position: relative;
            	overflow: hidden;
				pointer-events: none;
				width: calc(100vw - 50px);
				max-width: 480px;
				margin: 0 auto;

				@media screen and (max-height: 768px) {
					max-width: 250px;
				}

            	* {
            		pointer-events: none;
            	}

	            img.pc-bg {
	                z-index: 2;
	                height: auto;
	                position: relative;
	                display: block;
	                width: 100%;
					z-index: 2;
					margin: 0 auto;
	            }

	            div.no-signal {
					position: absolute;
					z-index: 1;
					top: 17%;
					left: 27%;
					overflow: hidden;
					width: 46%;
					height: 44%;

		            canvas {
					    z-index: 1;
					    position: absolute;
					    left: 0;
					    top: 0;
					    width: 100%;
					    height: 100%;
					}

					@keyframes as {
					    0% {
					        opacity: 0;
					    }
					    10% {
					        opacity: .3;
					    }
					    20% {
					        opacity: .1;
					    }
					    30% {
					        opacity: .5;
					    }
					    40% {
					        opacity: 0;
					    }
					    50% {
					        opacity: .8;
					    }
					    55% {
					        opacity: 0;
					    }
					    55% {
					        opacity: 0;
					    }
					}

					.frame {
					    z-index: 3;
					    position: absolute;
					    left: 0;
					    top: 0;
					    width: 100%;
					    height: 100%;
					    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 19%, rgba(0, 0, 0, 0.9) 100%); /* FF3.6+ */
					    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(19%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.9))); /* Chrome,Safari4+ */
					    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 19%, rgba(0, 0, 0, 0.9) 100%); /* Chrome10+,Safari5.1+ */
					    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 19%, rgba(0, 0, 0, 0.9) 100%); /* Opera 12+ */
					    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 19%, rgba(0, 0, 0, 0.9) 100%); /* IE10+ */
					    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 19%, rgba(0, 0, 0, 0.9) 100%); /* W3C */
					    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00000000', endColorstr = '#e6000000', GradientType = 1); /* IE6-9 fallback on horizontal gradient */

					}

					.frame div {
					    position: absolute;
					    left: 0;
					    top: -20%;
					    width: 100%;
					    height: 20%;
					    background-color: rgba(0, 0, 0, .12);
					    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
					    animation: asd 12s linear infinite;
					}

					.frame div:nth-child(1) {
					    animation-delay: 0;
					}

					.frame div:nth-child(2) {
					    animation-delay: 4s;
					}

					.frame div:nth-child(3) {
					    animation-delay: 8s;
					}

					@keyframes asd {
					    0% {
					        top: -20%;
					    }
					    100% {
					        top: 100%;
					    }
					}

					div.sad {
					    z-index: 3;
					    position: absolute;
					    font-size: 56px;
					    display: block;
					    margin: 0;
					    padding: 0;
					    width: 60px;
					    height: 60px;
					    color: #fff;
					    left: calc(50% - 30px);
					    top: calc(50% - 30px);
					    text-align: center;
					    color: transparent;
					    text-shadow: 0 0 30px rgba(0, 0, 0, .5);
					    animation: asdd 2s linear infinite;
					}

					@keyframes asdd {
					    0% {
					        text-shadow: 0 0 30px rgba(0, 0, 0, .5);
					    }
					    33% {
					        text-shadow: 0 0 10px rgba(0, 0, 0, .4);
					    }
					    66% {
					        text-shadow: 0 0 20px rgba(0, 0, 0, .2);
					    }
					    100% {
					        text-shadow: 0 0 40px rgba(0, 0, 0, .8);
					    }
					}
	            	
	            }

            }

            p {
                font-family: 'Montserrat-Light';
                font-size: 16px;
                color: #343434;
                text-align: center;
                z-index: 4;
                margin: 0 auto;
                position: relative;

                span {
                    font-family: 'Montserrat-SemiBold';
                    font-size: 20px;
                    color: #0C46E6;
                    position: relative;

                }
            }

            a.tentarNovamente {
            	height: 50px;
            	width: calc(100% - 20px);
		        max-width: 200px;
		        background: $azul-guia;
		        display: flex;
		        align-items: center;
		        justify-content: center;
		        color: #fff;
		        border-radius: 30px;
		        font-size: 14px;
		        margin-top: 25px;
            }
        }
    }
}