// ====================================================================
// Perguntas Frequentes
// ====================================================================

body.bg-body {
    background-color: #097DEE;
}
section#compartilhe {
    padding: 0 20px 0 20px;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        height: 100vh;

        @include breakpoint (normal-plus) {
            justify-content: center;
        }
        
        //Informações
        .infos {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            /*width: calc(100% + 40px);*/
            width: 100%;
            position: relative;
            padding: 20px 20px 0px 20px;

            &.cap-01 {
                background: rgba(9,125,238,1);
                background: -moz-linear-gradient(top, rgba(9,125,238,1) 0%, rgba(9,125,238,1) 64%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(9,125,238,1)), color-stop(64, rgba(9,125,238,1)), color-stop(65%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
                background: -webkit-linear-gradient(top, rgba(9,125,238,1) 0%, rgba(9,125,238,1) 64%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
                background: -o-linear-gradient(top, rgba(9,125,238,1) 0%, rgba(9,125,238,1) 64%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
                background: -ms-linear-gradient(top, rgba(9,125,238,1) 0%, rgba(9,125,238,1) 64%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
                background: linear-gradient(to bottom, rgba(9,125,238,1) 0%, rgba(9,125,238,1) 64%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#097dee', endColorstr='#ffffff', GradientType=0 );
            }
            //Descrição
            .desc {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: calc(100% + 40px);
                position: relative;
                padding: 0 0 0 10px;

                a {
                    position: absolute;
                    left: 0;
                    top: 3px;
                }

                h2 {
                    width: 100%;
                    text-transform: uppercase;
                    text-align: center;
                    color: #FFFFFF;
                    font-size: 12px;

                    @media (max-width: 340px) {
                        max-width: 176px;
                    }
                }


                div.persona {
                    text-align: center;
                    padding-top: 30px;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        //Lista de Compartilhamento
        .lista-compartilhamento {

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            width: 100%;
            background-color: #FFF; 
            margin: 0 0 20px 0;
            padding-top: 40px;

            & > a {

                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                position: relative;

                width: calc(50% - 10px);
                padding: 12px 0;
                margin: 20px 0;
                background-color: #F0F2F7;
                border-radius: 30px;
                border: 1px solid #E3E8F0;

                //Active
                &.active {

                    .txt {
                        color: #FFF;
                        z-index: 1;
                        // margin: 0 20px 0 0;
                        text-indent: -20px;
                    }

                    .bar {
                        width: calc(100%);
                        // justify-content: flex-end;
                        // transition: width .5s ease;

                        &:before {
                            background-color: #FFF;
                            right: 0;
                            top: 0;
                            width: 40px;
                            height: 40px;
                        }
                    }

                    &.facebook {
                        .bar {
                            &:before {
                                border-color: #547BBD;
                                color: #547BBD;
                            }
                        }
                    }
                    &.linkedin {
                        .bar {
                            &:before {
                                border-color: #1385C8;
                                color: #1385C8;
                            }
                        }
                    }
                    &.twitter {
                        .bar {
                            &:before {
                                border-color: #79CCF0;
                                color: #79CCF0;
                            }
                        }
                    }
                    &.whatsapp {
                        .bar {
                            &:before {
                                border-color: #44B049;
                                color: #44B049;
                            }
                        }
                    }

                }
                
                &.facebook {
                    .bar {
                        background: #547BBD;
                        &:before {
                            content: '\f39e';
                        }
                    }
                }
                &.linkedin {
                    .bar {
                        background: #1385C8;
                        &:before {
                            content: '\f0e1';
                        }
                    }
                }
                &.twitter {
                    .bar {
                        background: #79CCF0;
                        &:before {
                            content: '\f099';
                        }
                    }
                }
                &.whatsapp {
                    .bar {
                        background: #44B049;
                        &:before {
                            content: '\f232';
                        }
                    }
                }

                .txt {
                    text-transform: uppercase;
                    text-align: center;
                    // margin: 0 0 0 20px;
                    width: 100%;
                    z-index: 1;
                    text-indent: 20px;
                    transition: all .5s ease;
                }

                .bar {

                    display: flex;
                    flex-direction: row;
                    // justify-content: flex-start;
                    align-items: center;

                    width: 42px;
                    position: absolute;
                    border-radius: 30px;
                    transition: all .5s ease;
                    height: 42px;
                    top: 0;
                    left: 0;

                    &:before {
                        font-family: 'Font Awesome 5 Brands';
                        content: '';
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 42px;
                        height: 42px;
                        border-radius: 30px;
                        background-color: #F0F2F7;
                        border: 1px solid #e3e8f0;
                        top: -1px;
                        right: -1px;
                        position: absolute;
                    }
                }

                a.trigger {
                    background: transparent;
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;

                }
            }

        }

        .compartilhar {
            background-color: #FFF;
            color: #0C46E6;
            border: 1px solid #0000BF;
            margin: 20px 10px;
        }



    }
}