// ====================================================================
// Dicas
// ====================================================================

section#dicas {

    .container {
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        @include breakpoint(small-plus) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center ;
            width: auto;
            position: relative;
            // max-width: 1400px;
            margin: 0 -20px;
        }

        h2 {
            width: 100%;
            text-transform: uppercase;
            text-align: center;
            position: relative;
            margin: 20px 0;
            font-size: 12px;
        }

        .timeline-img {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: calc(100% + 40px);
            overflow: hidden;
            position: relative;
            @include breakpoint(small-plus) {
                img {
                    height: 100%;
                }
            }

            &.timeline-active {
                @include breakpoint(small-plus) {
                    height: 250px;
                }
            }
            
            &:before {
                position: absolute;
                z-index: -1;
                top: 0;
                display: block;
                width: 200vw;
                height: 200vw;
                content: '';
                border-radius: 50%;

                @include breakpoint(small-plus) {
                    top: auto;
                    bottom: 0;
                    width: 400vw;
                    height: 400vw;
                }
            }

            &.timeline-100 {
                &:before {
                    background: #0c46e6; /* Old browsers */
                    background: -moz-linear-gradient(top, #0c46e6 0%, #0c28c8 98%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, #0c46e6 0%,#0c28c8 98%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, #0c46e6 0%,#0c28c8 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c46e6', endColorstr='#0c28c8',GradientType=0 ); /* IE6-9 */
                }
            }
            &.timeline-90 {
                &:before {
                    background: #0c8aff; /* Old browsers */
                    background: -moz-linear-gradient(top, #0c8aff 2%, #0c8aff 98%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, #0c8aff 2%,#0c8aff 98%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, #0c8aff 2%,#0c8aff 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c8aff', endColorstr='#0c8aff',GradientType=0 ); /* IE6-9 */
                }
            }
            &.timeline-80 {
                &:before {
                    background: #0c8aff; /* Old browsers */
                    background: -moz-linear-gradient(top, #0c8aff 1%, #0c46e6 98%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, #0c8aff 1%,#0c46e6 98%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, #0c8aff 1%,#0c46e6 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c8aff', endColorstr='#0c46e6',GradientType=0 ); /* IE6-9 */
                }
            }
            &.timeline-60 {
                &:before {
                    background: #06e3ff; /* Old browsers */
                    background: -moz-linear-gradient(top, #06e3ff 0%, #06e3ff 98%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, #06e3ff 0%,#06e3ff 98%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, #06e3ff 0%,#06e3ff 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06e3ff', endColorstr='#06e3ff',GradientType=0 ); /* IE6-9 */
                }
            }
            &.timeline-15 {
                &:before {
                    background: #ffc50b; /* Old browsers */
                    background: -moz-linear-gradient(top, #ffc50b 0%, #ffde0b 98%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, #ffc50b 0%,#ffde0b 98%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, #ffc50b 0%,#ffde0b 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc50b', endColorstr='#ffde0b',GradientType=0 ); /* IE6-9 */
                }
            }
            &.timeline-1 {
                &:before {
                    background: #ff820d; /* Old browsers */
                    background: -moz-linear-gradient(top, #ff820d 0%, #ff6f0d 98%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, #ff820d 0%,#ff6f0d 98%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, #ff820d 0%,#ff6f0d 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff820d', endColorstr='#ff6f0d',GradientType=0 ); /* IE6-9 */
                }
            }
        }

        div.wrapper {
            max-width: 1400px;
            width: 95%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
        }

        //Timeline
        .timeline {
            display: none;
            //display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            width: 100%;
            position: relative;
            @include breakpoint(small-plus) {
                width: 40%;
            }

            p {
                font-family: 'Montserrat-Bold';
                text-transform: uppercase;
                font-weight: 700;
                font-size: 14px;
                @include breakpoint(mini) {
                    font-size: 12px;
                }

                span {
                    color: #DD1754;
                    font-size: 14px;
                }
            }
            //Progresso
            .progresso {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                position: relative;
                margin: 10px 0 0 0;
                //Bar
                ul.bar {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: fit-content;

                    &:after {
                        display: block;
                        content: '';
                        background-image: url('../img/icons/icon-flag.png');
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 21px;
                        height: 26px;
                        position: absolute;
                        top: -28px;
                        right: -5px;
                    }

                    li {
                        width: calc(100% / 4);
                        height: fit-content;
                        margin: 0 2px;
                        background: #F0F2F7;

                        &:first-of-type {
                            margin-left: 0;
                            border-radius: 20px 0 0 20px;

                            span {
                                border-radius: 20px 0 0 20px;
                            }
                        }

                        &:last-of-type {
                            width: 10%;
                            margin-right: 0;
                            border-radius: 0 20px 20px 0;

                            span {
                                border-radius: 0 20px 20px 0;
                            }
                        }

                        &:nth-of-type(1) {
                            span.active {
                                background-color: #0000BF;
                            }
                        }

                        &:nth-of-type(2) {
                            span.active {
                                background-color: #0C46E6;
                                width: 100%;
                            }
                        }

                        &:nth-of-type(3) {
                            span.active {
                                background-color: #06E3FF;
                                width: 100%;
                            }
                        }

                        &:nth-of-type(4) {
                            span.active {
                                background-color: #FFC40A;
                                width: 70%;
                            }
                        }

                        &:nth-of-type(5) {
                            span.active {
                                background-color: #FF700C;
                                width: 0%;
                            }
                        }

                        span {
                            width: 0%;
                            height: 25px;
                            position: relative;
                            display: block;
                            top: 0;
                            left: 0;
                            transition: all 0.5s ease-out;
                        }
                    }
                }
                //Meses
                ul.mes {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    position: relative;

                    li {
                        color: #8E8E8E;
                        font-size: 11px;
                        text-transform: uppercase;
                        width: calc(100% / 4);
                        text-align: center;

                        &:last-of-type {
                            width: 20%;
                            text-align: right;
                        }
                    }
                }
            }
        }

        //Dicas e Curiosidades
        .dicas-curiosidades {
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: relative;

            @include breakpoint(small-plus) {
                //max-width: 56%;
            }

            //Filtros
            .filtros {

                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                position: relative;
                // width: calc(100% + 40px);
                width: calc(100% + 20px);
                border: 1px solid #F0F2F7;
                padding: 0;
                border-left: none;
                border-right: none;
                margin: 20px 0 0 0;

                @include breakpoint(small-plus) {
                    width: calc(100%);
                }



                span {
                    text-transform: uppercase;
                    width: 20%;
                    position: relative;
                    font-size: 12px;

                    @media (max-width: 370px) {
                        font-size: 10px;
                    }
                }
                
                input[type=checkbox] {
                    display: none;
                }
                input[type=checkbox] + label {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    border: 1px solid #E3E8F0;
                    margin: 15px 0;
                    height: 40px;
                    padding: 0 15px;
                    position: relative;

                    &.dicas {
                        width: 30%;
                    }

                    &.curiosidades {
                        width: 45%;
                    }

                    span {
                        color: #343434;
                    }

                    img {
                        filter: grayscale(100%) opacity(0.50);
                        @include breakpoint(mini) {
                            width: 20px;
                        }
                    }

                }
            
                input[type=checkbox]:checked + label {
                    border: 1px solid #0000BF;
                    span {
                        color: #0000BF;
                    }
                    img {
                        filter: none;
                    }
                }

            }
        
        }

        .dica-curiosidade {
            
            display: block;

            width: 100%;
            position: relative;

            .item {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;

                width: 100%;
                position: relative;
                padding: 20px 0 20px 0;
                border-bottom: 1px solid #F0F2F7;

                img {
                    background: #F0F2F7;
                    border-radius: 50%;
                    padding: 10px;
                    margin-right: 15px;
                }

                .txt {
                    display: table;
                    position: relative;
                    width: calc(100% - 71px);

                    p {
                        margin: 0;
                        overflow-y: hidden;
                        //max-height: 100px;
                        margin-top: 10px;
                        transition: height .5s ease;
                        
                        &.active {
                            height: auto;
                            max-height: none !important;
                        }
                    }

                    span {
                        color: #FF700C;
                        text-transform: uppercase;
                        align-self: flex-end;
                        margin: 10px 0 0 0;
                        display: none;
                        cursor: pointer;
                        float: right;
                    }
                }
            }

        }
    }
}