// ====================================================================
// Download
// ====================================================================

section#download {

    min-height: 100vh;
    padding-top: 0;
    //padding-bottom: 120px;

    background-image: url(../img/download/bg-cidade.png);
    background-repeat: repeat-x;
    background-position: center calc(100% - 30px);

    .container {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        min-height: 100vh;
        position: relative;
        padding-bottom: 155px;
        
        .infos {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            height: 160px;
            width: calc(100% + 40px);
            position: relative;
            padding: 20px 20px 75px 20px;
            overflow: hidden;
        }

        img.books {
            z-index: 1;
            position: relative;
            margin-top: -50px;
        }

        .conteudo {

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            width: 100%;
            max-width: 1170px;
            position: relative;

            p {
                font-family: 'Montserrat-Light';
                font-size: 18px;
                color: #343434;
                margin: 40px 0;

                @include breakpoint (mini) {
                    font-size: 16px;
                    margin: 20px 0;
                }
                
            }

            a.btn {
                background-color: #FF700C;
                max-width: 400px;
                margin: 20px 0 0 0;

                @include breakpoint (mini) {
                    //margin: 0;
                }
            }

            span.text {
                font-family: 'Montserrat-SemiBold';
                font-size: 18px;
                color: #343434;
                margin: 40px 0;

                @include breakpoint (mini) {
                    font-size: 16px;
                    margin: 20px 0;
                }
            }

            img {
                width: 95px;
            }

        }

        .votorantim {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: calc(100% + 40px);
            position: absolute;
            height: 30px;
            bottom: 0;
            left: -20px;
            background-color: #FFF;
            padding-right: 5%; 
        }


    }

}