section#enterprise {
	// background: red;
	padding-top: 80px;
	padding-bottom: 120px;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url('../img/enterprise/bg-cidade.png');
	background-position: bottom center;
	background-repeat: repeat-x;

	div.wrap {
		max-width: 450px;
		padding: 0 0;

		h1 {
			color: $azul-guia;
			font-size: 21px;
			text-align: center;
			max-width: 320px;
			margin: 0 auto 30px;
		}

		ul {
			margin: 0 0 0 12px;
			padding: 0;

			li {
				margin: 0 0 10px 0;
				padding: 0;
				font-family: "Montserrat-Light"; 
				position: relative;
				line-height: 130%;
				font-size: 14px;

				@include breakpoint(small-plus) {
					font-size: 16px;
				}

				&:before {
					content: "";
					display: block;
					position: absolute;
					width: 6px;
					height: 6px;
					border-radius: 50%;
					top: 6px;
					left: -12px;
					background: $azul-guia;
				}

				a {
					color: #fff;
					background: $azul-guia;
					padding: 5px 10px;
					margin: 10px 0 15px;
					border-radius: 30px;
					display: inline-block;
					font-family: "Montserrat-Regular";
					font-size: 12px;
					width: 100%;
					text-align: center;
				}
			}
		}
	}
}