// ====================================================================
// Erro
// ====================================================================

section#erro {

    padding: 0;

    .wrap {

        position: relative;
        min-height: calc(100vh);
        overflow: hidden;
        padding: 59px 0 0 0;
        z-index: 5;
        background-color: #0c46e6;

        &:before {
            position: absolute;
            bottom: 25px;
            left: -201vw;
            display: block;
            width: 500vw;
            height: 300px;
            height: 800vh;
            content: '';
            border-radius: 50%;
            background: #fff;
            z-index: 1;
        }

        &:after {
            position: absolute;
            top: calc(50% - 30px);
            left: 0;
            display: block;
            width: 100%;
            height: 55px;
            content: '';
            opacity: .3;
            background-image: url(../img/home/bg-cidade.png);
            background-repeat: repeat-x;
            background-position: center;
            -webkit-background-size: auto auto;
            background-size: auto;

        }

        .erro {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 2;

            position: relative;
            height: calc(100vh - 100px);

            img {
                z-index: 2;
                height: auto;
            }

            img.erro404{
                width: 273px;

                @media (max-width: 320px) {
                    width: 200px;
                }
            }
            img.errobanana {
                position: relative;
                width: 341px;
                margin-top: -95px;
                z-index: 1;

                @media (max-width: 320px) {
                    width: 270px;
                    margin-top: -70px;
                }
            
            }

            p {
                font-family: 'Montserrat-Light';
                font-size: 16px;
                color: #343434;
                text-align: center;
                z-index: 4;
                margin-top: -140px;
                position: relative;

                @media (max-width: 320px) {
                    margin-top: -115px;
                }

                span {
                    font-family: 'Montserrat-SemiBold';
                    font-size: 20px;
                    color: #0C46E6;
                    position: relative;

                }
            }
        }
    }
}