// ====================================================================
// Meu Voto
// ====================================================================

section#grau-de-afinidade {
	padding-left: 0;
	padding-right: 0;
	position: relative;
	z-index: 7;
	transition: all 0.3s ease;
	padding: 120px 20px 0 20px;
	
	@media screen and (orientation: landscape) and (min-height: 650px) {
		&.pushLeft {
			transform: translateX(-500px);
			
			* {
				pointer-events: none;
			}
		}
	}
	
	p.texto {
		text-align: center;
		position: relative;
		display: table;
		padding-right: 40px;
		padding-left: 10px;
		@media screen and (max-width: 900px) {
			max-width: 500px;
			width: calc(100% - 30px);
			text-align: left;
		}
		@media screen and (max-width: 450px) {
			max-width: 320px;
		}
		
		a.info {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	
	div.resultados {
		padding: 0 15px 170px;
		overflow: hidden;
		position: relative;
		min-height: calc(100vh - 225px);
		
		@media screen and (max-width: 900px) {
			min-height: calc(100vh - 250px);
		}
		
		@media screen and (max-width: 768px) {
			min-height: calc(100vh - 247px);			
		}
		
		@media screen and (max-width: 450px) {
			min-height: calc(100vh - 269px);			
		}
		
		@media screen and (max-width: 360px) {
			padding: 20px 5px 170px;
		}
		
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc40a+0,ff700c+100 */
		background: rgb(255,196,10); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(255,196,10,1) 0%, rgba(255,112,12,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(255,196,10,1) 0%,rgba(255,112,12,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(255,196,10,1) 0%,rgba(255,112,12,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc40a', endColorstr='#ff700c',GradientType=0 ); /* IE6-9 */
		
		&:before {
			position: absolute;
			height: 300px;
			width: 800vw;
			height: 800vw;
			left: -350vw;
			top: calc(100% - 100px);
			content: "";
			display: block;
			background: #fff;
			border-radius: 50%;
			z-index: 0;
		}
		
		div.items {
			display: flex;
			flex-wrap: wrap;
			max-width: 1170px;
			margin: 0 auto;
			width: 100%;
			align-items: center;
			// display: none;
			
			&.center {
				justify-content: center;				
			}
		}
		
		div.item {
			position: relative;
			z-index: 1;	
			background: #fff;
			border-radius: 5px;
			box-shadow: 0 0 5px rgba(0,0,0,0.2);
			margin: 15px;
			min-height: 105px;
			padding: 15px;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: center;
			width: 100%;
			
			@media screen and (min-width: 960px) {
				width: calc(33.333333% - 30px);
			}
			
			@media screen and (min-width: 650px) and (max-width: 960px) {
				width: calc(50% - 30px);
			}
			
			div.infos {
				display: flex;
				// flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				transition: all 0.3s ease;
				border-bottom: 1px solid #E3E8F0;
				padding-bottom: 15px;
				margin-bottom: 15px;
				
				div.photo {
					width: 64px;
					height: 64px;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;
					border-radius: 50%;
					border: 3px solid #E3E8F0;
					margin-right: 15px;
					cursor: pointer;
					transition: all 0.3s ease;
					position: relative;
					z-index: 1;
					background-color: #fff;
					flex-shrink: 0;
					
					span {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						filter: grayscale(100%);
						background-position: center center;
						background-repeat: no-repeat;
						background-size: cover;
						border-radius: 50%;
						-webkit-transform: translateZ(0);
						-webkit-perspective: 1000;
						-webkit-backface-visibility: hidden;
					}
					
					// ############################
					// #### Opção sem as fotos ####
					// ############################
					// display: none !important;
				}
				
				div.candidato {
					width: 100%;
					
					div.nome {
						font-family: "Montserrat-Regular";
						font-size: 18px;
						color: #343434;
						margin-bottom: 5px;
						text-transform: capitalize;
					}
					
					div.partido {
						font-family: "Montserrat-Light";
						font-size: 12px;
						color: #A5A5A5;
						text-transform: capitalize;
						
						span {
							font-size: 16px;
							font-family: "Montserrat-SemiBold";
							display: block;
						}
					}
					
				}
				
				
			}
			
			input {
				display: none;
			}
			
			input:checked + div.infos + label {
				color: #fff;
				background: #0C46E6;
				box-shadow: 0 0 20px rgba(#0000BF, 0.3);
				&:before {
					content: "Remover do \"Meu Voto\""
				}
			}
			
			input:checked + div.infos div.photo {
				border-color: #0c46e6;
			}
			
			label, span.escolhido {
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 60px;
				background: #fff;
				width: calc(100% - 70px);
				margin: 0 10px 0 0;
				color: #0C46E6;
				border: 1px solid #0C46E6;
				font-family: "Montserrat-Light";
				text-transform: uppercase;
				font-size: 0;
				letter-spacing: 1px;
				transition: all 0.3s ease;
				
				
				&:before {
					font-size: 12px;
					content: "Enviar para \"Meu Voto\"";
					
					@media screen and (max-width: 360px) {
						font-size: 10px;
					}
				}
			}
			
			span.escolhido {
				font-size: 12px;
				background: #E3E8F0;
				border: 1px solid #E3E8F0;
				color: #A5A5A5;
				
				&:before {
					display: none;
				}
			}
			
			div.afinidade {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 60px;
				div.title {
					font-size: 10px;
					font-family: "Montserrat-Light";
					color: #A5A5A5;
					letter-spacing: 1;
					text-transform: uppercase;
					margin-bottom: 3px;
				}
				div.porcentagem {
					font-family: 'Bebas';
					font-size: 10px;
					color: #FF700C;
					text-align: center;
					text-transform: uppercase;
					display: inline-block;


				}
				
				span.avaliado {
					text-align: center;
					text-transform: uppercase;
					display: inline-block;
					font-family: 'Bebas';
					font-size: 35px;
					color: #ff700c;
				}
				
				span.nao-avaliado {
					font-family: 'Montserrat-Regular';
					font-size: 10px;
					text-align: center;
					color: #ff700c;
					text-transform: uppercase;
				}
			}
			
		}
		
		button#verMeuVoto {
			position: relative;
			z-index: 10;
			background: #FFC40A;
			color: #fff;
			border: 1px solid #FFC40A;
			box-shadow: 0 0 20px rgba(#C76520, 0.5);
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: "Montserrat-Light";
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 1px;
			padding: 0 20px;
			margin: 30px auto;
			border-radius: 50px;
			transition: all 0.3s ease;
			cursor: pointer;
			max-width: 350px;
			width: calc(100% - 30px);
			
			i {
				font-size: 16px;
				margin-left: 5px;
				// transition: all 0.3s ease;
			}
			
			&[disabled] {
				background: #E3E8F0;
				border: 1px solid #E3E8F0;
				color: #A5A5A5;
				box-shadow: 0 0 20px rgba(#000, 0.2);
				cursor: default;
				span.counter {
					transform: scale(0);
				}
				
			}
		}
		
		div.bg {
			display: flex;
			align-items: center;
			justify-content: center;
			&:before {
				position: absolute;
				height: 300px;
				width: 800vw;
				height: 800vw;
				left: -350vw;
				bottom: calc(100% - 100px);
				content: "";
				display: block;
				background: #fff;
				border-radius: 50%;
				z-index: 0;
			}
			
			img {
				position: absolute;
				height: 200px;
				bottom: -5vh;
			}
		}
	}
}

div#candidatoAfinidade {
	
	div.header {
		padding: 15px 15px 50px;
	}
	
	input:checked + label {
		&:before {
			content: "Remover do \"Meu Voto\"";
		}
	}
	label {
		margin-bottom: 15px;
		&:before {
			content: "Enviar para \"Meu Voto\"";
		}
	}
	
	input:checked + label + a.verMeuVoto {
		height: 50px;
		transform: scale(1);
		font-size: 12px;
	}
	
	a.verMeuVoto {
		height: 0;
		transform: scale(0);
		border: 1px solid #ffc40a;
		background: #ffc40a;
		color: #fff;
		font-size: 0;
		&:before {
			content: "";
		}
	}
}

div#explicacaoCalculoAfinidade {
	// display: none;
	position: fixed;
	width: 100%;
	bottom: -100vh;
	left: 0;
	z-index: 11;
	background: #fff;
	padding: 30px;
	border-top: 1px solid #E3E8F0;
	box-shadow: 0 0 0 200vh rgba(#fff, 0);
	transition: bottom 0.5s ease, box-shadow 0.5s ease;
	max-height: 100vh;
	overflow: auto;
	
	
	@media screen and (max-width: 360px) {
		padding: 20px;
	}
	
	&.active {
		bottom: 0;
		box-shadow: 0 0 0 200vh rgba(#fff, 0.75);
	}
	
	div.wrap {
		max-width: 1170px;
		margin: 0 auto;
		
		@media only screen and (max-width: 360px) and (max-height: 450px) {
			padding: 50px 0 0 0;
		}
	}
	
	p {
		font-size: 16px;
		font-family: "Montserrat-Light";
		color: #343434;
		line-height: 140%;
		margin: 0 0 20px;
		padding: 0;
		
		@media screen and (max-width: 360px) {
			font-size: 14px;
		}
		
		strong {
			font-family: "Montserrat-SemiBold";
		}
	}
	
	a.termos {
		color: $azul-guia;
		font-family: "Montserrat-SemiBold";
		text-decoration: underline;
	}
	
	a.btn {
		font-family: "Montserrat-Light";
		text-transform: uppercase;
		margin: 15px 0 0 0;
		font-size: 12px;
		
		&.ciente {
			color: #fff;
			background-color: #FF700C;
		}
	}
}