// ====================================================================
// Guia
// ====================================================================

section#guia {

    .container {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        position: relative;
        margin-bottom: 50px;


        //Descição
        .desc {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin: 30px 0;

            h1 {
                font-size: 12px;
                margin: 0 0 10px 0;

            }

            .sociologo {
                font-family: 'Montserrat-Italic';
                font-size: 14px;
                color: #555555;
                margin: 0;

                strong {
                    font-family: 'Montserrat-SemiBoldItalic';
                    font-size: 14px;
                    color: #343434;
                }
            }

            a.envio-email {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                align-self: flex-end;
                color: #FF700C;
                font-size: 14px;
                margin: 15px 0 0 0;
               
                &:after {
                    content: '';
                    display: inline-block;
                    background-image: url('../img/icons/icon-email.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 22px;
                    height: 22px;
                    margin-left: 10px;
                }
            }

        }

        //Capitulos
        .chapters {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100%;

            //Capitulo
            .chapter {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                width: 100%;
                position: relative;
                margin-bottom: 20px;
                
                //Capa
                .cover {

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    width: 100%;
                    position: relative;
                    border: 2px solid #E3E8F0;

                    .progression {
                         
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: flex-start;

                        width: 100%;

                        ul {

                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            align-items: center;
        
                            width: 100%;
                            height: fit-content;
        
                            li {
                                width: 100%;
                                background: #E3E8F0;
                                height: 10px;
                                margin-right: 2px;
        
                                &:last-of-type {
                                    margin-right: 0;
                                }

                                .bar {
                                    position: relative;
                                    height: 10px;
                                    background: #FF700C;
                                    width: 0%;
                                    transition: width .5s ease;
                                    
                                    &.not-comp {
                                        border-radius: 0 10px 10px 0;
                                    }
    
                                }
                                
                            }
        
                        }

                    }

                    .info {

                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        width: 100%;
                        position: relative;
                        padding: 20px 10px;

                        img {
                            height: auto;
                            max-width: 91px;
                        }

                        .title {

                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;

                            width: 50%;

                            span {
                                text-transform: uppercase;
                                color: #343434;
                                font-family: 'Montserrat-Regular';
                            }

                            p {

                                margin: 0;
                                color: #343434;
                                font-family: 'Montserrat-Bold';

                                &:before {

                                    display: inline-block;
                                    content: attr(data-num-cap);
                                    color: #0000BF;
                                    font-weight: 700;
                                    margin-right: 5px;

                                }
                            }
                        }
                        
                        a.display-sub-chapters {
                                
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;

                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            border: 1px solid  #ff700c;
                            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
                            color: #fff;
                            font-size: 14px;
                            font-weight: 700;
                            transform: rotate(180deg);
                            transition: all .3s ease-out;

                            i {
                                color: #ff700c;
                                
                            }

                            &.active {

                                transform: inherit;

                            }

                        }
                    }

                }

                //Sub-capitulos
                .sub-chapters {

                    display: none;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                    width: 100%;
                    position: relative;
                    border: 2px solid #E3E8F0;
                    border-top: none;
                    padding: 0px 10px;
                    // transition: all 1s ease-out;

                    &.active {
                        display: flex;
                    }

                    ul {
                        display: block;
                        // flex-direction: column;
                        // justify-content: flex-start;
                        // align-items: flex-start;

                        width: 100%;
                        height: 100%;
                        position: relative;
                        // transition: all 1s ease-out;

                        li {

                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;

                            width: 100%;
                            margin: 20px 0;
                            color: #0000BF;
                            position: relative;

                            &:before {
                                display: inline-block;
                                width: 20px;
                                height: 20px;
                                content: '';
                                background: #E3E8F0;
                                border-radius: 50%;
                                margin: 0 5px 0 0;
                                position: relative;
                                box-shadow: inset 0 0 0 4px #fff;
                                border: 2px solid #DBDBDB;
                            }

                            &.read {
                                &:before {
                                    background-color: #FF700C;
                                }
                            }

                            &.active {
                                &:before {
                                    content: '';
                                    display: inline-block;
                                    background-image: url('../img/icons/icon-marcador.png');
                                    background-repeat: no-repeat;
                                    transform: rotate(-90deg);
                                    width: 20px;
                                    height: 28px;

                                    margin: 0 0 5px 0;
                                    left: 5px;
                                    top: 3px;
                                    border: none;
                                    background: none;
                                    box-shadow: none;
                                    border-radius: 0;
                                    color: #0000BF;
                                }

                                span {
                                    left: 9px;
                                    color: #343434;
                                }
                            }

                            a {
                                width: calc(100% - 30px);
                                position: relative;
                                span {
                                    padding-left: 10px;
                                    position: relative;
                                    color: #343434;

                                    &:before {
                                        color: #0000BF;
                                        display: inline-block;
                                        content: attr(data-num-subcap);
                                        font-weight: 700;
                                        margin-right: 10px;
                                    }
                                }
                            }

                        }

                    }

                }


            }

        }


    }
}