﻿// ====================================================================
// Home
// ====================================================================

body {

    &.active {
        header {
            border: none;
            
        }
    }

    &.scroll-lock {
        overflow: hidden;
        // pointer-events: none;
    }

}

header {
    pointer-events: initial;
}

section#home {
    overflow: hidden;

    &.active {
        .container {
            .etapas {
                .wrap {
                    background: #FFF;

                    &:nth-of-type(2),
                    &:nth-of-type(3) {
                        display: none;
                    }

                    .cidadania {
                        background: none;
                        padding: 0;

                        &:before {
                            height: 0;
                        }

                        .etapa {
                            padding: 0;

                            .sessoes {

                                .quiz {
                                    margin: 0;
                                    padding: 0;
                                    box-shadow: none;
                                    border-radius: 0;

                                    .quizzes {
                                        margin: 0;
                                        padding: 0;


                                        .arrow {
                                            display: block !important;
                                        }

                                        .slick-dots {
                                            display: none;
                                        }

                                        .item {
                                            padding-bottom: 50px;

                                            @include breakpoint(normal-plus) {
                                                padding-bottom: 0;
                                            }

                                            .desc {
                                                display: block;
                                            }

                                            .comecar {
                                                display: block;
                                            }
                                        }
                                    }
                                }

                                .guia {
                                    display: none;
                                }

                                .voce-sabia {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.desk {
        .container {
            .etapas {
                .wrap {
                    min-height: calc(19.5vh);

                    .cidadania {
                        .title {
                            h1 {
                                z-index: 2;
                                margin: 3px 0 0 0;
                                font-size: 20px;
                            }

                            p {
                                margin: 40px 0 20px
                            }
                        }

                        .etapa {
                            .sessoes {
                                .quiz {
                                    .quizzes {
                                        .slick-dots {
                                            display: none;
                                        }

                                        .item {
                                            padding-bottom: 50px;

                                            @include breakpoint(normal-plus) {
                                                padding-bottom: 0;
                                            }

                                            .desc {
                                                display: block;
                                            }

                                            .comecar {
                                                display: block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &#selecioneEstado {
        min-height: calc(100vh - 140px);
        background-image: url('../img/meucandidatoideal/bg-cidade.png');
        background-repeat: no-repeat;
        background-position: bottom center;

        & > div.wrap {
            display: flex;
            height: calc(100vh - 140px);
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 20px 20px 120px;

            @include breakpoint(normal-plus) {
                text-align: center;
            }

            p {
                width: 100%;
                margin: 0 0 20px;
                padding: 0;
                font-family: 'Montserrat-Bold';
            }

            div.field {
                width: 100%;
                position: relative;
            }

            a.continuar {
                background: $azul-guia;
                color: #fff;
                height: 0;
                overflow: hidden;
                width: 100%;
                margin-top: 15px;
                border-radius: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0;
                transition: all 0.3s ease;

                &.active {
                    font-size: 14px;
                    height: 50px;
                }
            }

            select {
                font-family: 'Montserrat-Regular';
                border: none;
                border-bottom: 2px solid #e3e8f0;
                font-size: 20px;
                font-size: 14px;
                display: block;
                width: 100%;
                padding: 10px 0 10px 0;
                display: block;
                text-transform: uppercase;
                background: #FFF;

                &.disabled {
                    display: none;
                }
            }

            .triggerEstado {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;


                &:after {
                    // background-image: url('../img/icons/arrow-black.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    content: '';
                    display: block;
                    position: absolute;
                    top: 15px;
                    right: 5px;
                    width: 14px;
                    height: 8px;
                }
            }
        }
    }

    .container {
        //Timeline
        .timeline {
            position: relative;
            margin: 20px auto 0;
            z-index: 6;

            p {
                font-family: 'Montserrat-Bold';
                text-transform: uppercase;
                font-size: 14px;

                span {
                    /*color: #FFC40A;*/
                    color: #ff700c;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
            //Progresso
            /*.progresso {
                width: 100%;
                position: relative;
                margin: 10px 0 0 0;
                //Bar
                ul.bar {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: fit-content;

                    &:after {
                        display: block;
                        content: '';
                        background-image: url('../img/icons/icon-flag.png');
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 21px;
                        height: 26px;
                        position: absolute;
                        top: -28px;
                        right: -5px;
                    }

                    li {
                        width: calc(100% / 4);
                        height: fit-content;
                        margin: 0 2px;
                        background: #F0F2F7;

                        &:first-of-type {
                            margin-left: 0;
                            border-radius: 20px 0 0 20px;

                            span {
                                border-radius: 20px 0 0 20px;
                            }
                        }

                        &:last-of-type {
                            width: 10%;
                            margin-right: 0;
                            border-radius: 0 20px 20px 0;

                            span {
                                border-radius: 0 20px 20px 0;
                            }
                        }

                        &:nth-of-type(1) {
                            span.active {
                                background-color: #0000BF;
                            }
                        }

                        &:nth-of-type(2) {
                            span.active {
                                background-color: #0C46E6;
                                width: 100%;
                            }
                        }

                        &:nth-of-type(3) {
                            span.active {
                                background-color: #06E3FF;
                                width: 100%;
                            }
                        }

                        &:nth-of-type(4) {
                            span.active {
                                background-color: #FFC40A;
                                width: 70%;
                            }
                        }

                        &:nth-of-type(5) {
                            span.active {
                                background-color: #FF700C;
                                width: 0%;
                            }
                        }

                        span {
                            width: 0%;
                            height: 25px;
                            position: relative;
                            display: block;
                            top: 0;
                            left: 0;
                            transition: all 0.5s ease-out;
                        }
                    }
                }
                //Meses
                ul.mes {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    position: relative;

                    li {
                        color: #8E8E8E;
                        font-size: 11px;
                        text-transform: uppercase;
                        width: calc(100% / 4);
                        text-align: center;

                        &:last-of-type {
                            width: 20%;
                            text-align: right;
                        }
                    }
                }
            }*/
            
            // Progresso Segundo Turno
            .progresso {
                width: 100%;
                position: relative;
                margin: 10px 0 0 0;
                ul.bar {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: fit-content;

                    &:after {
                        display: block;
                        content: '';
                        background-image: url('../img/icons/icon-flag.png');
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 21px;
                        height: 26px;
                        position: absolute;
                        top: -28px;
                        right: -5px;
                    }

                    li {
                        width: calc(100%);
                        height: fit-content;
                        margin: 0 2px;
                        background: #F0F2F7;
                        border-radius: 20px;

                        span {
                            width: 0%;
                            height: 25px;
                            position: relative;
                            display: block;
                            top: 0;
                            left: 0;
                            border-radius: 20px 0 0 20px;
                            transition: all 0.5s ease-out;

                            &.active {
                                background-color:#ff700c
                            }

                            &.last {
                                border-radius: 20px;
                            }
                        }
                    }
                }
                ul.mes {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    position: relative;
                    padding: 0 7px;
                    margin: 5px 0 0 0;

                    li {
                        color: #8E8E8E;
                        font-size: 11px;
                        text-transform: uppercase;
                        width: calc(100% / 2);

                        &:last-of-type {
                            text-align: right;
                        }
                    }
                }
            }
        }
        //Etapas
        .etapas {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: calc(100%);
            position: relative;
            //Geral
            // - Wrap
            div.wrap {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: calc(100vw);
                position: relative;
                min-height: 17.5vh;
                z-index: 5;
                //Cores
                &:nth-of-type(1) {
                    background: #0c46e6; /* Old browsers */
                    background: -moz-linear-gradient(left, #0c46e6 0%, #3875f1 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(left, #0c46e6 0%,#3875f1 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, #0c46e6 0%,#3875f1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c46e6', endColorstr='#3875f1',GradientType=1 ); /* IE6-9 */
                    padding: 50px 0 0;
                    z-index: 3;

                    &.active {
                        padding: 0;

                        &:before {
                            bottom: calc(100% - 70px);
                        }

                        div.box {
                            .title {
                                h1 {
                                    color: $azul-guia;
                                }
                            }
                        }
                    }

                    &:before {
                        position: absolute;
                        z-index: 1;
                        bottom: calc(100% - 50px);
                        display: block;
                        width: 350vw;
                        height: 50vw;
                        content: '';
                        border-radius: 50%;
                        background: #FFF;
                        left: -125vw;
                        transition: all 0.3s ease;

                        @include breakpoint (normal-plus) {
                            // top: calc(-27vw + 20px);
                            // height: 30vw;
                        }
                    }

                    &:after {
                        position: absolute;
                        z-index: 1;
                        top: -28vw;
                        ;
                        display: none;
                        width: 200vw;
                        height: 50vw;
                        content: '';
                        border-radius: 50%;
                        background: #0c46e6; /* Old browsers */
                        background: -moz-linear-gradient(left, #0c46e6 0%, #3875f1 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(left, #0c46e6 0%,#3875f1 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to right, #0c46e6 0%,#3875f1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c46e6', endColorstr='#3875f1',GradientType=1 ); /* IE6-9 */
                        @include breakpoint (normal-plus) {
                            top: calc(-27vw + 20px);
                            height: 30vw;
                        }
                    }
                }

                &:nth-of-type(2) {
                    z-index: 2;
                    background: #4c8af6; /* Old browsers */
                    background: -moz-linear-gradient(left, #4c8af6 0%, #06e3ff 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(left, #4c8af6 0%,#06e3ff 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, #4c8af6 0%,#06e3ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c8af6', endColorstr='#06e3ff',GradientType=1 ); /* IE6-9 */
                }

                &:nth-of-type(3) {
                    z-index: 1;
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc40a+0,ff700c+100 */
                    background: rgb(255,196,10); /* Old browsers */
                    background: -moz-linear-gradient(top, rgba(255,196,10,1) 0%, rgba(255,112,12,1) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(255,196,10,1) 0%,rgba(255,112,12,1) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(255,196,10,1) 0%,rgba(255,112,12,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc40a', endColorstr='#ff700c',GradientType=0 ); /* IE6-9 */
                    &.active {
                        @include breakpoint (normal-plus) {
                            height: 667px !important;
                        }
                    }
                }

                &.decrease {
                    min-height: 60px !important;
                    padding: 0;

                    @include breakpoint(normal-plus) {
                        height: 108px !important;
                    }

                    @media (min-height: 975px) {
                        min-height: 159px !important;
                    }

                    &:before {
                        content: none;
                    }

                    &:after {
                        display: none;
                    }

                    .box {
                        z-index: 2;

                        .title {
                            border-bottom: none !important;

                            h1 {
                                color: #FFF !important;
                                //margin: 10px 0 0 0;
                            }

                           
                        }

                        .etapa {
                            display: none;
                        }
                    }
                }

                &.active {

                    @include breakpoint (normal-plus) {
                        min-height: calc(100vh - 545px);
                        // height: calc(100vh);
                    }

                    padding-bottom: 0;

                    &:nth-of-type(3) {
                        div.box {
                            .etapa {
                                padding-bottom: 50px;
                            }
                        }
                    }

                    div.box {
                        .title {
                            border-bottom: 1px solid rgba(227, 232, 240, .3);
                        }

                        .etapa {
                            .info {
                                display: block;
                            }
                        }
                    }
                }

                &.ultimo-acesso {

                    &.active {
                        min-height: 100vh;
                    }

                    div.box {
                        //padding: 20px 0 20px 0 !important;
                        .title {
                            border-bottom: 1px solid rgba(227, 232, 240, .3);
                        }

                        .etapa {
                            .info {
                                display: block;
                            }
                        }
                    }
                }
                //Etapas
                div.box {
                    max-width: 1170px;
                    width: 100%;
                    padding: 20px 0 0;
                    z-index: 1;
                    min-height: 20vh;
                    // height: 100%;
                    @include breakpoint(small-) {
                        padding: 40px 0 20px 0;
                    }
                    //Titulo
                    .title {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        padding: 0 20px;

                        h1 {
                            color: #fff;
                            text-transform: uppercase;
                            font-family: 'Montserrat-Bold';
                            margin: 0;

                            @include breakpoint (normal-plus) {
                                font-size: 20px;
                            }

                            &:before {
                                content: attr(data-num);
                                display: inline-block;
                                margin-right: 10px;
                            }
                        }

                        p {
                            color: #FFF;
                            font-size: 14px;

                            @include breakpoint (normal-plus) {
                                font-size: 18px;
                            }
                        }
                    }
                    //Etapa
                    .etapa {
                        padding: 20px 20px 0;
                        //Informações
                        & > .info {
                            display: none;
                            color: #FFF;

                            .progresso {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                                width: 100%;
                                position: relative;

                                .name {
                                    font-size: 11px;
                                    text-transform: uppercase;

                                    @include breakpoint (normal-plus) {
                                        font-size: 14px;
                                    }
                                }

                                .bar {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: flex-start;
                                    align-items: center;
                                    width: 100%;
                                    background: #FFF;
                                    border-radius: 20px;
                                    margin: 0 10px;

                                    .prog {
                                        width: 0%;
                                        height: 16px;
                                        border-radius: 20px;
                                        transition: all .5s ease-out;
                                    }
                                }

                                .porcentagem {
                                    font-family: 'Montserrat-Bold';

                                    @include breakpoint (normal-plus) {
                                        font-size: 14px;
                                    }
                                }
                            }

                            .status {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                                width: 100%;
                                position: relative;

                                & > div {
                                    p {
                                        font-size: 10px;
                                        text-transform: uppercase;

                                        @include breakpoint (normal-plus) {
                                            font-size: 14px;
                                        }

                                        span {
                                            font-size: 10px;
                                            font-family: 'Montserrat-Bold';
                                            color: #06E3FF;

                                            @include breakpoint (normal-plus) {
                                                font-size: 14px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        //Sessoes
                        .sessoes, .sessoes-nao-logado {
                            display: flex;
                            width: 100%;
                            flex-wrap: wrap;
                            align-items: flex-start;
                            justify-content: space-between;
                        }

                        .sessoes, .sessoes a, .sessoes-nao-logado {
                            & > div {
                                background-color: #FFF;
                                border-radius: 5px;
                                padding: 20px 0;
                                margin: 0 0 20px 0;
                                width: 100%;

                                .info {
                                    padding: 0 10px;
                                    width: 100%;

                                    .conteudo {
                                        display: flex;

                                        p {
                                            font-size: 14px;
                                            margin: 0 10px 0 0;
                                        }
                                    }
                                }
                            }
                        }

                        .sessoes > a, .sessoes-nao-logado > a {
                            width: 100%;

                            @include breakpoint(normal-plus) {
                                width: calc(50% - 10px);

                                > div {
                                    padding: 15px 10px;
                                    height: 170px;
                                }
                            }
                        }
                    }
                }

                &.breve {
                    overflow: hidden;
                    z-index: 10000;
                    // position: relative;
                    &:before {
                        box-sizing: border-box;
                        position: absolute;
                        top: 4px;
                        left: 0px;
                        content: "Em breve";
                        width: 120px;
                        height: 62px;
                        padding: 10px 10px 5px 20px;
                        display: flex;
                        color: #F9E959;
                        align-items: flex-end;
                        justify-content: flex-start;
                        transform: rotate(-35deg);
                        transform-origin: 0 100%;
                        background: #DD1754;
                        font-size: 12px;
                        text-transform: uppercase;
                        box-shadow: 0 0 5px rgba(#000, 1.1);

                        @include breakpoint (normal-plus) {
                            font-size: 16px;
                            top: 170px;
                            left: 10%;
                            width: 460px;
                            align-items: center;
                            justify-content: center;
                        }

                        @include breakpoint (normal) {
                            left: -8% !important;
                        }

                        @include breakpoint (large) {
                            left: 2% !important;
                        }
                    }
                }
            }
            //Cidadania nota 10
            .cidadania {
                padding: 50px 0 20px 0;
                cursor: pointer;
                // @include breakpoint (huge) {
                //     padding: 70px 0 20px 0;
                // }
                //Etapas
                .etapa {

                    .info {

                        .progresso {
                            .bar {
                                .prog {
                                    background: #06E3FF;
                                }
                            }

                            .porcentagem {
                                color: #06E3FF;
                            }
                        }
                    }

                    .sessoes {
                        //Quiz
                        .quiz {
                            .quizzes {
                                //padding: 0 0 20px 0;
                                @include breakpoint(normal-plus) {
                                    padding: 0 0 40px 0;
                                }
                                //arrows
                                .arrow {
                                    position: absolute;
                                    bottom: 50px;
                                    color: #0C46E6;
                                    font-size: 13px;
                                    display: none !important;
                                    width: 50%;

                                    @include breakpoint(normal-plus) {
                                        display: flex !important;
                                        width: 40px;
                                        height: 40px;
                                        font-size: 0;
                                        align-items: center;
                                        justify-content: center;
                                        bottom: 0;

                                        i {
                                            font-size: 30px;
                                        }
                                    }

                                    &.disabled {
                                        display: none;
                                    }

                                    &.prev {
                                        left: 40px;
                                        z-index: 1;
                                        text-align: left;

                                        @include breakpoint(normal-plus) {
                                            left: auto;
                                            right: calc(50% + 10px);
                                        }

                                        i {
                                            margin-right: 5px;
                                        }
                                    }

                                    &.next {
                                        right: 40px;
                                        z-index: 1;
                                        text-align: right;

                                        @include breakpoint(normal-plus) {
                                            right: auto;
                                            left: calc(50% + 10px);
                                        }

                                        i {
                                            margin-left: 5px;
                                        }
                                    }

                                    &.slick-disabled {
                                        color: #e3e8f0;
                                    }
                                }

                                .slick-dots {
                                    bottom: -30px;

                                    li {
                                        width: 20px;
                                        height: 20px;

                                        &.slick-active {
                                            button {
                                                background-color: #0C46E6;
                                                border: 0px solid #0000BF;
                                            }
                                        }

                                        button {
                                            background-color: #F0F2F7;
                                            border-radius: 50%;
                                            width: 20px;
                                            height: 20px;
                                            border: 4px solid #E3E8F0;

                                            &:before {
                                                color: inherit;
                                            }
                                        }
                                    }
                                }


                                .item {
                                    width: 100%;
                                    position: relative;
                                    margin: 10px 10px;
                                    padding: 0 0 20px 0;
                                    border-radius: 10px;
                                    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
                                    // display: flex;
                                    // flex-direction: column;
                                    // justify-content: flex-start;
                                    // align-items: center;
                                    width: 100%;
                                    position: relative;
                                    border-radius: 10px;
                                    outline: none;
                                    //Cover
                                    .cover {
                                        width: 100%;
                                        position: relative;

                                        img {
                                            width: 100%;
                                            //max-width: 300px;
                                            margin: 0 auto;
                                            border-radius: 10px 10px 0 0;
                                        }
                                    }

                                    .info {
                                        padding: 0 20px;
                                        margin: 10px 0;
                                    }
                                    //Progressao
                                    .progression {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: center;
                                        align-items: center;
                                        width: 100%;
                                        border: 1px solid #E3E8F0;
                                        border-radius: 50px;
                                        padding: 2px 0;
                                        background-color: #FFF;

                                        ul {
                                            display: flex;
                                            flex-direction: row;
                                            justify-content: space-around;
                                            align-items: center;
                                            width: 100%;
                                            height: fit-content;

                                            li {
                                                width: 100%;
                                                background: #E3E8F0;
                                                height: 10px;
                                                transform: skew(-25deg);
                                                margin-right: 3px;

                                                &:first-of-type {
                                                    margin-left: 3px;
                                                    border-radius: 40px 0 0 160px;
                                                }

                                                &:last-of-type {
                                                    border-radius: 0 160px 40px 0;
                                                }

                                                &.right {
                                                    background: #6BD75F;
                                                }

                                                &.wrong {
                                                    background: #FF700C;
                                                }
                                            }
                                        }
                                    }
                                    //Status Usuario
                                    .status {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: flex-start;
                                        align-items: center;
                                        width: 100%;
                                        position: relative;

                                        span {
                                            color: #0000BF;
                                            text-transform: uppercase;
                                            font-size: 10px;
                                            font-weight: 700;
                                        }

                                        p {
                                            text-transform: uppercase;
                                            font-size: 10px;
                                            font-weight: 700;
                                        }
                                        //Numeros
                                        .numbers {
                                            margin: 0 20px 0 0;
                                        }
                                    }
                                    //Descrição
                                    .desc {
                                        font-size: 14px;
                                        margin: 0;
                                        display: none;
                                        min-height: 44px;
                                    }
                                    //Botao
                                    .comecar {
                                        background-color: #FF700C;
                                        display: none;

                                        @include breakpoint(normal-plus) {
                                            display: block;
                                        }

                                        span {
                                            display: flex;
                                            flex-direction: row;
                                            justify-content: center;
                                            align-items: center;
                                            position: relative;
                                            width: 100%;
                                            height: 50px;
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                            //Degustacao
                            &.degustacao {
                                text-align: center;
                                padding-bottom: 0;

                                .quizzes {
                                    margin: 0;
                                    padding: 0;

                                    .item {
                                        max-width: 500px;
                                        margin: 20px auto;
                                        width: calc(100% - 40px);
                                        padding: 0 0 20px 0;
                                        display: block;

                                        .info {
                                            margin: 20px 0 0;
                                            padding: 0 0 20px 0;

                                            h3 {
                                                margin: 10px 0 20px 0;
                                            }

                                            a {
                                                display: block;
                                            }
                                        }

                                        .comecar {
                                            display: block;
                                            width: calc(100% - 40px);
                                            margin: 0 auto;
                                        }
                                    }
                                }
                            }
                        }
                        //Guia
                        .guia {
                            // width: calc(50% - 10px);
                            .info {
                                a {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            //Minhas Prioridades
            .prioridades {

                div.title {
                    cursor: pointer;
                }


                .etapa {

                    .info {

                        .progresso {
                            .bar {
                                .prog {
                                    background: #F9E959;
                                }
                            }

                            .porcentagem {
                                color: #0C46E6;
                            }
                        }
                    }

                    .sessoes, .sessoes-nao-logado {
                        // margin: 20px 0 0 0;
                        .minhas-prioridades {
                            margin: 20px 0 20px 0 !important;
                            padding: 20px 0 60px 0 !important;
                            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
                            //arrows
                            .arrow {
                                position: absolute;
                                bottom: 50px;
                                color: #0C46E6;
                                font-size: 13px;
                                display: none !important;
                                width: 50%;

                                @include breakpoint(normal-plus) {
                                    display: flex !important;
                                    width: 40px;
                                    height: 40px;
                                    font-size: 0;
                                    align-items: center;
                                    justify-content: center;
                                    bottom: 0;

                                    i {
                                        font-size: 30px;
                                    }
                                }

                                &.disabled {
                                    display: none;
                                }

                                &.prev {
                                    left: 40px;
                                    z-index: 1;
                                    text-align: left;

                                    @include breakpoint(normal-plus) {
                                        left: auto;
                                        right: calc(50% + 10px);
                                    }

                                    i {
                                        margin-right: 5px;
                                    }
                                }

                                &.next {
                                    right: 40px;
                                    z-index: 1;
                                    text-align: right;

                                    @include breakpoint(normal-plus) {
                                        right: auto;
                                        left: calc(50% + 10px);
                                    }

                                    i {
                                        margin-left: 5px;
                                    }
                                }

                                &.slick-disabled {
                                    color: #e3e8f0;
                                }
                            }

                            .slick-dots {
                                bottom: 23px;

                                li {
                                    width: 20px;
                                    height: 20px;

                                    &.slick-active {
                                        button {
                                            background-color: #0C46E6;
                                            border: 0px solid #0000BF;
                                        }
                                    }

                                    button {
                                        background-color: #F0F2F7;
                                        border-radius: 50%;
                                        width: 20px;
                                        height: 20px;
                                        border: 4px solid #E3E8F0;

                                        &:before {
                                            color: inherit;
                                        }
                                    }
                                }
                            }

                            .mp-wrap {
                                margin: 10px 10px;
                                //padding: 0 20px;
                                .item {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    align-items: center;
                                    width: 100%;
                                    min-height: 336px;
                                    position: relative;
                                    border-radius: 10px;
                                    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
                                    outline: none;
                                    //margin: 10px;
                                    padding: 0 0 20px 0;


                                    &.breve {
                                        overflow: hidden;
                                        z-index: 10000;
                                        // position: relative;
                                        &:before {
                                            box-sizing: border-box;
                                            position: absolute;
                                            top: 4px;
                                            left: 0px;
                                            content: "Em breve";
                                            width: 120px;
                                            height: 62px;
                                            padding: 10px 10px 5px 20px;
                                            display: flex;
                                            color: #F9E959;
                                            align-items: flex-end;
                                            justify-content: flex-start;
                                            transform: rotate(-35deg);
                                            transform-origin: 0 100%;
                                            background: #DD1754;
                                            font-size: 12px;
                                            text-transform: uppercase;
                                            box-shadow: 0 0 5px rgba(#000, 1.1);
                                            z-index: 1;
                                        }
                                    }

                                    @include breakpoint (normal-plus) {
                                        min-height: 367px;
                                        max-height: 400px;
                                    }

                                    a {
                                        width: 100%;

                                        img {
                                            width: 100%;
                                            //max-width: 300px;
                                            margin: 0 auto;
                                            border-radius: 10px 10px 0 0;
                                        }

                                        h3 {
                                            text-align: left;
                                            margin-left: 20px;
                                            margin-right: 20px;
                                        }

                                        p {
                                            margin: 0 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            //Meus Candidatos
            .meus-candidatos {

                div.title {
                    cursor: pointer;
                }

                div.etapa {
                    padding: 20px 0 0 !important;

                    .sessoes {

                        //ESTADOS
                        .estado {

                            background-color: rgba(255,255,255,0) !important;
                            padding: 0 20px !important;

                            p {
                                font-family: 'Montserrat-Regular';
                                font-size: 12px;
                                color: #FFF;
                                margin: 0;
                                text-transform: uppercase;
                                text-align: left;
                            }

                            div.field {
                                width: 100%;
                                position: relative;

                                select {
                                    font-family: 'Montserrat-Regular';
                                    border: none;
                                    border-bottom: 2px solid #F9E959;
                                    font-size: 20px;
                                    font-size: 14px;
                                    display: block;
                                    width: 100%;
                                    padding: 10px 0 10px 0;
                                    display: block;
                                    text-transform: uppercase;
                                    //background: #FFF;
                                    color: #F9E959;
                                    background-color: rgba(255,255,255,0) !important;
                    
                                    &.disabled {
                                        display: none;
                                    }
                                }
                    
                                .triggerEstado {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                    
                                    &:after {
                                        font-family: 'Font Awesome 5 Free';
                                        content: '\f078';
                                        display: inline-block;
                                        font-weight: 900;
                                        color: #F9E959;
                                        font-size: 16px;
                                        position: absolute;
                                        right: 10px;
                                        top: 11px;
                                        transition: transform .2s ease;
                    
                                    }
                                }
                            }

                        }

                        .candidatos {

                            @include breakpoint (small-) {
                                background-color: rgba(255, 255, 255, 0) !important;
                            }

                            @include breakpoint (normal-plus) {
                                width: 100%;
                                margin: 0 0 20px 0;
                                padding: 20px 0;
                                border-radius: 5px;
                                margin: 0 !important;
                                padding: 0 0 60px 0 !important;
                                background-color: rgba(255, 255, 255, 0) !important;
                            }
                            //arrows
                            .arrow {
                                position: absolute;
                                bottom: 50px;
                                color: #ff700c;
                                font-size: 13px;
                                display: none !important;
                                width: 50%;

                                @include breakpoint(normal-plus) {
                                    display: flex !important;
                                    width: 40px;
                                    height: 40px;
                                    font-size: 0;
                                    align-items: center;
                                    justify-content: center;
                                    bottom: 0;

                                    i {
                                        font-size: 30px;
                                    }
                                }

                                &.disabled {
                                    display: none;
                                }

                                &.prev {
                                    left: 40px;
                                    z-index: 1;
                                    text-align: left;

                                    @include breakpoint(normal-plus) {
                                        left: auto;
                                        right: calc(50% + 10px);
                                        bottom: 10px;
                                    }

                                    i {
                                        margin-right: 5px;
                                    }
                                }

                                &.next {
                                    right: 40px;
                                    z-index: 1;
                                    text-align: right;

                                    @include breakpoint(normal-plus) {
                                        right: auto;
                                        left: calc(50% + 10px);
                                        bottom: 10px;
                                    }

                                    i {
                                        margin-left: 5px;
                                    }
                                }

                                &.slick-disabled {
                                    color: #e3e8f0;
                                }
                            }

                            .slick-disabled-custom {
                                color: #f0f2f7;
                                pointer-events: none;
                            }

                            .mc-wrap {
                                margin: 10px 10px;

                                &:nth-of-type(1) {
                                    .item {
                                        .cargo {
                                            &:after {
                                                background-position: 0% center;
                                            }
                                        }
                                    }
                                }

                                &:nth-of-type(2) {
                                    .item {
                                        .cargo {
                                            &:after {
                                                background-position: 27% center;
                                            }
                                        }
                                    }
                                }

                                &:nth-of-type(5), &:nth-of-type(6) {
                                    .item {
                                        .cargo {
                                            &:after {
                                                background-position: 98% center;
                                            }
                                        }
                                    }
                                }

                                .item {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    align-items: center;
                                    width: 100%;
                                    position: relative;
                                    border-radius: 10px;
                                    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
                                    outline: none;
                                    padding-bottom: 10px;
                                    background-color: #FFF;
                                    padding: 0 0 0 0;

                                    &.breve {
                                        overflow: hidden;
                                        z-index: 10000;
                                        // position: relative;
                                        background-color: #F5F8FF;

                                        &:before {
                                            box-sizing: border-box;
                                            position: absolute;
                                            top: 4px;
                                            left: 0px;
                                            content: "Em breve";
                                            width: 120px;
                                            height: 62px;
                                            padding: 10px 10px 5px 20px;
                                            display: flex;
                                            color: #F9E959;
                                            align-items: flex-end;
                                            justify-content: flex-start;
                                            transform: rotate(-35deg);
                                            transform-origin: 0 100%;
                                            background: #DD1754;
                                            font-size: 12px;
                                            text-transform: uppercase;
                                            box-shadow: 0 0 5px rgba(#000, 1.1);
                                            z-index: 1;
                                        }

                                        .lista-etapas a .texto {
                                            display: none;
                                        }
                                    }

                                    .cargo {
                                        display: flex;
                                        align-items: center;
                                        width: 100%;
                                        position: relative;
                                        height: 115px;
                                        padding: 20px;

                                        &:after {
                                            position: absolute;
                                            bottom: 0;
                                            left: 0;
                                            display: block;
                                            width: 100%;
                                            height: 55px;
                                            content: '';
                                            background-image: url(../img/home/bg-cidade.png);
                                            background-repeat: repeat-x;
                                            background-position: center;
                                            -webkit-background-size: auto auto;
                                            background-size: auto;
                                            opacity: 0.3;
                                        }

                                        span {
                                            font-family: 'Montserrat-SemiBold';
                                            font-size: 20px;
                                            color: #343434;
                                        }
                                    }

                                    .lista-etapas {
                                        width: 100%;
                                        position: relative;
                                        counter-reset: lista-etapas;

                                        a {
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: center;
                                            align-items: flex-start;
                                            position: relative;
                                            height: 70px;
                                            padding: 0 45px 0 55px;
                                            border-top: 1px solid #F0F2F7;

                                            &:before {
                                                content: '';
                                                display: inline-flex;
                                                justify-content: center;
                                                position: absolute;
                                                background-color: #F0F2F7;
                                                box-shadow: inset 0 0 0 3px #FFF;
                                                border: 2px solid #E3E8F0;
                                                border-radius: 50%;
                                                width: 17px;
                                                height: 17px;
                                                margin-left: -35px;

                                                @include hackpoint (ie11) {
                                                    top: 25px;
                                                }
                                            }

                                            &:after {
                                                content: '\f105';
                                                display: inline-flex;
                                                justify-content: center;
                                                position: absolute;
                                                width: 17px;
                                                height: 17px;
                                                right: 20px;
                                                //margin-left: -30px;
                                                font-family: "Font Awesome 5 Free";
                                                font-weight: 900;
                                                color: #A5A5A5;
                                                font-size: 30px;
                                                margin-top: -6px;

                                                @include hackpoint (ie11) {
                                                    top: 25px;
                                                }
                                            }

                                            &.inicio {
                                                &:before {
                                                    background-color: #FF700C;
                                                    border-color: #0000BF;

                                                    @include hackpoint (ie11) {
                                                        top: 25px;
                                                    }
                                                }

                                                span.texto {
                                                    display: block;
                                                }
                                            }

                                            &.andamento {
                                                &:before {
                                                    background-color: #FF700C;
                                                    border-color: #0000BF;

                                                    @include hackpoint (ie11) {
                                                        top: 25px;
                                                    }
                                                }
                                            }

                                            &.finalizado {
                                                &:before {
                                                    content: url('../img/icons/icon-check.png');

                                                    @include hackpoint (ie11) {
                                                        top: 25px;
                                                    }
                                                }

                                                span.nome {
                                                    color: #343434;

                                                    &:before {
                                                        color: #343434;
                                                    }
                                                }
                                            }

                                            &.blocked {
                                                pointer-events: none;

                                                span.nome {
                                                    color: #BEBEBE;

                                                    &:before {
                                                        color: #BEBEBE;
                                                    }
                                                }
                                            }

                                            &.em-breve {
                                                flex-direction: row;
                                                justify-content: space-between;
                                                align-items: center;
                                                pointer-events: none;

                                                &:before {
                                                    margin-top: 0px;
                                                }

                                                &:after {
                                                    content: '';
                                                }

                                                span.nome {
                                                    color: #BEBEBE;

                                                    &:before {
                                                        color: #BEBEBE;
                                                    }
                                                }
                                            }

                                            span.nome {
                                                font-family: 'Montserrat-Regular';
                                                font-size: 16px;
                                                color: #FF700C;
                                                letter-spacing: 0.5px;
                                                text-align: left;
                                                width: 100%;

                                                &:before {
                                                    font-family: 'Montserrat-Bold';
                                                    font-size: 16px;
                                                    color: #0000BF;
                                                    counter-increment: lista-etapas;
                                                    content: counter(lista-etapas) ".";
                                                    display: inline-flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    margin-right: 10px;
                                                    font-size: 18px;
                                                }
                                            }

                                            span.texto {
                                                font-family: 'Montserrat-Light';
                                                font-size: 12px;
                                                color: #343434;
                                                text-transform: uppercase;
                                                letter-spacing: 1px;
                                                font-weight: 700;
                                                text-align: right;
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    //Cola Voto
    .cola-voto {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw !important;
        height: 50px;
        position: absolute;
        padding: 0 10px;
        background-color: #E3E8F0;
        bottom: 0;
        z-index: 6;
        left: 0;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);

        &:not(.active) {
            &:hover {
                cursor: not-allowed;

                span.messageFull {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        &.active {
            background-color: #FFC40A;
            pointer-events: auto;

            img {
                display: none;
            }

            span {
                font-size: 13px;
            }
        }

        img {
            padding: 0 10px 0 0;
            height: 20px;
        }

        span.txt {
            font-size: 12px;
            color: #555555;
            text-transform: uppercase;
        }



        span.messageFull {
            position: absolute;
            bottom: calc(100% + 20px);
            text-transform: none;
            letter-spacing: normal;
            font-size: 14px;
            font-family: "Montserrat-Light";
            color: #fff;
            background: #0000BF;
            border-radius: 5px;
            padding: 15px;
            width: 290px;
            opacity: 0;
            transform: translateY(50px);
            z-index: 0;
            cursor: pointer;
            box-shadow: 0 0 15px rgba(#000, 0.15);
            transition: all .5s cubic-bezier(0.2, 0.9, 0.1, 1.4);
            text-align: center;
            left: calc(50% - 145px);

            &:after {
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 10px 0 10px;
                border-color: #0000BF transparent transparent transparent;
                position: absolute;
                top: calc(100% - 1px);
                left: calc(50% - 5px);
            }

            &:before {
                width: 290px;
                height: 40px;
                background: none;
                content: "";
                position: absolute;
                top: calc(100% - 1px);
                left: 0;
            }
        }
    }

    //DESKTOP
    @include breakpoint (normal-plus) {

        .timeline {
            margin: 40px 0;
        }
    }
}

div.escolhe-estado {
    min-height: calc(100vh - 60px);
    width: 100%;
    position: fixed;
    bottom: -200vh;
    left: 0;
    background-color: #FFF;
    z-index: 10;
    transition: bottom .5s ease-in-out;

    &.active {
        bottom: 0;
    }

    background-image: url('../img/meucandidatoideal/bg-cidade.png');
    background-repeat: no-repeat;
    background-position: bottom center;

    div.wrap {
        display: flex;
        height: calc(100vh - 140px);
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px 20px 120px;

        @include breakpoint(normal-plus) {
            // max-width: 500px;
            // margin: 0 auto;
            text-align: center;
        }

        p {
            width: 100%;
            margin: 0 0 30px;
            padding: 0;
            font-family: 'Montserrat-Bold';
        }

        div.field {
            width: 100%;
            position: relative;
        }

        a.continuar {
            background: #FF700C;
            color: #fff;
            height: 50;
            overflow: hidden;
            width: 100%;
            margin-top: 50px;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            transition: all 0.3s ease;

        }

        select {
            font-family: 'Montserrat-Regular';
            border: none;
            border-bottom: 2px solid #e3e8f0;
            font-size: 20px;
            font-size: 14px;
            display: block;
            width: 100%;
            padding: 10px 0 10px 0;
            display: block;
            text-transform: uppercase;
            background: #FFF;

            &.disabled {
                display: none;
            }
        }

        .triggerEstado-home {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;


            &:after {
                background-image: url('../img/icons/arrow-black.png');
                background-repeat: no-repeat;
                background-size: contain;
                content: '';
                display: block;
                position: absolute;
                top: 15px;
                right: 5px;
                width: 14px;
                height: 8px;

            }
        }
    }
}

//Estados
div#estados-st {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    z-index: 11 !important;

    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.9);
    display: none;
    z-index: 5;

    &.active {
        display: block;
        pointer-events: initial;
    }

    a.close {
        position: fixed;
        top: 75px;
        left: 15px;
        font-size: 20px;
        display: flex;
        width: 20px;
        height: 20px;
        align-items: center;
        justify-content: center;
        opacity: 0.75;
        pointer-events: initial;
    }

    a.set-estado {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        right: 15px;
        background-color: #FF700C;
        z-index: 4;
        border-radius: 50%;
        display: none;

        i {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            position: relative;
            width: 50px;
            height: 50px;
            color: #FFF;
        }

    }

    ul {
        width: 100%;
        overflow-x: hidden;
        position: relative;
        background-color: #FFF;
        overflow: auto;
        height: 50vh;

        li {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            position: relative;
            padding: 15px 20px;
            border-bottom: 1px solid #E3E8F0;

            &:first-of-type{
                border-top: 1px solid #E3E8F0;
            }

            span.sigla {
                font-size: 14px;
                color: #343434;
            }

            div.informacoes {

                margin: 0 0 0 20px;

                span.nome {
                    width: 100%;
                    font-size: 16px;
                    color: #343434;
                    display: block;
                    padding: 0 0 5px 0;
                }
                
                span.option-turno {
                    width: 100%;
                    font-family: 'Montserrat-Light';
                    font-size: 12px;
                    color: #343434;
                    display: block;
                    text-transform: uppercase;
                }

            }

            &.active {
                background: #e3e8f0;
            }
        }
    }

}

// .no-flexboxlegacy {
//     section#home .container .etapas div.wrap div.box {
//         max-height: 100vh;
//     }
// }