// ====================================================================
// Inicio
// ====================================================================

section#inicio {
    height: 100vh;
    min-height: 690px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 0;
    //background-image: url('../img/inicio/bg-inicio.svg');
    background-image: url('../img/inicio/bg-inicio-cidade.png');
    background-repeat: no-repeat;
    background-size: 1920px;
    background-position: 39% 100%;

    @include breakpoint (mini) {
        padding-bottom: 90px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;




        .logo {
            display: block;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;

            p {
                text-align: center;
                color: #343434;
                font-family: 'Montserrat-Bold';
                text-transform: uppercase;
                font-size: 14px;

                @media screen and (max-height: 670px) {
                    //font-size: 18px !important;
                    margin-top: 0;
                    margin-bottom: 10px;
                }
            }

            img {
                width: 40%;
                display: block;
                margin: 0 auto;

                @media screen and (max-height: 670px) {
                    width: 40% !important;
                }
            }
        }
        //Informações
        .infos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: relative;

            .texto {
                width: 100%;
            }

            p {
                text-align: center;
                color: #343434;
                margin: 30px 0 0 0;

                @media screen and (max-width: 330px) {
                    
                }
            }
            //Actions
            .actions {
                width: 100%;
                position: relative;

                a {
                    margin: 30px 0;

                    &:first-of-type, &:last-of-type {
                        margin-bottom: 0;
                    }
                }

                .entre {
                    background-color: #FF700C;
                }

                .cadastre-se {
                    background-color: #FF700C;
                }

                .sem-cadsatro {
                    background-color: #FFF;
                    color: #0C46E6;
                    border: 2px solid #0000BF;
                }

                .title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    position: relative;
                    z-index: 1;
                    margin: 30px 0 30px 0;
                    color: #A5A5A5;


                    &:before {
                        position: absolute;
                        z-index: 0;
                        display: inline-block;
                        width: 100%;
                        margin: 0 15px 0 0;
                        content: '';
                        border-top: 1px solid #F0F2F7;
                    }

                    strong {
                        line-height: 100%;
                        position: relative;
                        z-index: 1;
                        display: block;
                        padding: 0 10px;
                        background: #FFF;
                        font-weight: 400;
                    }
                }
            }

            &.download {
                display: none;
            }
        }
    }

    // Download APP (Somente Desktop)

    .logos-download {
        display: flex;
        align-items: center;

        a {
            max-width: 150px;
            display: inline-block;
            margin-right: 15px;
        }

        img {
            max-width: 100%;
        }
    }

    .footer-inicio {
        display: none;
    }
    //DESKTOP
    @include breakpoint (normal-plus) {
        background-image: url('../img/inicio/bg-inicio-full.png');
        background-size: cover;
        background-position: center bottom;

        .container {
            //background: pink;
            flex-direction: row;
            height: calc(100vh - 140px);
            min-height: 570px;
            margin-bottom: 20px;
            width: 100%;
            max-width: 1500px;
            align-items: flex-start;
            padding: 3vw 0;
            //Logo
            .logo {
                width: 50%;
                border-right: 1px solid #E3E8F0;
                margin-right: 10px;

                p {
                    font-size: 26px;
                }
            }
            //Infos
            .infos {
                width: 50%;
                margin-left: 10px;
                padding: 0 30px;

                .texto {
                    p {
                        margin: 10px 0;
                        text-align: left;
                        font-size: 16px;

                        @media (max-width: 1180px) {
                            font-size: 14px;
                        }

                        @media (max-width: 1035px) {
                            font-size: 12px;
                        }
                    }
                }

                &.download {
                    display: block;

                    .texto {
                        p {
                            font-size: 11px;
                        }

                        a.btn {
                            transform: scale(.9);
                        }
                    }
                }
            }

            @media (max-width: 1400px) {
                padding: 1vw 0;
            }
        }

        .footer-inicio {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            background-color: #FFF;
            width: calc(100vw);
            height: 100px;
            padding: 20px;
            position: relative;
            z-index: 1;
            // position: absolute;
            // bottom: 0;
            margin-left: -20px;

            img {
                width: 180px;
            }
        }
    }
}