// ====================================================================
// Login
// ====================================================================

section#login {

    padding: 0 20px;

    background-image: url('../img/login/bg-login-cidade.png');
    background-repeat: no-repeat;
    background-size: 1920px;
    background-position: 39% 10%;
    overflow: hidden;

    @include breakpoint (huge) {
        background-size: contain;
    }

    .container {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: auto;


        border-radius: 4px;

        //Informacoes
        .infos {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100%;
            position: relative;
            //height: calc(100vh - 70px);
            padding: 10px 0 0 0;

            .topo {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                position: relative;
                margin: 10px 0 30px 0;

                & > div {
                    width: 33.3%;
                }

                .back {
                    img {
                        width: 18px;
                        height: 13px;
                    }
                }

                h1 {
                    text-align: center;
                    margin: 0;
                }

            }


            p {

                &:nth-of-type(1) {
                    color: #343434;
                }

            }

            .wrapper {
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: calc(100vh - 70px);
                @media screen and (max-height: 580px) {
                    height: auto;
                }

                &:before {
                    position: absolute;
                    top: 10vh;
                    left: -50vw;
                    display: block;
                    width: 200vw;
                    height: 200vw;
                    content: '';
                    border-radius: 50%;
                    background: #fff;
                    z-index: 0;
                }
            }

            .fb-login {

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                width: calc(100%);
                position: relative;
                // overflow: hidden;
                margin: 50px 0 0 0;
                padding: 0;

                @media screen and (max-width: 325px) {
                    margin: 80px 0 0 0;
                }

                
                // &:before {
                //     position: absolute;
                //     top: -20px;
                //     display: block;
                //     width: 200vw;
                //     height: 200vw;
                //     content: '';
                //     border-radius: 50%;
                //     background: #FFF;
                //     z-index: -1;
                // }
                
                .facebook {
                    
                    position: relative;
                    background-color: #0C46E6;
                    max-width: 400px;

                    i {
                        color: #FFF;
                        padding: 0 10px 0 0;
                    }

                    span {
                        font-size: 12px;
                    }
        
                }

            }
    
            .title {
                display: flex;
                justify-content: center;
                align-items: center;
    
                width: 100%;
                position: relative;
                z-index: 1;
                margin: 10px 0 40px 0;
                color: #A5A5A5;
                max-width: 400px;
    
                
                &:before {
                    position: absolute;
                    left: 0;
                    z-index: 0;
                    display: inline-block;
                    width: 100%;
                    margin: 0 15px 0 0;
                    content: '';
                    border-top: 1px solid #F0F2F7;
                }

                strong {
                    line-height: 100%;
                    position: relative;
                    z-index: 1;
                    display: block;
                    padding: 0 10px;
                    background: #FFF;
                    font-weight: 400;
                }
    
            }
        }

        //Formulario Login
        .login {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;

            width: 100%;
            position: relative;
            max-width: 400px;
            
            .field {
                margin-bottom: 30px;
            }

            #email, #senha {
                
                background-repeat: no-repeat;
                background-position: right;
                padding-right: 20px;
                
            }

            #email {
                background-image: url('../img/icons/icon-usuario.png');
                background-size: 16px 18px;
            }

            #senha {
                background-image: url('../img/icons/icon-senha.png');
                background-size: 15px 19px;
            }

            .esqueci-minha-senha {
                color: #0C46E6;
                text-transform: uppercase;
                font-size: 20px;
                margin: 0 0 15px 0;
                span {
                    font-size: 0.6em;
                }
            }

            .send-login {
                background-color: #FF700C;
                font-size: 12px;
            }

        }

    }

}

//Formulario Esqueci Minha Senha
#esqueciSenha {

    #email-es {
        background-repeat: no-repeat;
        background-position: right;
        padding-right: 24px;
        background-image: url('../img/icons/icon-re-email.png');
        background-size: 22px 16px;
    }

    .btn {
        font-size: 12px;
    }
}