// ====================================================================
// Main
// ====================================================================

section#main {

    .container {
        @include breakpoint(mini) {
            background-color: tomato;
        }
        @include breakpoint (tiny) {
            background-color: purple;
        }
        @include breakpoint (normal) {
            background-color: brown;
        }
        @include breakpoint (large) {
            background-color: forestgreen;
        }
        @include breakpoint (huge) {
            background-color: firebrick;
        }
        @include breakpoint (mini-h) {
            background-color: black;
        }
        .box {
            width: 100%;
            height: 400px;
            &:nth-of-type(1) {background-color: red;}
            &:nth-of-type(2) {background-color: blue;}
            &:nth-of-type(3) {background-color: violet;}
            &:nth-of-type(4) {background-color: tomato;}

        }
    }

    

}