// ====================================================================
// Meu Candidato Ideal
// ====================================================================

section#meu-candidato-ideal {
	padding-right: 0;
	padding-left: 0;

	&:before {
		content: "";
		width: 100vw;
		height: 0;
		opacity: 0;
		position: fixed;
		background: #fff;
		z-index: 9;
		top: 0;
		left: 0;

	}

	&:not(.loaded) {
		&:before {
			transition: all 2s ease;
			opacity: 1;
			height: 100vh;
		}
	}

	> h1 {
		text-align: center;
		margin: 0;
		padding: 0;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 1;
		background: #fff;
		transition: background 0.3s ease;
		color: #343434;

		&.active {
			background: transparent;
			color: #FFF;
		}
	}

	&.editarPerfil {

		nav#perfisTabs .estadoClone {
			display: block;
		}

		nav#perfisTabs.active.fixed {
			top: -102px;
		}

		div.steps div.step#perfis div.perfis {
			padding: 245px 0 0;
		}
	}

	div.steps {
		z-index: 1;

		div.step {

			&:nth-of-type(4) {

			}

			&#tutorial {
				position: relative;
				min-height: calc(100vh - 140px);
				// background-image: url('../img/meucandidatoideal/bg-cidade.png');
				// background-repeat: no-repeat;
				// background-position: bottom center;

				@media screen and (max-height: 300px) {
					min-height: 300px;					
				}

				div.tutorial {
					// background: red;
					height: calc(100vh - 280px);
					margin-bottom: 80px;

					.slick-dots {
						bottom: calc(-16px + (-40px + 8px));
						height: 16px;
						// height: 60px;

						li {
							width: 16px;
							height: 16px;
							margin: 0 4px;
							padding: 0;
							background: #F0F2F7;
							border-radius: 50%;
							box-shadow: inset 0 0 0 3px #E3E8F0;

							&.slick-active {
								background: $azul-guia;
								box-shadow: inset 0 0 0 3px $azul-guia;
							}

							button {
								display: none;
							}
						}
					}

					div.item {

						div.wrap {
							display: flex;
							align-items: center;
							justify-content: flex-start;
							flex-direction: column;
							padding: 0 20px;

							div.bg {
								display: block;
								width: 100%;
								height: calc(50vh - 80px);
								margin-bottom: 20px;
								background-size: contain;
								background-position: center center;
								background-repeat: no-repeat;
							}

							p {
								display: block;
								margin: 0;
								padding: 0;
								font-size: 16px;
								max-width: 420px;

								@media screen and (max-width: 360px) {
									font-size: 12px;
								}
							}
							
						}
					}

				}

				a.comecar {
					width: 100vw;
					height: 60px;
					display: flex;
					z-index: 10;
					align-items: center;
					justify-content: center;
					padding: 0 20px;
					background: #fff;
					border-top: 1px solid #eee;
					font-family: 'Montserrat-Light';
					color: $azul-guia;
					text-transform: uppercase;
				}
			}

			&#selecioneEstado {
				min-height: calc(100vh - 140px);
				background-image: url('../img/meucandidatoideal/bg-cidade.png');
				background-repeat: no-repeat;
				background-position: bottom center;

				div.wrap {
					display: flex;
					height: calc(100vh - 140px);
					width: 100%;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					padding: 20px 20px 120px;

					@include breakpoint(normal-plus) {
						max-width: 500px;
						margin: 0 auto;
						text-align: center;
					}

					p {
						width: 100%;
						margin: 0 0 20px;
						padding: 0;
						font-family: 'Montserrat-Bold';
					}

					div.field {
						width: 100%;
						position: relative;
					}

					a.continuar {
						background: $azul-guia;
						color: #fff;
						height: 0;
						overflow: hidden;
						width: 100%;
						margin-top: 15px;
						border-radius: 30px;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 0;
						transition: all 0.3s ease;

						&.active {
							font-size: 14px;
							height: 50px;
						}
					}

					select {
				        font-family: 'Montserrat-Regular';
				        border: none;
				        border-bottom: 2px solid #e3e8f0;
				        font-size: 20px;
				        font-size: 14px;
				        display: block;
				        width: 100%;
				        padding: 10px 0 10px 0;
				        display: block;
				        text-transform: uppercase;
				        background: #FFF;

				        &.disabled {
				            display: none;
				        }
				    }

					.triggerEstado {
		                position: absolute;
		                top: 0;
		                left: 0;
		                width: 100%;
		                height: 100%;


		                &:after {
		                    background-image: url('../img/icons/arrow-black.png');
		                    background-repeat: no-repeat;
		                    background-size: contain;
		                    content: '';
		                    display: block;
		                    position: absolute;
		                    top: 15px;
		                    right: 5px;
		                    width: 14px;
		                    height: 8px;

		                }
		            }
				}
			}

			&#perfis {
				min-height: calc(100vh - 140px);
				padding: 0;
				// background-color: #fff;

				div.perfis {
					padding: 135px 0 0;
					margin: 0 0 80px 0;

					div.perfil {
						// display: none;
						padding: 0 20px;

						> div.wrap {
							max-width: 1024px;
							margin: 0 auto;
							display: flex;
							flex-wrap: wrap;
							justify-content: space-between;

							> p {
								text-align: center;
								width: 100%;
								max-width: 600px;
							    margin: 0 auto 5px auto;
							    display: block;
								font-size: 12px;
							}
						}

						h3 {
							margin: 30px 0 20px 0;
							padding: 0;
							font-family: 'Montserrat-Light';
							text-transform: uppercase;
							font-size: 14px;
							color: #343434;
							display: flex;
							align-items: center;
							justify-content: space-between;
							@include breakpoint(normal-plus) {
								justify-content: flex-start;
							}

							a {
								width: 24px;
								height: 24px;
								position: relative;
								border: 2px solid $azul-guia;
								display: flex;
								align-items: center;
								justify-content: center;
								border-radius: 50%;
								margin-left: 10px;

								img {
									display: block;
									height: 70%;
								}
							}
						}

						input[type=radio], input[type=checkbox] {
							display: none;
						}

						div.partido {
							width: 100%;
							@include breakpoint(normal-plus) {
								order: 1;
								width: calc(50% - 50px);
							}
							div.wrap {
								margin: 20px 0 0 0;
								border-bottom: 1px solid #E3E8F0;
								padding: 0;

								a.triggerPartido {
									font-family: 'Montserrat-Light';
							       	font-size: 14px;
							        display: flex;
							        width: 100%;
							        height: 40px;
							        padding: 0;
							        margin: 0 0 10px 0;
							        align-items: center;
							        justify-content: space-between;
							        text-transform: uppercase;
							        background: #FFF;
							        position: relative;

							        &:after {
					                    background-image: url('../img/icons/arrow-black.png');
					                    background-repeat: no-repeat;
					                    background-size: contain;
					                    content: '';
					                    display: block;
					                    width: 14px;
					                    height: 8px;

					                }
								}

								div.labels {
									display: flex;
									flex-wrap: wrap;
									align-items: center;
									justify-content: flex-start;
									margin: 0 -5px;
									max-height: 100px;
									overflow: hidden;
									position: relative;

									a.morePartido {
										height: 40px;
										width: calc(20% - 10px);
										margin: 0 5px 10px;
										border-radius: 25px;
										align-items: center;
										justify-content: center;
										font-family: 'Montserrat-Light';
										font-size: 10px;
										text-transform: uppercase;
										display: none;
										cursor: pointer;
										border: 1px solid $azul-guia;
										color: $azul-guia;
										background: #fff;
										font-size: 20px;
										position: absolute;
										bottom: 0;
										right: 0;
									}
									&.over {
										a.morePartido {
											display: flex
										}
									}

									input:checked + label {
										border: 1px solid $azul-guia;
										color: $azul-guia;
										display: flex;
									}

									label {
										height: 40px;
										width: calc(20% - 10px);
										// width: 100%;
										border: 1px solid #E3E8F0;
										margin: 0 5px 10px;
										border-radius: 25px;
										align-items: center;
										justify-content: center;
										color: #555555;
										font-family: 'Montserrat-Light';
										font-size: 10px;
										text-transform: uppercase;
										display: none;
										cursor: not-allowed;
										
									}								
								}
							}
						}

						div.faixaEtaria {
							width: 100%;
							@include breakpoint(normal-plus) {
								order: 3;
							}							
							div.wrap {
								position: relative;
								width: calc(100% - 30px);
								margin: 55px auto 45px;

								.noUi-pips {
									bottom: 0;
									top: auto;
									height: 55px;
									padding: 0;
									margin: 0;

									.noUi-value {
										color: #343434;
										font-size: 14px;
									}

									.noUi-marker {
										background-color: #e3e8f0;
										bottom: 0;
										width: 6px;
										height: 16px;
										border-radius: 6px 6px 0 0;
									}
								}
							}
						}

						div.sexo {
							width: 100%;
							@include breakpoint(normal-plus) {
								order: 2;
								width: calc(50% - 50px);
							}
							div.wrap {
								display: flex;
								flex-wrap: wrap;
								align-items: center;
								justify-content: flex-start;
								position: relative;
								width: 100%;

								input:checked + label {
									border: 1px solid $azul-guia;
									filter: grayscale(0%);
									box-shadow: 0 0 10px rgba(#E3E8F0,0.75);
									
								}

								label {
									position: relative;
									z-index: 1;
									cursor: pointer;
									transition: all 0.3s ease;
									width: calc(50% - 5px);
									height: 50px;
									border-radius: 25px;
									display: flex;
									align-items: center;
									justify-content: center;
									background-repeat: no-repeat;
									background-position: 8px center;
									padding: 0 15px 0 10px;
									text-transform: uppercase;
									font-family: 'Montserrat-Light';
									font-size: 14px;
									filter: grayscale(100%);
									background-color: #fff;
									border: 1px solid #E3E8F0;
									-webkit-transform: translateZ(0);
									-webkit-perspective: 1000;
									-webkit-backface-visibility: hidden;

									@include breakpoint(normal-plus) {
										max-width: 160px;
									}
									@media screen and (max-width: 360px) {
										font-size: 11px;
									}

									img {
										height: calc(100% - 12px);
										display: block;
										margin-right: 10px;
									}

									&:nth-of-type(1) {
										margin-right: 10px;
									}
									
								}
							}							
						}

						div.grauInstrucao, div.estadoCivil {
							width: 100%;
							div.wrap {
								display: flex;
								flex-wrap: wrap;
								align-items: center;
								justify-content: flex-start;

								input:checked + label {
									&:before {
										background-color: $azul-guia;
									}
								}

								label {
									width: 100%;
									font-size: 15px;
									font-family: 'Montserrat-Light';
									padding: 0 0 0 40px;
									margin: 0 0 15px 0;
									min-height: 24px;
									position: relative;
									display: flex;
									align-items: center;
									justify-content: flex-start;
									cursor: pointer;
									transition: all 0.3s ease;

									@include breakpoint(normal-plus) {
										width: 25%;
									}

									&:last-of-type {
										margin-bottom: 0;
										@include breakpoint(normal-plus) {
											margin-bottom: 15px;
										}
									}

									&:before {
										content: "";
										display: block;
										position: absolute;
										border-radius: 50%;
										width: 22px;
										height: 22px;
										border: 1px solid #E3E8F0;
										left: 0;
										top: calc(50% - 12px);
										box-shadow: inset 0 0 0 4px #fff;
										background-color: #fff;
										transition: all 0.3s ease;
									}
								}								
							}

							small {
						        margin-top: 15px;
							    display: block;
							}
						}

						div.grauInstrucao {
							@include breakpoint(normal-plus) {
								order: 4;
							}
						}

						div.estadoCivil {
							@include breakpoint(normal-plus) {
								order: 5;
								div.wrap {
									label {
										width: auto;
										margin-right: 20px;
									}
								}
							}
						}

						div.corRaca {
							width: 100%;
							@include breakpoint(normal-plus) {
								order: 6;
							}
							div.wrap {
								display: flex;
								flex-wrap: wrap;
								align-items: center;
								justify-content: flex-start;
								@include breakpoint(normal-plus) {
									justify-content: space-between;
								}

								input:checked + label {
									border: 1px solid $azul-guia;
									color: $azul-guia;
									box-shadow: 0 0 10px rgba(#E3E8F0,0.75);
								}

								label {
									height: 50px;
									width: calc(33.3333% - 10px);
									border: 1px solid #E3E8F0;
									margin-bottom: 15px;
									margin-right: 15px;
									border-radius: 25px;
									display: flex;
									align-items: center;
									justify-content: center;
									color: #555555;
									font-family: 'Montserrat-Light';
									font-size: 14px;
									text-transform: uppercase;
									cursor: pointer;
									background: #fff;
									transition: all 0.3s ease;
									@include breakpoint(normal-plus) {
										width: calc(20% - 10px);
										margin-right: 0;
									}

									&:nth-of-type(3n) {
										margin-right: 0;
										
									}
								}
							}
						}

						a.copySenador {
							background: $azul-guia;
							color: #fff;
							height: 50px;
							width: 100%;
							margin-top: 15px;
							border-radius: 30px;
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 12px;
							transition: all 0.3s ease;
							@include breakpoint(normal-plus) {
								order: 7;
							}
						}

						a.proximoCargo {
							background: #fff;
							border: 1px solid $azul-guia;
							color: $azul-guia;
							height: 50px;
							width: 100%;
							margin-top: 15px;
							border-radius: 30px;
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 12px;
							transition: all 0.3s ease;
							@include breakpoint(normal-plus) {
								order: 7;
							}
						}
					}
				}

				p {
					margin: 0;
					padding: 0;
				}

			}

			&#breve {
				min-height: calc(100vh - 140px);
				padding-top: calc(50vh - 70px);
				padding-bottom: 125px;
				position: relative;
				@media screen and (max-height: 300px) {
					min-height: 300px;					
				}

				div.wrap {
					padding: 20px;
					max-width: 450px;
					margin: 0 auto;
					p {
						margin: 0 0 15px 0;
						padding: 0;
						font-family: 'Montserrat-Light';
						line-height: 150%;
						font-size: 16px;
						@media screen and (max-width: 360px) {
							font-size: 14px;
						}
					}
				}

				a.avancar {
					position: absolute;
					bottom: 75px;
					border-radius: 30px;
					left: calc(50% - 205px);
					max-width: 410px;
					width: calc(100% - 40px);
					background: #FF700C;
					color: #fff;
					height: 50px;
					display: flex;
					z-index: 1;
					align-items: center;
					justify-content: center;
					padding: 0 20px;
					font-family: 'Montserrat-Light';
					font-size: 12px;
					text-transform: uppercase;

					@media screen and (max-width: 450px) {
						left: 20px;
					}
				}

				a.editar {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100vw;
					height: 60px;
					display: flex;
					z-index: 1;
					align-items: center;
					justify-content: center;
					padding: 0 20px;
					background: #fff;
					border-top: 1px solid #eee;
					font-family: 'Montserrat-Light';
					font-size: 12px;
					color: $azul-guia;
					text-transform: uppercase;
				}


			}

		}
	}

	nav#perfisTabs {
		position: absolute;
		left: 0;
		width: 100vw;
		// height: 115px;
		background: #fff;
		display: block;
		z-index: 2;
		top: -55px;
		border-bottom: 1px solid #eee;

		.slick-track {
			@include breakpoint(normal-plus) {
				transform: translate3d(0px, 0px, 0px) !important;
			}
		}

		&.active {
			top: 140px;

			&.fixed {
				position: fixed;
				top: 6px;
			}
		}

		h2 {
			// height: 60px;
			align-items: center;
			justify-content: flex-start;
			padding: 0 20px 0;
			margin: 0 0 0 0;
			line-height: 120%;
			height: 53px;
			font-family: 'Montserrat-Regular';
			// border-bottom: 1px solid #eee;
			font-size: 14px;
			@media screen and (min-width: 650px) {
				text-align: center;
			}
		}

		.estadoClone {
			margin: 15px auto 35px;
			position: relative;
			width: calc(100% - 40px);
			max-width: 610px;
			display: none;

			label {
				font-family: 'Montserrat-Light';
				font-size: 10px;
				color: #A5A5A5;
				text-transform: uppercase;
			}

			select {
		        font-family: 'Montserrat-Regular';
		        border: none;
		        border-bottom: 1px solid #e3e8f0;
		        font-size: 20px;
		        font-size: 14px;
		        display: block;
		        width: 100%;
		        padding: 10px 0 10px 0;
		        display: block;
		        text-transform: uppercase;
		        background: #FFF;
		        color: #343434;

		        &.disabled {
		            display: none;
		        }
		    }

			.triggerEstadoClone {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;


                &:after {
                    background-image: url('../img/icons/arrow-black.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 15px;
                    right: 5px;
                    width: 14px;
                    height: 8px;

                }
            }
		}

		hr {
			margin: 0;
			padding: 0;
			height: 1px;
			border: 0;
			background: #eee;
			display: block;
			width: 100%;
		}

		ul {
			height: 60px;
			margin: 0 auto;
			padding: 0;
			background: #fff;
			@include breakpoint(normal-plus) {
				width: 100vw;
				max-width: 1024px;
			}			

			li {
				height: 60px;
				vertical-align: middle;
				padding: 0 15px;
				position: relative;

				@include breakpoint(normal-plus) {
					text-align: center;
				}

				&:before {
					content: "";
					height: 5px;
					width: calc(100% - 40px);
					background: #fff;
					display: block;
					position: absolute;
					bottom: 0;
					left: 20px;
					border-radius: 5px 5px 0 0;
				}

				&.slick-current {
					a {
						color: $azul-guia;
						font-family: 'Montserrat-Regular';
					}
					&:before {
						background: $azul-guia;
					}
				}

				a {
					text-transform: uppercase;
					color: #BEBEBE;
					font-family: 'Montserrat-Light';
					overflow: hidden;
					display: inline-flex;
					height: 100%;
					line-height: 120%;
					align-items: center;
					justify-content: center;

					@include breakpoint(normal-plus) {
						font-size: 12px;
					}
				}
			}
		}
	}

	nav#actionFiltros {
		position: fixed;
		bottom: -60px;
		left: 0;
		width: 100vw;
		height: 60px;
		display: flex;
		z-index: 1;
		align-items: center;
		justify-content: space-between;
		padding: 0 20px;
		background: #fff;
		border-top: 1px solid #eee;
		font-family: 'Montserrat-Light';

		&.active {
			bottom: 0;
		}

		a {
			text-transform: uppercase;
			color: $azul-guia;
		}
	}
}

div#selecionarPartidos {
	position: fixed;
	bottom: calc(-100vh - 140px);
	left: 0;
	width: 100%;
	background: #fff;
	height: calc(100vh - 140px);
	border-top: 1px solid #E3E8F0;
	display: flex;
	flex-wrap: wrap;
	justify-content: stretch;
	transition: all 0.3s ease;
	z-index: 10000;

	&.active {
		bottom: 0;
	}

	a.close {
        position: absolute;
		top: -65px;
        left: 15px;
        font-size: 20px;
        display: flex;
        width: 20px;
        height: 20px;
        align-items: center;
        justify-content: center;
        opacity: 0.75;
    }

    a.ok {
		position: absolute;
		top: -25px;
		right: 20px;
		width: 50px;
		height: 50px;
		color: #fff;
		background: #FF700C;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 24px;
		z-index: 1;

		&.active {
			span.num {
				transform: scale(1);
			}
		}

		span.num {
			position: absolute;
			top: -2px;
			right: -2px;
			background: $azul-guia;
			display: flex;
			width: 16px;
			height: 16px;
			font-size: 10px;
			transform: scale(0);
			overflow: hidden;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			box-shadow: 0 0 0 2px #fff;
			transition: all 0.3s ease;
		}
	}

	div.wrap {
		height: calc(100vh - 140px);
		overflow: auto;

		div.desc {
			padding: 35px 25px 25px;
			position: relative;
			border: 1px solid #E3E8F0;
			width: 100%;

			h1 {
				margin: 0 0 0 0;
				padding: 0;
				font-family: 'Montserrat-Light';
				font-size: 15px;
				text-transform: none;
				line-height: 120%;
				color: #343434;
			}

			p {
				margin: 20px 0 0 0;
				padding: 0;
				font-family: 'Montserrat-Light';
				font-size: 14px;
				text-transform: none;
				line-height: 120%;
				color: #555555;
				//display: none;
			}
			
		}

		ul {
			width: 100%;
			padding: 15px 0;
			display: block;

			@include breakpoint(normal-plus) {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				padding: 15px 15px;
			}

			li {
				display: block;
				margin: 0 25px 15px;
				padding: 0;

				&.todos {
					width: 100%;
				}

				@include breakpoint(normal-plus) {
					width: calc(33.33333%);
					margin: 0 0 15px 0;
				}

				@include breakpoint(large) {
					width: calc(25%);
				}

				@include breakpoint(huge) {
					width: calc(20%);
				}

				input {
					display: none;
				}

				input:checked + label {
					&:before {
						background-color: $azul-guia;
					}
				}

				label {
					width: 100%;
					font-size: 15px;
					font-family: 'Montserrat-Light';
					padding: 0 0 0 40px;
					margin: 0 0 15px 0;
					min-height: 24px;
					position: relative;
					display: block;
					line-height: 18px;
					vertical-align: middle;
					font-size: 12px;
					color: #555555;
					cursor: pointer;
					// align-items: center;
					// justify-content: flex-start;
					transition: all 0.3s ease;

					strong {
						font-size: 14px;
						font-family: 'Montserrat-Regular';
						display: block;
					}

					&:last-of-type {
						margin-bottom: 0;
					}

					&:before {
						content: "";
						display: block;
						position: absolute;
						border-radius: 50%;
						width: 22px;
						height: 22px;
						border: 1px solid #E3E8F0;
						left: 0;
						top: calc(50% - 12px);
						box-shadow: inset 0 0 0 4px #fff;
						background-color: #fff;
						transition: all 0.3s ease;
					}
				}
			}
		}
	}

}

div#bgBreve {
	position: absolute;
	overflow: hidden;
	top: -50vh;
	left: 0;
	width: 100%;
	height: calc(50vh + 60px);
	z-index: 0;
	transition: top 0.3s ease;

	&.active {
		top: 0;
	}

	div.puzzle {
		height: 100%;
		width: 100%;
		background-image: url('../img/meucandidatoideal/breve.png');
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		z-index: 1;
		position: relative;
	}

	&:before {
		content: "";
		width: 180vw;
		height: 180vw;
		border-radius: 50%;
		bottom: 60px;
		left: calc(50% - 90vw);
		display: block;
		position: absolute;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3875f1+0,06e3ff+100 */
		background: #3875f1; /* Old browsers */
		background: -moz-linear-gradient(top, #3875f1 0%, #06e3ff 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #3875f1 0%,#06e3ff 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #3875f1 0%,#06e3ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875f1', endColorstr='#06e3ff',GradientType=0 ); /* IE6-9 */
	}

	&:after {
		content: "";
		width: 180vw;
		height: 180vw;
		border-radius: 50%;
		bottom: 60px;
		left: calc(50% - 90vw);
		display: block;
		position: absolute;
		// background-image: url('../img/meucandidatoideal/bg-cidade-monotone.png');
		// background-repeat: no-repeat;
		// background-position: center calc(100% - 40px);
	}
}

div#bgTutorial {
	position: absolute;
	overflow: hidden;
	top: -50vh;
	left: 0;
	width: 100%;
	height: calc(50vh + 60px);
	z-index: 0;
	transition: top 0.3s ease;

	&.active {
		top: 0;
	}

	&:before {
		content: "";
		width: 180vw;
		height: 180vw;
		border-radius: 50%;
		bottom: 60px;
		left: calc(50% - 90vw);
		display: block;
		position: absolute;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3875f1+0,06e3ff+100 */
		background: #3875f1; /* Old browsers */
		background: -moz-linear-gradient(top, #3875f1 0%, #06e3ff 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #3875f1 0%,#06e3ff 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #3875f1 0%,#06e3ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875f1', endColorstr='#06e3ff',GradientType=0 ); /* IE6-9 */
	}

	&:after {
		content: "";
		width: 180vw;
		height: 180vw;
		border-radius: 50%;
		bottom: 60px;
		left: calc(50% - 90vw);
		display: block;
		position: absolute;
		background-image: url('../img/meucandidatoideal/bg-cidade-monotone.png');
		background-repeat: no-repeat;
		background-position: center calc(100% - 40px);
	}
}