// ====================================================================
// Meus Candidatos
// ====================================================================

section#avaliar-selecionados-f3, section#candidatos-2018-f3, section#grau-de-afinidade-f3 {
    padding-left: 0;
	padding-right: 0;
	position: relative;
	z-index: 7;
	transition: all 0.3s ease;
    padding: 120px 20px 0 20px;
    
    //Selecionar Cargo
    div.selecionarCargo {
        background: #0C46E6;
        position: absolute;
        width: 100%;
        transform: translateY(-60px);
        left: 0;
        height: 60px;
        z-index: 101;
        overflow: hidden;
        color: #fff;
        // transition: all 0.3s ease;
        
        @media screen and (orientation: landscape) and (min-height: 650px) {
            max-height: 580px;
        }

        &.scrollable {
            position: absolute;
            top: 0;
            transform: translateY(-60px);
            transition: all 0.3s ease;

            &.fixed {
                position: fixed;
                top: 0;
                transform: translateY(-60px);

                &.scroll {
                    transform: translateY(0px);
                }
            }
        }

        &.active {
            position: fixed;
            height: calc(100vh - 60px);
            box-shadow: 0 0 15px rgba(#000, 0.6), 0 0 0 200vh rgba(#fff, 0.75);
            a.open {
                height: 0;				
            }
        }

        a.open {
            height: 60px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            overflow: hidden;
            background: #0C46E6;
            position: relative;
            z-index: 1;
            transition: all 0.3s ease;

            &:after {
                content: '\f078';
                margin-left: 10px;
                display: block;
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
            }
        }

        div.wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: calc(100vh - 60px);
            height: 100%;

            p {
                padding: 0 0;
                height: 80px;
                text-align: center;
                margin: 0;
                font-size: 14px;
                font-family: "Montserrat-Light";
                line-height: 140%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            ul {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                li {
                    height: calc(100% / 6);
                    width: 100%;
                    text-align: center;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a {
                        border-top: 1px solid rgba(#06E3FF, 0.2);
                        color: #fff;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        font-family: "Montserrat-Light";
                        font-size: 12px;
                        text-transform: uppercase;
                        color: #06E3FF;

                        &.close {
                            color: #fff;
                            font-family: "Montserrat-Regular";
                            font-size: 14px;
                            flex-direction: row;
                            &:after {
                                content: '\f077';
                                margin-left: 10px;
                                display: block;
                                font-family: 'Font Awesome 5 Free';
                                font-weight: 900;
                            }
                        }

                        &.breve:after {
                            content: "Em breve";
                            display: block;
                            color: #fff;
                            font-size: 10px;
                        }
                    }

                }
            }
        }

    }

    //Steps
    ul.steps {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        position: relative;

        padding: 0 0 25px;
        
        li {

            margin: 5px 0 0 0;
                    
            &.active {
                
                margin: 0 0 0 0;
                background-image: url('../img/meuscandidatos/bg-steps.svg');
                background-repeat: no-repeat;
                background-size: auto;
                background-position: center center;
                
                span {
                    border-color: #0000BF;
                    background-color: #FF700C;
                    color: #FFF;
                    width: 30px;
                    height: 30px;
                    font-size: 16px;
                }

            }


            &.finalizado {
                &:after {
                    content: url(../img/icons/icon-check.png);
                    position: absolute;
                    top: 4px;
                    margin-left: 30px;
                    @include hackpoint (ie11) {
                        top: 25px;
                    }
                }
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 25px;

                border: 3px solid #E3E8F0;
                background-color: #F0F2F7;
                color: #A5A5A5;
                border-radius: 50%;
                margin: 0 15px 5px 15px;

                font-size: 14px;
                text-indent: 1px;
            }

        }
    }

    //Texto
    p.texto {
        font-size: 16px;
        font-family: "Montserrat-Light";
        color: #555555;
        margin: 0 auto 20px;
        padding: 0 20px;
        max-width: 1170px;
        text-align: left;

        span.blue {
            color:#0000BF;
            font-size: 16px;
            font-weight: 700;
        }

        span.orange {
            color:#FF700C;
            font-size: 16px;
            font-weight: 500;
        }

        span.tit {
            font-family: 'Montserrat-Regular';
            color: #343434;
        }

        @media screen and (max-width: 769px) {
            max-width: 320px;
            font-size: 14px;
        }

    }

    p.recomendacoes {
        color: #343434;
        font-weight: 700;
    }

    .bg-fire {
        position: relative;
        overflow: hidden;
        min-height: calc(100vh - 270px);
        //margin-top: 105px;
        padding: 30px 15px 90px;
        //border-top: 1px solid #e3e8f0;
        background: #ffc40a;
        background: -webkit-linear-gradient(top, #ffc40a 0%, #ff700c 100%);
        background: -webkit-gradient(linear, left top, left bottom, from(#ffc40a), to(#ff700c));
        background: -o-linear-gradient(top, #ffc40a 0%, #ff700c 100%);
        background: linear-gradient(to bottom, #ffc40a 0%, #ff700c 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc40a', endColorstr='#ff700c',GradientType=0 );
    
        &:before {
            position: absolute;
            z-index: 0;
            bottom: -webkit-calc(100% - 140px);
            bottom: calc(100% - 140px);
            left: -350vw;
            display: block;
            width: 800vw;
            height: 300px;
            height: 800vw;
            content: '';
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background: #fff;
        }
    }

}


//Tutorial
section.tutorial-meus-candidatos {
	display: none;
	position: fixed;
	//top: 60px;
	left: 0;
	z-index: 15;
	width: 100%;
	min-height: calc(100vh);
	background: #FFF;

	&:before {
        content: "";
        width: 180vw;
        height: 100vw;
        border-radius: 50%;
        bottom: calc(55vh);
        left: calc(50% - 90vw);
        display: block;
		position: absolute;
		z-index: 1;
		
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc40a+0,ff700c+100 */
		background: rgb(255,196,10); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(255,196,10,1) 0%, rgba(255,112,12,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(255,196,10,1) 0%,rgba(255,112,12,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(255,196,10,1) 0%,rgba(255,112,12,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc40a', endColorstr='#ff700c',GradientType=0 ); /* IE6-9 */
    }

    &:after {
        content: "";
        width: 180vw;
        height: 100vw;
        border-radius: 50%;
        bottom: calc(65vh);
        left: calc(50% - 90vw);
        display: block;
		position: absolute;
		z-index: 2;
        background-image: url('../img/meuscandidatos/candidatos2018/bg-laranja-silhueta-cidade.png');
        background-repeat: no-repeat;
        background-position: center calc(100% - 40px);
    }

    .tutorial {

        width: 100%;
		position: relative;
		z-index: 3;

        h1 {
            font-size: 14px;
            margin: 20px 0 30px 0;
            color: #FFF;
			text-align: center;


            @include breakpoint (tiny) {
                font-size: 16px;
            }
            @include breakpoint (normal) {
                font-size: 18px;
            }
            @include breakpoint (normal-plus) {
                font-size: 20px;
            }
        }

        .tutorial-steps {
            //overflow: auto;
            @media screen and (max-height: 560px) and (max-width: 360px) {
                 overflow: auto;
            }

            //Slick Dots
            .slick-dots {
                bottom: calc(-16px);
                height: 16px;
                // height: 60px;

                li {
                    width: 16px;
                    height: 16px;
                    margin: 0 4px;
                    padding: 0;
                    background: #F0F2F7;
                    border-radius: 50%;
                    box-shadow: inset 0 0 0 3px #E3E8F0;

                    &.slick-active {
                        background: $azul-guia;
                        box-shadow: inset 0 0 0 3px $azul-guia;
                    }

                    button {
                        display: none;
                    }
                }
            }

            div.item {

                div.wrap {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: column;
                    padding: 0 20px;

                    div.bg {
                        display: block;
                        width: 100%;
                        height: calc(50vh - 80px);
                        margin-bottom: 20px;
                        background-size: contain;
                        background-position: center center;
                        background-repeat: no-repeat;
                        z-index: 1;
                    }

                    p {
                        display: block;
                        margin: 0;
                        padding: 0;
                        font-size: 15px;
                        max-width: 420px;

                        @media screen and (max-width: 360px) {
                            font-size: 12px;
                        }

                        strong.text-cand {
                            font-family: 'Montserrat-Regular';
                            color: #343434;
                        }
                        strong.semi {
                            font-family: 'Montserrat-SemiBold';
                            color: #0000BF;
                        }
                    }
                    
                }
            }

        }

    }

    a.comecar {

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100vw;
        height: 60px;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 10;

        background: #fff;
        border-top: 1px solid #eee;
        font-family: 'Montserrat-Light';
        color: $azul-guia;
        text-transform: uppercase;
    }
}

.box-tutorial {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 100;
    width: 60px;
    padding: 5px;
    background: rgba(#fff, 0);
    
    border-radius: 30px;
    overflow: hidden;
    

    transition: all .3s cubic-bezier(0.2, 0.6, 0.1, 1);

    &.active {
        width: 277px;
        padding-right: 10px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
        background: rgba(#fff, 1);

        a.ask {
            position: absolute;
        }
        .wrap-tutorial {
            margin-left: 50px;
            display: flex;
        }
    }

    a.ask{
        position: relative;
        z-index: 100;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #0000BF;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    }

    .wrap-tutorial {
        display: none;
        justify-content: flex-start;
        align-items: center;
        height: 50px;
        position: relative;
        width: 221px;

        span {
            font-family: 'Montserrat-Regular';
            font-size: 12px;
            text-transform: uppercase;
            color: #0C46E6;
            padding: 0 10px;

            &:first-of-type {
                border-right: 1px solid #0C46E6; 
            }

        }
    }
}

a.triggerTutorial {
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 100;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0000BF;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(#172E69, 0.3);
}

a.info, a.info-ciente {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    width: 24px;
    height: 24px;
    margin-left: 10px;
    border: 2px solid $azul-guia;
    border-radius: 50%;

    img {
        display: block;
        height: 70%;
    }
}