// ====================================================================
// Meu Voto
// ====================================================================

section#meu-voto, #preview-download-img{
    
    position: relative;
    padding: 60px 0 0 0 !important;
    overflow: hidden;
    
    transition: all 0.3s ease;
    
    @media screen and (orientation: landscape) and (min-height: 650px) {
		&.pushLeft {
			transform: translateX(-500px);
            
			* {
				pointer-events: none;
			}
		}
    }
    
    .container {
        max-width: 900px;
    }
    
    //Descição
    .desc {
        
        margin: 30px auto;
        padding: 0 20px;
        z-index: 5;
        position: relative;
        
        
        h1 {
            font-size: 12px;
            margin: 0 0 10px 0;
            text-align: center;
            
        }
        
        p {
            &.blue {
                color: #0C46E6;
            }
            &:last-of-type {
                font-size: 15px;
            }
        }
        
        a.salvar-imagem {
            
            color: #FF700C;
            font-size: 12px;
            margin: 15px 0 0 0;
            text-transform: uppercase;
            
            &:after {
                content: '';
                display: inline-block;
                background-image: url('../img/icons/icon-download.png');
                background-repeat: no-repeat;
                background-size: contain;
                width: 18px;
                height: 18px;
                margin-left: 10px;
            }
            
            @include hackpoint (edge) {
                display: none;
            }
        }
        
    }
    
    //Lista candidato
    .lista-candidatos {
        
        width: 100%;
        position: relative;
        
        .item {
            padding: 0 20px;
            margin: 0 20px;
            border-bottom: 1px solid #DBDBDB;
            margin: 0 auto;
            
            &.active {
                padding-bottom: 20px;
                .info-reduzida {
                    div.numero {
                        span {
                            &:after {
                                transform: rotate(180deg)
                            }
                        }
                    }
                }
            }
            
            .info-reduzida {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                
                width: 100%;
                height: 90px;
                position: relative;
                
                
                div.candidato {
                    padding: 0 5px;
                    span {
                        
                        display: block;        
                        font-family: 'Montserrat-Light';
                        font-size: 16px;
                        color: #343434;
                        height: 100%;
                        
                        &.cargo {
                            text-transform: uppercase;
                            margin-bottom: 3px;
                        }
                        
                        &.nome {
                            text-transform: capitalize;
                            color: #0000BF;
                            font-size: 18px;
                        }
                    }
                }
                
                div.numero {
                    span {
                        display: flex;
                        align-items: center;
                        
                        font-family: 'Dense-Regular';
                        color: #0C46E6;
                        font-size: 36px;
                        
                        &:after {
                            display: inline-flex;
                            color: #FF700C;
                            content: '\f078';
                            margin: 0 10px;
                            display: block;
                            font-size: 20px;
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900;
                            transition: transform .2s ease;
                        }
                    }
                }
            }
            
            .wrap {
                
                width: calc(100%);
                position: relative;
                border-radius: 5px;
                box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
                //padding: 0 5px 20px;
                
                display: none;
                
                &.no-item {
                    box-shadow: none;
                }
                
                .info-candidato {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    
                    width: 100%;
                    height: 100px;
                    position: relative;
                    padding: 0 20px;
                    
                    border-bottom: 1px solid #DBDBDB;
                    
                    @media (max-width: 425px) {
                        height: 100%;
                        padding: 20px 10px;
                    }
                    
                    div.photo {
                        width: 64px;
                        height: 64px;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                        border: 3px solid #E3E8F0;
                        margin-right: 15px;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        position: relative;
                        z-index: 1;
                        background-color: #fff;
                        flex-shrink: 0;
                        
                        span {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            filter: grayscale(100%);
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            border-radius: 50%;
                            -webkit-transform: translateZ(0);
                            -webkit-perspective: 1000;
                            -webkit-backface-visibility: hidden;
                        }
                        
                        // ############################
                        // #### Opção sem as fotos ####
                        // ############################
                        // display: none !important;
                    }
                    
                    .candidato {
                        padding-right: 20px;
                        width: 100%;
                        .name {
                            span {
                                font-family: 'Montserrat-Regular';
                                font-size: 18px;
                                color: #343434;
                                text-transform: capitalize;
                            }
                        }
                        .partido {
                            span {
                                display: block;
                                font-family: 'Montserrat-Regular';
                                font-size: 16px;
                                color: #A5A5A5;
                                text-transform: capitalize;
                                
                                &.nome-partido {
                                    font-size: 14px;
                                    font-family: 'Montserrat-Light';
                                }
                            }
                        }
                    }
                    
                    .afinidade {
                        
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        position: relative;
                        
                        span.texto{
                            font-family: 'Montserrat-Light';
                            font-size: 10px;
                            color: #A5A5A5;
                            text-transform: uppercase;
                            text-align: center;
                            display: inline-block;
                        }
                        
                        span.porcentagem {
                            font-family: 'Bebas';
                            font-size: 35px;
                            color: #FF700C;
                            text-align: center;
                            text-transform: uppercase;
                            display: inline-block;
                        }

                        span.avaliado {
                            text-align: center;
                            text-transform: uppercase;
                            display: inline-block;
                            font-family: 'Bebas';
                            font-size: 35px;
                            color: #fff;
                        }

                        span.nao-avaliado {
                            text-align: center;
                            text-transform: uppercase;
                            display: inline-block;
                            font-size: 10px;
                            color: #FF700C;
                        }
                    }
                }
                
                .actions {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    
                    width: 100%;
                    height: 80px;
                    position: relative;
                    
                    .btn {
                        border: 1px solid #0000BF;
                        width: 50%;
                        margin: 0 5px;
                        text-transform: uppercase;
                        padding: 0;
                        text-align: center;
                        
                        span {
                            color: #0C46E6;
                        }
                    }
                }
                
                .info {
                    p.texto {
                        font-family: 'Montserrat-Light';
                        font-size: 16px;
                        color: #343434;
                        margin: 0 0 20px 0;
                    }
                    a.avaliar {
                        background-color: #FF700C;
                        text-transform: uppercase;
                    }
                }
            }
            
        }
        
    }
    
    .lembrese {
        width: 100%;
        position: relative;
        
        padding: 20px;
        
        p.orange {
            
            font-family: 'Montserrat-SemiBold';
            font-size: 16px;
            max-width: 900px;
            margin: 20px auto;
            color:#FF700C;
        }
        
        img {
            width: 100%;
            height: auto;
        }
        
        .dicas {
            
            width: 100%;
            position: relative;
            
            p {
                font-family: 'Montserrat-Regular';
                font-size: 16px;
                color: #FFF;
                padding: 20px 15px;
                margin: 20px 0;
                width: 100%;
                position: relative;
            }
            
            //Backgrounds
            .bg-screwdriver {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff700c+1,ffb309+100 */
                background: rgb(255,112,12); /* Old browsers */
                background: -moz-linear-gradient(-45deg, rgba(255,112,12,1) 1%, rgba(255,179,9,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(-45deg, rgba(255,112,12,1) 1%,rgba(255,179,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg, rgba(255,112,12,1) 1%,rgba(255,179,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff700c', endColorstr='#ffb309',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            }
            .bg-bluesky {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#06e3ff+0,4c8af6+100 */
                background: rgb(6,227,255); /* Old browsers */
                background: -moz-linear-gradient(-45deg, rgba(6,227,255,1) 0%, rgba(76,138,246,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(-45deg, rgba(6,227,255,1) 0%,rgba(76,138,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg, rgba(6,227,255,1) 0%,rgba(76,138,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06e3ff', endColorstr='#4c8af6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            }
            .bg-sun {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dd1754+0,ff700c+100 */
                background: rgb(221,23,84); /* Old browsers */
                background: -moz-linear-gradient(-45deg, rgba(221,23,84,1) 0%, rgba(255,112,12,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(-45deg, rgba(221,23,84,1) 0%,rgba(255,112,12,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg, rgba(221,23,84,1) 0%,rgba(255,112,12,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd1754', endColorstr='#ff700c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            }
            .bg-bluedark {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c8af6+0,0000bf+100 */
                background: rgb(76,138,246); /* Old browsers */
                background: -moz-linear-gradient(-45deg, rgba(76,138,246,1) 0%, rgba(0,0,191,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(-45deg, rgba(76,138,246,1) 0%,rgba(0,0,191,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg, rgba(76,138,246,1) 0%,rgba(0,0,191,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c8af6', endColorstr='#0000bf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            }
            
            .first {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                position: relative;
                flex-wrap: wrap;
                @media (max-width: 320px) {
                    flex-direction: column;
                }
                
                .urna {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    
                    
                    @media (max-width: 320px) {
                        width: 100%
                    }
                    
                    p {
                        text-align: center;
                        margin: 0;
                    }
                    img.urna {
                        width: 151px;
                        height: 71px;
                        margin-bottom: 30px;
                    }
                }
                .calendario {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    
                    @media (max-width: 320px) {
                        width: 100%
                    }
                    
                    img {
                        width: 130px;
                        height: 160px;;
                        
                    }
                }
            }
            .last {
                img {
                    width: 344px;
                    height: auto;
                    position: relative;
                    left: calc(50% - 172px);
                    bottom: -4px;
                    
                    @include breakpoint (mini) {
                        width: 250px;
                        left: calc(50% - 125px);
                    }
                }
            }
            
        }
        
    }
}

// Cola do Voto Para impressão
#preview-download-img {
	display: block;
    position: fixed;
    width: 1400px;
    height: auto;
	left: -200vw;
    top: -200vh;
    z-index: 1000000;
    padding: 0 !important;
    // left: 0;
    // top: 0;
    // position: relative;
    // box-shadow: inset 0 0 0 2px $azul-guia;
    
    div.wrap {
        border: 10px solid #0c46e6;
        width: 100%;
        max-width: 400px;
        position: relative;
        
        &:after {
            position: absolute;
            right: -35px;
            bottom: -35px;
            width: 37px;
            height: 53px;
            content: '';
            background: url(../img/meuvoto/tesoura.png);
            z-index: 10;
            background-repeat: no-repeat;
            background-size: 30px;
        }
    }

    div.wrap-bordered {
        border: 1px dashed;
        max-width: 402px;
        margin: 20px 0;
        border-left: 0;
        border-top: 0;
    }
    
    div.header {
        // height: 60px;
        position: relative;
        margin: 15px 0;
        
        img {
            display: block;
            margin: 0 auto;
            height: 100%;
            height: 70px;
        }
        
        span {
            border-top: 1px solid #E3E8F0;
            display: block;
            width: 100%;
            text-align: center;
            padding-top: 15px;
            margin: 15px 0 0;
            font-family: "Montserrat-Bold";
            color: #343434;
            text-transform: uppercase;
        }
    }
    
    .lista-candidatos {
        .item {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
            position: relative;
            width: 100%;
            padding: 15px 20px;
            
            div.cargo {
                font-family: "Montserrat-Light";
                font-size: 14px;
                color: #343434;
                width: 100%;
                text-transform: uppercase;
            }
            
            div.nome {
                width: 100%;
                max-width: 200px;
                &:not(.sem-candidato) {
                    min-height: 42px;
                    font-family: "Montserrat-Light";
                    font-size: 20px;
                    color: $azul-guia;
                    text-transform: capitalize;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    span {
                        display: block;
                    }
                }
                &.sem-candidato {
                    border-bottom: 1px solid #666;
                }
            }
            
            div.numero {
                display: flex;
                &:not(.sem-candidato) {
                    span {
                        height: 42px;
                        font-size: 42px;
                        line-height: 100%;
                        color: #0C46E6;
                        font-family: 'Dense-Regular';
                        display: block;  
                        letter-spacing: 10px;           
                    }                    
                }
                &.sem-candidato {
                    span {
                        height: 42px;
                        width: 30px;
                        border: 1px solid #666;
                        margin: 0 2px;
                    }
                }
            }
            
            div.confirma {
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    color: #6BD75F;
                    border: 1px solid #6BD75F;
                    border-radius: 50px;
                    font-size: 10px;
                    padding: 8px;
                    text-transform: uppercase;
                }
            }
        }
    }
    
    
    .lembrese {
        padding-top: 0;
        padding-bottom: 70px;
        background-image: url('../img/erro/bg-silhueta-cidade.png');
        background-position: 0% bottom;
        background-repeat: no-repeat;
        background-size: auto 70px;
        
        p {
            font-family: "Montserrat-SemiBold";
        }
        
        ul {
            display: block;
            margin: 0;
            padding: 0;
            
            li {
                margin: 0 0 15px 0;
                padding: 0 0 0 20px;
                font-family: "Montserrat-Light";
                font-size: 15px;
                color: #343434;
                position: relative;
                
                span.circle {
                    width: 8px;
                    height: 8px;
                    border: 2px solid $azul-guia;
                    display: block;
                    position: absolute;
                    top: 6px;
                    left: 0;
                    border-radius: 50%;
                }
            }
        }
        
    }
}