// ====================================================================
// Perguntas Frequentes
// ====================================================================

section#minhaconta {
    height: 300px;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        width: auto;
        margin: 0 -20px;
        //Informações
        .infos {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: calc(100%);
            position: relative;
            padding: 20px 20px 0px 20px;
            /*&:before {
                display: block;
                content: '';
                position: absolute;
                width: 100%;
                height: 66px;
                bottom: 0;
            }*/
            &:after {
                display: block;
                content: '';
                position: absolute;
                width: 100%;
                height: 74px;
                bottom: 0;
                left: 0;
                background-image: url('../img/quiz/bg-quiz-white.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }


            &.cap-01 {
                background: #F4F6F9;
                background-image: url('../img/perguntas/bg-perguntas-cidade.png');
                background-repeat: repeat-x;
                background-position: center right;
            }
            //Descrição
            .desc {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                position: relative;
                padding: 0 0 0 10px;

                h2 {
                    width: 100%;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 12px;
                }


                div.persona {
                    text-align: center;
                    padding-top: 20px;

                    img {
                        width: 100%;
                    }
                }
            }
        }
 
    }
}

section#minhaconta-form {
    // padding: 40px 20px 40px 20px;


    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        min-height: calc(100vh - 420px);
        //Formulario
        .cadastro {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            width: 100%;
            position: relative;

            @include breakpoint(small-plus) {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                div.field {
                    width: calc(50% - 20px);
                }
            }

            .triggerEstado {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                @include breakpoint(small-plus) {
                    width: calc(50% - 20px);
                }

            }

            .notificacoes {
                margin-bottom: 20px;
                @include breakpoint(small-plus) {
                    margin-bottom: 0;
                    width: calc(50% - 20px);
                    p {
                        margin: 0;
                    }
                }
                p {
                    margin-bottom: 0px;
                    font-family: 'Montserrat';
                    font-weight: 500;
                    font-style: normal;
                    color: #343434;
                    font-size: 12px;
                }

                .inp-notifica {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    > div {
                        width: calc(100% - 68px);
                        padding-right: 20px;
                    }

                    p {
                        color: #A5A5A5;
                        font-size: 14px;
                        font-family: 'Montserrat-Light';
                    }

                    .bell {

                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        position: relative;
        
                        width: 68px;
                        padding: 0;
                        margin: 20px 0;
                        background-color: #F0F2F7;
                        border-radius: 30px;
                        border: 1px solid #E3E8F0;
                        height: 34px;
        
                        //Active
                        &.active {
                            background-color: #0c46e6;
                            .bar {
                                width: calc(100%);
        
                                &:before {
                                    background-color: #FFF;
                                    border-color: #0c46e6;
                                    left: calc(100% - 30px);
                                    background-image: url(../img/minhaconta/sino02.png);
                                }
                            }

                        }
 
                        .bar {
        
                            display: flex;
                            flex-direction: row;
                            // justify-content: flex-start;
                            align-items: center;
        
                            width: 42px;
                            position: absolute;
                            border-radius: 30px;
                            transition: all .5s ease;
                            height: 32px;
                            top: 0;
                            left: 0;
        
                            &:before {
                                font-family: 'Font Awesome 5 Brands';
                                content: '';
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                width: 30px;
                                height: 30px;
                                border-radius: 30px;
                                border: 1px solid #ccc;
                                top: 0;
                                left: 0;
                                position: absolute;
                                background-color: white;
                                background-image: url(../img/minhaconta/sino-01.png);
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                        }

                    }
                }
            }
        }

        .send-minha-conta {
            background-color: #FF700C;
            font-size: 14px;
            @include breakpoint(small-plus) {
                margin-left: auto;
                margin-right: auto;
                max-width: 400px;
            }
        }

        //Informacoes
        .infos {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            width: 100%;
            padding-top: 10px;

            p {

                &:nth-of-type(1) {
                    color: #343434;
                }

            }

            .facebook {

                width: 100%;
                background-color: #0C46E6;
                margin: 0 0 20px 0;

                i {
                    color: #FFF;
                    padding: 0 10px 0 0;
                }

                span {
                    font-size: 13px;
                }
    
            }
    
            .title {
                display: flex;
                justify-content: center;
                align-items: center;
    
                width: 100%;
                position: relative;
                z-index: 1;
                margin: 20px 0 40px 0;
                color: #A5A5A5;
    
                
                &:before {
                    position: absolute;
                    z-index: 0;
                    display: inline-block;
                    width: 100%;
                    margin: 0 15px 0 0;
                    content: '';
                    border-top: 1px solid #F0F2F7;
                }
    
                strong {
                    line-height: 100%;
                    position: relative;
                    z-index: 1;
                    display: block;
                    padding: 0 10px;
                    background: #FFF;
                    font-weight: 400;
                }
    
            }
        }
    }
}

.olho {
    position: absolute;
    background-image: url('../img/minhaconta/olho01.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 21px;
    top: 9px;
    right: 0;

    &.active {
        background-image: url('../img/minhaconta/olho02.png');
    }
}

.checkslider {
    position: relative;
    /*width: 100%;*/
    padding-bottom: 20px;
    margin-left:10px;


    .switch {
        position: relative !important;
        display: inline-block;
        width: 60px;
        height: 34px;
        pointer-events: auto !important;
    }
    /* Hide default HTML checkbox */
    .switch input {
        display: none !important;
    }


    /* The slider */
    .spslider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .spslider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        background-image: url('../img/minhaconta/sino-01.png');
        background-position: center;
        background-repeat: no-repeat;
    }

    input:checked + .spslider {
        background-color: #0C46E6;
    }

    input:focus + .spslider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .spslider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        background-image: url('../img/minhaconta/sino02.png');
    }
    /* Rounded sliders */
    .spslider.round {
        border-radius: 34px;
    }

    .spslider.round:before {
        border-radius: 50%;
    }
}