section#o-que-eu-valorizo {

    &:after {

        display: block;
        content: '';
        position: absolute;
        
        width: 100%;
        height: 66px;
        bottom: 0;
        left: 0;

        background-image: url('../img/quiz/bg-quiz-cidade.png');
        background-repeat: repeat-x;
        background-position: center;
        background-size: auto;

    }

    .container {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        min-height: calc(100vh - 116px);
        position: relative;

        //Informacoes
        .infos {

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            width: calc(100% + 40px);
            position: relative;
            padding: 20px 20px 100px 20px;

            background: rgb(0,0,191); /* Old browsers */
            background: -moz-linear-gradient(45deg, rgba(0,0,191,1) 0%, rgba(56,117,241,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(45deg, rgba(0,0,191,1) 0%,rgba(56,117,241,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(45deg, rgba(0,0,191,1) 0%,rgba(56,117,241,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000bf', endColorstr='#3875f1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

            &:before {

                display: block;
                content: '';
                position: absolute;
                
                width: 100%;
                height: 66px;
                bottom: 0;
                left: 0;

                background-image: url('../img/meucandidatoideal/bg-cidade-monotone.png');
                background-repeat: repeat-x;
                background-position: center;
                background-size: auto;

            }

            &:after {

                display: block;
                content: '';
                position: absolute;
                
                width: 100%;
                height: 74px;
                bottom: -1px;
                left: 0;

                background-image: url('../img/quiz/bg-quiz-white.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

            }

            h1 {
                font-size: 12px;
                margin: 0 0 10px;
                color: #FFF;

                @include breakpoint (tiny) {
                    font-size: 16px;
                }
                @include breakpoint (normal) {
                    font-size: 18px;
                }
                @include breakpoint (normal-plus) {
                    font-size: 20px;
                }
            }

            p {

                color: #FFF;

                @media (max-width: 330px) {
                    font-size: 15px;
                }
                @include breakpoint (normal-plus) {
                    font-size: 20px;
                }
            }

            small {

                color: #FFF;

                @media (max-width: 330px) {
                    font-size: 10px;
                }
                @include breakpoint (normal-plus) {
                    font-size: 14px;
                }
            }

            //Steps
            ul.steps {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                position: relative;
                padding: 0 20px;
                max-width: 500px;
                //background-color: red;

                &:before {
                    position: absolute;
                    z-index: 0;
                    display: inline-block;
                    width: calc(100% - 40px);
                    content: '';
                    border-top: 1px solid #06E3FF;
                    @media all and (-ms-high-contrast:none)
                    {
                        display: none;
                    }
                }

                & > li {

                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid #06E3FF;
                    color: #06E3FF;
                   
                    z-index: 1;

                    &:nth-of-type(1) {
                        background-color: #0a15c8;
                    }
                    &:nth-of-type(2) {
                        background-color: #1c3bd8;
                    }
                    &:nth-of-type(3) {
                        background-color: #2f63e9;
                    }

                    &.active {
                        background-color: #06E3FF;
                        color: #0C46E6;
                    }

                }

            }


        }

        .carousel-steps {

            width: calc(100% + 40px);
            position: relative;
            top: -100px;

            .item {

                position: relative;
                width: 100%;
                
                .wrap {

                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    position: relative;
                    width: 100%;
                    padding: 0 20px;

                    p.title {
                        width: 100%;
                        color: #FFF;
                        text-align: center;

                        @media (max-width: 330px) {
                            font-size: 15px;
                        }
                        @include breakpoint (normal-plus) {
                            font-size: 20px;
                        }
                    }

                    
                    //Tutorial
                    .lista-tutorial {

                        padding: 15px 0 0 0;
                        
                         //Slick Dots
                        .slick-dots {
                            //bottom: calc(-16px + (-40px + 8px));
                            height: 16px;
                            // height: 60px;

                            li {
                                width: 16px;
                                height: 16px;
                                margin: 0 4px;
                                padding: 0;
                                background: #F0F2F7;
                                border-radius: 50%;
                                box-shadow: inset 0 0 0 3px #E3E8F0;

                                &.slick-active {
                                    background: $azul-guia;
                                    box-shadow: inset 0 0 0 3px $azul-guia;
                                }

                                button {
                                    display: none;
                                }
                            }
                        }

                        .item {

                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            flex-direction: column;
                            padding: 0 20px;

                            img {
                                width: 100%;
                                max-width: 400px;
                            }

                            p {
                                display: block;
                                margin: 40px 0;
                                padding: 0;
                                font-size: 15px;
                                max-width: 420px;

                                @media screen and (max-width: 360px) {
                                    font-size: 12px;
                                }
                            }
                        }

                    }
                    
                    .temas {

                        margin: 20px 0 0 0;
                        max-width: 1170px;
                        width: 100%;

                        p {
                            margin-bottom: 0;
                        }


                        //STEP 01
                        .lista-temas {

                            & > li {
                                //padding: 20px 15px;
                                box-shadow: 0px 0px 8px 0px rgba(181, 181, 181, 0.5);
                                margin: 15px 0;
                                border-radius: 5px;
                                position: relative;
                                width: 100%;
                                height: 52px;

                                padding: 0 10px;
                                overflow: hidden;

                                &.active {
                                    border: 1px solid #0000BF;
                                    label {
                                        color: #0C46E6;
                                    }
                                }

                                &.checked {
                                    background-color: #0000bf;
                                    label {
                                        color: #FFF;
                                    }
                                }

                                &.blocked {
                                    background-color: #e8e8e833;
                                    pointer-events: none;
                                    input {
                                        pointer-events: none;
                                    }
                                    label {
                                        pointer-events: none;
                                    }
                                }

                                .disable-click {
                                    pointer-events: none;
                                    input {
                                        pointer-events: none;
                                    }
                                    label {
                                        pointer-events: none;
                                    }
                                }

                                input[type=checkbox] {
                                    display: none;
                                }

                                label {

                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    position: relative;
                                    width: 100%;
                                    height: 50px;
                                    padding: 0 10px;
                                    font-size: 14px;
                                    color: #555555;
                                }

                            }
                            


                        }

                        //STEP 02
                        .ordena-temas {

                            width: 100%;
                            max-width: 1170px;                        

                            .item {
                                padding: 0 3px;

                                ul.pergunta {

                                    & > li {
                                        //padding: 20px 15px;
                                        box-shadow: 0px 0px 8px 0px rgba(181, 181, 181, 0.5);
                                        margin: 15px 0;
                                        border-radius: 5px;
                                        height: 52px;
        
                                        padding: 0 10px;
                                        overflow: hidden;
        
                                        &.active {
                                            border: 1px solid #0000BF;
                                            label {
                                                color: #0C46E6;
                                            }
                                        }
        
                                        input[type=radio] {
                                            display: none;
                                        }
        
                                        label {
        
                                            display: flex;
                                            justify-content: flex-start;
                                            align-items: center;
                                            position: relative;
                                            width: 100%;
                                            height: 50px;
                                            padding: 0 10px;
                                            font-size: 14px;
                                            color: #555555;
                                        }
        
                                    }
                                }
                            }

                        }

                        //STEP 03
                        .resultado-temas {

                            & > li {

                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;

                                width: 100%;
                                height: 70px;
                                position: relative;
                                border-bottom: 1px solid #E3E8F0;

                                span.num {

                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    width: 30px;
                                    height: 30px;
                                    border-radius: 50%;
                                    color: #FFF;
                                    background-color: #0000BF;
                                }

                                span.tema {
                                    color: #343434;
                                }

                                span.porcentagem {
                                    color: #0000BF;
                                    width: 50px;
                                    text-align: center;
                                }
                            }

                        }

                    }

                }

                //TUTORIAL
                &#tutorial {
                    .wrap {
                        .lista-tutorial {
                            width: 100%;
                            max-width: 1170px;
                            p {
                                padding: 0 20px;
                            }
                        }
                    }
                }

                //STEP 02
                &#step-02 {
                    .wrap {
                        .temas {
                            p {
                                padding: 0 20px;
                            }
                        }
                    }
                }

                 //STEP 03
                 &#step-03 {
                    .wrap {
                        .temas {
                            margin: 0;
                            max-width: 768px;

                            @include breakpoint(huge) {
                                margin: 20px 0 0 0;
                            }
                            @include breakpoint(large) {
                                margin: 20px 0 0 0;
                            }
                            @include breakpoint(normal) {
                                margin: 20px 0 0 0;
                            }
                            @include breakpoint(small) {
                                margin: 50px 0 0 0;
                            }
                            @include breakpoint(tiny) {
                                margin: 20px 0 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
    
    a.ok {
        display: none;
        justify-content: center;
        align-items: center;

        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 40px;
        left: calc(50% - 25px);
        font-size: 24px;
        color: #555555;
        border-radius: 50%;
        
        background-color: #F0F2F7;
        z-index: 1;
        pointer-events: none;

        &.active {
            span.num {
                transform: scale(1);
            }
        }

        &.locked {
            display: flex;
        }

        &.full {
            pointer-events: auto;
            background-color: #ff700c;
            color: #fff;
        }

        span.num {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            font-size: 10px;
            top: -2px;
            right: -2px;
            overflow: hidden;
            width: 16px;
            height: 16px;
            transition: all .3s ease;
            transform: scale(0);
            border-radius: 50%;
            background: #0c46e6;
            box-shadow: 0 0 0 2px #fff;
            color: #fff;
        }
    }

    a.comecar, a.confirmar {

        font-family: 'Montserrat-Regular';
        font-size: 16px;
        position: fixed;
        z-index: 1;
        width: 100vw;
        bottom: 0;
        left: 0;
        display: none;
        height: 60px;
        padding: 0 20px;
        text-transform: uppercase;
        color: #eeeeee;
        border-top: 1px solid #eee;
        background: #fff;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        cursor: pointer;

        &.active {
            color: #0c46e6;
            pointer-events: auto;
        }

        &.locked {
            display: flex;
        }

    }

    .actions-final {
        display: none;

        width: 100%;
        position: fixed;
        z-index: 1;
        width: 100vw;
        bottom: 0;
        left: 0;
        border-top: 1px solid #eee;
        background: #fff;
        cursor: pointer;

        &.locked {
            display: flex;
        }

        a.refazer, a.go-se-eu-fosse-um-politico {

            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            font-family: 'Montserrat-Regular';
            font-size: 16px;
            text-transform: uppercase;
            color: #0c46e6;
            width: 50vw;
            height: 60px;
            padding: 0 20px;

            @include breakpoint (mini) {
                padding: 0 10px;
            }
        }

        a.go-se-eu-fosse-um-politico {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            border-left: 1px solid #eee;

            @include breakpoint (normal-plus) {
                align-items: center;
            }

            span {
                position: relative;
                text-align: center;
                &:first-of-type {
                    &:after {
                        content: url('../img/icons/icon-arrow-blue-mini.png');
                        transform: rotate(180deg);
                        display: inline-block;
                        justify-content: center;
                        align-items: center;
                        width: 18px;
                        height: 13px;
                        position: relative;
                        margin-left: 5px;
                        vertical-align: middle;
                        margin-top: -2px;

                    }
                }

                &:last-of-type {
                    font-size: 13px;
                    @include breakpoint (mini) {
                        font-size: 10px;
                    }
                }
            }

        }

    }
    
}

#preview-compartilhar {
    .container {
        min-height: auto;
        .infos {
            padding: 20px 20px 20px 20px;

            h1 {
                font-size: 12px;
            }
        }

        .carousel-steps {
            top: auto;

            .item {
                .wrap {
                    p.title {
                        font-size: 12px;
                        margin: 0;
                        color: #4f4f4f;
                    }

                    div.temas {
                        margin: 0 !important;
                        .resultado-temas {
                            li {
                                height: 45px;
                            }
                        }
                    }
                }
            }
        }
    }
}

