// ====================================================================
// Quiz
// ====================================================================

section#quiz {

    &.desk {
        .container {

            
            .btn-back {
                @include breakpoint (large) {
                    display: flex;
                }
                @include breakpoint (huge) {
                    display: flex;
                }
            }

            .infos, .infos-final {

                padding: 20px 20px 100px 20px;

                &:after {
                    bottom: -1px;
                }


                .status {
                    justify-content: space-between;

                    span {
                        font-size: 14px;
                    }
                    p {
                        font-size: 14px;
                    }
                    .numbers {
                        
                    }
                }

                .desc {
                    h2 {
                        width: auto;
                        font-size: 25px;
                    }
                    p {
                        width: auto;
                        font-size: 20px;
                    }
                    small {
                        width: auto;
                        font-size: 14px;
                    }
                }
            }


            .quiz {
                .item {
                    .question {
                        p {
                            margin: 50px 0;
                            font-size: 18px;
                        }
                    }
                    .answer {
                        .list {
                            label {
                                span {
                                    font-size: 16px;
                                }
                            }
                        }
                    }

                    // &.final-quiz {
                    //     .imagem {
                    //         &:before {
                    //             top: 75%;
                    //         }
                    //     }

                    //     &.deg {
                    //         .imagem {
                    //             &:before {
                    //                 top: 68%;
                    //             }
                    //         }
                    //     }
                    // }
                }
            }

            .actions {
                max-width: 1170px;
                margin: 0 auto;
                left: calc(50% - (1170px / 2));
                padding: 30px 10px;

                @media screen and (max-width: 1180px) {
                    max-width: auto;
                    width: 100%;
                    left: 0;                    
                }

                span {
                    font-size: 16px;
                }
            }
        }
    }

    .container {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        position: relative;
        width: 100%;

        //Botao Voltar (Desk)
        .btn-back {
            display: none;
            align-items: center;
            position: absolute;
            left: 10px;
            top: 16px;
            z-index: 1;
            img {
                width: 25px;
                height: 25px;
                margin-right: 10px;
            }

            span {
                color: #0000BF;

                @include breakpoint (mini-h) {
                    font-size: 10px;
                }
            }
        }

        //Informações
        .infos, .infos-final {

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            width: calc(100% + 40px);
            position: relative;
            padding: 20px 20px 50px 20px;

            &:before {

                display: block;
                content: '';
                position: absolute;
                
                width: 100%;
                height: 66px;
                bottom: 0;
                left: 0;

                background-image: url('../img/quiz/bg-quiz-cidade.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

            }

            &:after {

                display: block;
                content: '';
                position: absolute;
                
                width: 100%;
                height: 74px;
                bottom: 0;
                left: 0;

                background-image: url('../img/quiz/bg-quiz-white.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

            }

            &.cap-00 {
                background: #08bbf9; /* Old browsers */
                background: -moz-linear-gradient(45deg, #08bbf9 0%, #06e3ff 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(45deg, #08bbf9 0%,#06e3ff 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(45deg, #08bbf9 0%,#06e3ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08bbf9', endColorstr='#06e3ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            }


            &.cap-02 {
                background: #ffc40a; /* Old browsers */
                background: -moz-linear-gradient(top, #ffc40a 0%, #f9e959 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #ffc40a 0%,#f9e959 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #ffc40a 0%,#f9e959 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc40a', endColorstr='#f9e959',GradientType=0 ); /* IE6-9 */
            }

            &.cap-03 {
                background: #dd1754; /* Old browsers */
                background: -moz-linear-gradient(top, #dd1754 0%, #ff700c 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #dd1754 0%,#ff700c 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #dd1754 0%,#ff700c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd1754', endColorstr='#ff700c',GradientType=0 ); /* IE6-9 */
            }

            &.cap-04 {
                background: #08bbf9; /* Old browsers */
                background: -moz-linear-gradient(45deg, #08bbf9 0%, #06e3ff 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(45deg, #08bbf9 0%,#06e3ff 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(45deg, #08bbf9 0%,#06e3ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08bbf9', endColorstr='#06e3ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            }

            &.cap-05 {
                background: #ffc40a; /* Old browsers */
                background: -moz-linear-gradient(45deg, #ffc40a 0%, #ff700c 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(45deg, #ffc40a 0%,#ff700c 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(45deg, #ffc40a 0%,#ff700c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc40a', endColorstr='#ff700c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            }

            &.cap-06 {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#06e3ff+0,0c46e6+100 */
                background: #06e3ff; /* Old browsers */
                background: -moz-linear-gradient(45deg, #06e3ff 0%, #0c46e6 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(45deg, #06e3ff 0%,#0c46e6 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(45deg, #06e3ff 0%,#0c46e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06e3ff', endColorstr='#0c46e6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            }

            //Progressao
            .progression{

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                width: 100%;
                max-width: 960px;
                border: 1px solid #E3E8F0;
                border-radius: 50px;
                padding: 2px 0;
                background-color: #FFF;

                ul {

                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;

                    width: 100%;
                    height: fit-content;

                    li {
                        width: 100%;
                        background: #E3E8F0;
                        height: 15px;
                        transform: skew(-25deg);
                        margin-right: 3px;

                        &:first-of-type {
                            margin-left: 3px;
                            border-radius: 40px 0 0 160px;
                        }

                        &:last-of-type {
                            border-radius: 0 160px 40px 0;
                        }

                        &.right {
                            background: #6BD75F;
                        }

                        &.wrong {
                            background: #FF700C;
                        }
                        
                    }

                }

            }

            //Status Usuario
            .status {

                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                width: 100%;
                max-width: 960px;
                position: relative;
                padding: 0 0 0 10px;

                span {
                    color: #0000BF;
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: 700;
                }

                p {
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: 700;
                }

                //Numeros
                .numbers {

                    margin: 0 20px 0 0;

                }

                //Porcentagem
                .percentage {
                    
                }

            }

            //Descrição
            .desc {

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                width: 100%;
                max-width: 960px;
                position: relative;
                padding: 0 0 0 10px;

                h2 {
                    width: 100%;
                    color:#FFF;

                    &.cap-02 {
                        color: #1b2026;
                    }
                }

                p {
                    width: 100%;
                    margin: 0 0 10px 0;
                }

                small {
                    width: 100%;
                    font-size: 11px;
                    color: #343434;
                    
                     span {
                        font-family: inherit;
                        font-size: inherit;
                     }
                }

            }
        }

        //Quiz
        .quiz {

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            width: calc(100% + 40px);
            //padding: 0 20px;
            position: relative;
            outline: 0;
            margin-bottom: 50px;
            
            @include breakpoint (mini-h) {
                padding-bottom: 70px;
            }

            .item {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: fit-content;
                position: relative;
                outline: 0;

                //Pergunta
                .question {

                    width: 100%;
                    position: relative;
                    padding: 0 20px 0 20px;
                    max-width: 960px;

                    p {
                        font-family: 'Montserrat-Regular';
                        margin: 30px 0;
                        padding: 0 0;

                        .txt-question {
                            color: #0c46e6;
                            font-size: 1em;
                            text-decoration: underline;
                            text-underline-position: under;
                        }
                    }
                }

                //Resposta
                .answer {

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    width: 100%;
                    max-width: 960px;
                    position: relative;


                    //Input Radio
                    input[type=radio] {
                        display: none;
                    }
                    
                    input[type=radio] + label {
                        display: inline-flex;
                        align-items: center;
                        cursor: pointer;
                        top: 0;
                        font-size: 14px;
                        color:#555555;

                    }
                    
                    input[type=radio]:checked + label {
                        &:before {
                            background-color: #0000BF;
                        }
                    }
                    
                    //Lista de Respostas
                    .list {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;

                        width: 100%;
                        position: relative;
                        padding: 0 20px;

                        //Item
                        label {

                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;

                            width: 100%;
                            margin: 0 0 30px 0;
                            padding: 15px 15px;
                            border: 2px solid #E3E8F0;
                            border-radius: 15px;
                            position: relative;
                            min-height: 70px;

                            span {
                                width: calc(100% - 35px);
                                
                                display: inline-flex;
                            }

                            &:after {
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                
                                width: 35px;
                                height: 35px;
                                font-size: 14px;
                                font-weight: 700;
                                color: #fff;
                                border-radius: 50%;
                                box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
                            }

                            &.active {
                                border-color: #0C46E6;
                                background-color: #f1f1f1;
                                box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
                            }

                            &.right {
                                border-color: #6BD75F;
                                // padding: 5px 15px;

                                &:after {
                                    content: '\2713';
                                    background: #6BD75F;
                                }

                            }

                            &.wrong {
                                border-color: #FF700C;
                                // padding: 5px 15px;

                                &:after {
                                    content: 'X';
                                    background: #FF700C;
                                }
                            }

                        }

                        //Explicação
                        .explanation {
                            
                            display: none;
                            flex-direction: row;
                            justify-content: flex-end;
                            align-items: center;
                            flex-wrap: wrap;

                            width: 100%;
                            position: relative;
                            margin: 0 0 50px 0;
                            padding: 0 20px 0 20px;

                            &.active {
                                
                                display: flex;

                            }

                            p {
                                width: 100%;
                                position: relative;
                                margin: 0;
                                font-size: 14px;
                            }

                            a {
                                position: relative;
                                color: #FF700C;
                                display: table;
                                margin: 20px 0 0 0;
                                font-size: 14px;
                            }

                        }

                    }

                }

            }
            
        }

        //Botoes
        .actions {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    
            padding: 10px 10px;        
            background-color: #FFF; 
            border-top: 2px solid #F0F2F7;

            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;

            @include breakpoint(normal-plus) {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
            }
    
            span {
                text-transform: uppercase;
            }
    
            //Pular
            .jumpQuestion {
                color: #0C46E6;
    
                &:before {
                    content: '';
                    width: 18px;
                    height: 17px;
                    background: url("/assets/img/icons/icon-arrow-blue-curve.png") no-repeat;
                    position: relative;
                    display: inline-block;
                    margin: 0 5px 0 0;
                }
    
                &.disabled {
                    filter: grayscale(1);
                    opacity: 0.2;
                    pointer-events: none;
                }
            }
    
            //Pages
            .page {
    
            }
    
            //Next
            .responder, .continuar {
                color: #0C46E6;

                &.disabled {
                    filter: grayscale(1);
                    opacity: 0.2;
                    pointer-events: none;
                }
            }
    
            .continuar {
                span {
                    &:after {
                        content: '';
                        width: 18px;
                        height: 13px;
                        background: url("../img/icons/icon-arrow-blue.png") no-repeat;
                        background-size: contain;
                        position: relative;
                        display: inline-block;
                        margin: 0 0 0 5px;
                        transform: rotate(180deg)
                    }
                }
    
            }
    
        }

        //Final do Quiz
        .final-quiz {
            //Backgrounds Nota
            .imagem {

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                width: calc(100% + 40px);
                position: relative;
                padding: 20px 20px 0 20px;

                &:before {

                    display: block;
                    content: '';
                    position: absolute;
                    
                    width: 100%;
                    height: 66px;
                    bottom: 0;
                    left: 0;

                    background-image: url('../img/quiz/bg-quiz-cidade.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    

                }

                &:after {

                    display: block;
                    content: '';
                    position: absolute;
                    
                    width: 100%;
                    height: 74px;
                    bottom: 0;
                    left: 0;

                    background-image: url('../img/quiz/bg-quiz-white.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;

                }

                &.cap-00 {
                    background: #08bbf9; /* Old browsers */
                    background: -moz-linear-gradient(45deg, #08bbf9 0%, #06e3ff 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(45deg, #08bbf9 0%,#06e3ff 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(45deg, #08bbf9 0%,#06e3ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08bbf9', endColorstr='#06e3ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                }

                &.cap-02 {
                    background: #ffc40a; /* Old browsers */
                    background: -moz-linear-gradient(top, #ffc40a 0%, #f9e959 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, #ffc40a 0%,#f9e959 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, #ffc40a 0%,#f9e959 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc40a', endColorstr='#f9e959',GradientType=0 ); /* IE6-9 */
                }

                &.cap-03 {
                    background: #dd1754; /* Old browsers */
                    background: -moz-linear-gradient(top, #dd1754 0%, #ff700c 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, #dd1754 0%,#ff700c 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, #dd1754 0%,#ff700c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd1754', endColorstr='#ff700c',GradientType=0 ); /* IE6-9 */
                }

                &.cap-04 {
                    background: #08bbf9; /* Old browsers */
                    background: -moz-linear-gradient(45deg, #08bbf9 0%, #06e3ff 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(45deg, #08bbf9 0%,#06e3ff 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(45deg, #08bbf9 0%,#06e3ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08bbf9', endColorstr='#06e3ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                }

                &.cap-05 {
                    background: #ffc40a; /* Old browsers */
                    background: -moz-linear-gradient(45deg, #ffc40a 0%, #ff700c 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(45deg, #ffc40a 0%,#ff700c 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(45deg, #ffc40a 0%,#ff700c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc40a', endColorstr='#ff700c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                }

                &.cap-06 {
                    background: #06e3ff; /* Old browsers */
                    background: -moz-linear-gradient(45deg, #06e3ff 0%, #0c46e6 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(45deg, #06e3ff 0%,#0c46e6 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(45deg, #06e3ff 0%,#0c46e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06e3ff', endColorstr='#0c46e6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                }

                span {
                    color: #FFF;
                    font-size: 18px;
                    font-family: 'Montserrat-Bold'
                }

                img {
                    z-index: 1;
                }

            }

            //Item Final - Nota
            .infos-final {
                width: 100%;
                padding: 20px 20px 0 20px;
                &:before {
                    height: 0;
                    background-image: none;
                }
                &:after {
                    height: 0;
                    background-image: none;
                }

                &.cap-0 {
                    p {
                        font-family: 'Montserrat-Bold';
                    }
                }

                p {
                    padding: 0 20px;
                    @media (max-width: 374px) 
                    {
                        padding: 0;
                    }

                    a {
                        color: #0000bf;
                        text-decoration: underline;
                    }
                }

            }
            
            .actions-end {
 
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 960px;

                width: 95%;
                position: relative;
                padding: 0 0px 20px 0px;
                
                .compartilhar {
                    background-color: #FFF;
                    color: #0C46E6;
                    border: 2px solid #0000BF;
                }

                .btn-quiz {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    width: 100%;
                    position: relative;

                    
                    .quiz-final {
                        background-color: #FF700C;
                        margin: 0 10px;

                        span {
                            font-size: 14px;
                            @media (max-width: 374px) 
                            {
                                font-size: 10px;
                            }
                        }

                        &:first-of-type {
                            margin-left: 0;
                        }
                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }

                .cadastrese {
                    background-color: #FF700C;
                }

            }
        }


    }

}