// ====================================================================
// Ranking Partidos
// ====================================================================

section#ranking-partidos {

    // &:after {

    //     display: block;
    //     content: '';
    //     position: absolute;
        
    //     width: 100%;
    //     height: 66px;
    //     bottom: 78px;
    //     left: 0;

    //     background-image: url('../img/quiz/bg-quiz-cidade.png');
    //     background-repeat: repeat-x;
    //     background-position: center;
    //     background-size: auto;

    // }

    &.changed {
        &:after {
            background: none;
        }
    }

    .container {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        position: relative;
        //margin-bottom: 148px;

        //Informacoes
        .infos {

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            width: calc(100% + 40px);
            position: relative;
            padding: 20px 20px 50px 20px;
            overflow: hidden;

            h1 {
                font-size: 12px;
                margin: 0 0 10px;
                color: #FFF;
                z-index: 1;

                @include breakpoint (tiny) {
                    font-size: 16px;
                }
                @include breakpoint (normal) {
                    font-size: 18px;
                }
                @include breakpoint (normal-plus) {
                    font-size: 20px;
                }
            }

            p {
                color: #FFF;
                z-index: 1;
                font-size: 13px;
                max-width: 500px;

                a {
                    color: #fff;
                    font-family: "Montserrat-Bold";
                }
            }

            small {

                color: #1b2026;
                z-index: 1;

                @media (max-width: 330px) {
                    font-size: 10px;
                }
                @include breakpoint (normal-plus) {
                    font-size: 14px;
                }
            }

        }

        //Ranking
        .ranking {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            
            position: relative;
            width: calc(100% + 40px);
            max-width: 1170px;

            //Filtros
            .filtros {

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                width: 100%;
                margin: 20px 0;

                .number, .letter {

                    &.active {
                        a {
                            filter: none;

                            span {
                                color: #FF700C;
                            }
                        }
                    }

                    a {

                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        margin: 0 10px;
                        filter: grayscale(100%) brightness(120%);

                      

                        span {
                            color: #BEBEBE;
                            margin-left: 5px;
                        }

                        img {

                            &:first-of-type {
                                width: 27px;
                                height: 23px;
                            }
                            &:last-of-type {
                                width: 24px;
                                height: 23px;
                            }

                        }
                    }
                }

            }

            //Lista Ranking
            .lista-ranking {

                width: 100%;
                position: relative;
                padding: 0 0 80px 0;
                
                .item {

                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    border-top: 2px solid #E3E8F0;
                    position: relative;
                    padding: 20px 20px;

                    &.disable-item {
                        background-color: #f0f2f7;

                        a {
                            img {
                               transform: rotate(180deg);
    
                            }
                        }
                    }

                    .name {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;

                        span {
                            text-transform: uppercase;
                        }

                        p {
                            margin: 5px 0;
                            padding-right: 10px;

                            br {
                                @include breakpoint (normal-plus) {
                                    display: none;
                                }
                            }
                        }


                    }

                    & > span {
                        font-family: 'Montserrat-Bold';
                        color: #DD1754;
                    }

                }
            }

            //Refazer
            .actions {
                display: flex;
        
                width: 100%;
                position: fixed;
                z-index: 1;
                width: 100vw;
                bottom: 0;
                left: 0;
                border-top: 1px solid #eee;
                background: #fff;
                cursor: pointer;
        
                a.refazer, a.go-meu-candidato-ideal {
        
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
        
                    font-family: 'Montserrat-Regular';
                    font-size: 16px;
                    text-transform: uppercase;
                    color: #0c46e6;
                    width: 50vw;
                    height: 60px;
                    padding: 0 20px;
        
                    @include breakpoint (mini) {
                        padding: 0 10px;
                    }
                }
        
                a.go-meu-candidato-ideal {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    border-left: 1px solid #eee;
        
                    @include breakpoint (normal-plus) {
                        align-items: center;
                    }
        
                    span {
                        position: relative;
                        text-align: center;
                        &:first-of-type {
                            &:after {
                                content: url('../img/icons/icon-arrow-blue-mini.png');
                                transform: rotate(180deg);
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                width: 18px;
                                height: 13px;
                                position: absolute;
                                margin-left: 5px;
        
                            }
                        }
        
                        &:last-of-type {
                            font-size: 13px;
                            @include breakpoint (mini) {
                                font-size: 10px;
                            }
                        }
                    }
        
                }
        
            }
        }

    }

}