// ====================================================================
// Se Eu fosse um politico
// ====================================================================

body {

    &.ios {
        section#se-eu-fosse-um-politico {
            .container {
                .respostas {

                    bottom: 100vh;

                    &.active {
                        bottom: 0;
                        top: auto;
                    }

                    .item {
                        .wrap {
                            -webkit-overflow-scrolling: touch;

                            &.active {
                                top: auto;
                                bottom: 0;
                            }

                            .question {
                                margin-top: 70px;
                            }

                            .partidos {
                                .lista-partidos {
                                    margin: 20px 0 0 0;
                                    padding-bottom: 0;
                                }
                            }

                            .next-question {
                                //top: calc(100% - 60px);
                                position: relative;
                            }
                        }
                    }
                }
            }
        }

    }

    &.ios-app section#se-eu-fosse-um-politico .container .respostas .item .wrap .question {
        margin-top: 0;
    }
}

section#se-eu-fosse-um-politico {

    &:after {

        display: block;
        content: '';
        position: absolute;
        
        width: 100%;
        height: 66px;
        bottom: 78px;
        left: 0;

        background-image: url('../img/quiz/bg-quiz-cidade.png');
        background-repeat: repeat-x;
        background-position: center;
        background-size: auto;

    }

    &.changed {
        &:after {
            background: none;
        }
    }

    .container {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        min-height: calc(100vh - 60px);
        position: relative;
        //margin-bottom: 148px;

        //Informacoes
        .infos {

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            width: calc(100% + 40px);
            position: relative;
            padding: 20px 20px 75px 20px;
            overflow: hidden;

            h1 {
                font-size: 12px;
                margin: 0 0 10px;
                color: #FFF;
                z-index: 1;

                @include breakpoint (tiny) {
                    font-size: 16px;
                }
                @include breakpoint (normal) {
                    font-size: 18px;
                }
                @include breakpoint (normal-plus) {
                    font-size: 20px;
                }
            }

            p {

                color: #FFF;
                z-index: 1;

                @media (max-width: 330px) {
                    font-size: 15px;
                }
                @include breakpoint (normal-plus) {
                    font-size: 20px;
                }
            }

            small {

                color: #FFF;
                z-index: 1;

                @media (max-width: 330px) {
                    font-size: 10px;
                }
                @include breakpoint (normal-plus) {
                    font-size: 14px;
                }
            }


        }

        //Quiz
        .quiz {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            
            position: relative;
            width: calc(100% + 40px);
            max-width: 1170px;
            padding-bottom: 80px;

            .item {

                .wrap {

                    //width: calc(100% + 40px);
                    max-width: 1170px;
                    position: relative;
        
                    //Question
                    .question {
        
                        padding: 0 20px;
                        border-bottom: 1px solid #f0f2f7;
                        width: 100%;
                        max-width: 1170px;
                        
                        .number {
                            font-family: 'Montserrat-Regular';
                            text-transform: uppercase;
                            font-size: 12px;
                            color: #0C46E6;
        
                            @media (max-width: 330px) {
                                font-size: 11px;
                            }
        
                            @include breakpoint (normal-plus) {
                                font-size: 16px;
                            }
        
                            span {
                                font-size: 12px;
        
                                @media (max-width: 330px) {
                                    font-size: 11px;
                                }
        
                                @include breakpoint (normal-plus) {
                                    font-size: 16px;
                                }
        
                            }
                        }
                        .text-question {
                            font-family: 'Montserrat-Regular';
                            font-size: 16px;
        
                            @media (max-width: 330px) {
                                font-size: 15px;
                            }
                            
                        }
                    }
        
                    //Resumo Ementa
                    .resumo-ementa {
                        margin: 20px 0 0 0;
                        padding: 0 20px;
                       
                        p {
                            @media (max-width: 330px) {
                                font-size: 15px;
                            }
        
                            @include breakpoint (normal-plus) {
                                font-size: 20px;
                            }
                        }
                        span {
                            font-family: 'Montserrat-Regular';
                            text-transform: uppercase;
                            font-size: 12px;
        
                            @media (max-width: 330px) {
                                font-size: 10px;
                            }
        
                            @include breakpoint (normal-plus) {
                                font-size: 16px;
                            }
                        }
        
                        .stats {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
        
                            width: 100%;
                            position: relative;
                            margin-bottom: 20px;
        
                            p, a {
                                font-family: 'Montserrat-Regular';
                                text-transform: uppercase;
                                font-size: 11px;
        
                                @include breakpoint (normal-plus) {
                                    font-size: 14px;
                                }
        
                                span {
                                    font-family: 'Montserrat-Bold';
                                    font-size: 11px;
        
                                    @include breakpoint (normal-plus) {
                                        font-size: 14px;
                                    }
                                }
                            }
        
                            a {
                                color: #ff700c;
                                text-decoration: underline;
                                text-underline-position: under;
                                margin-top: -4px;
                            }
                        }
                    }

                }

            }

        }
                
        //Respostas
        .respostas {
            
            width: 100vw;
            position: fixed;
            //left: -20px;
            top: -100vh;
            left: 0;
            z-index: 2;

            transition: top .5s ease;

            &.active {
                top: 60px;
            }

            .item {
                .wrap {

                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                    width: 100vw;
                    height: calc(100vh - 60px);
                    z-index: 5;
                    padding: 0 20px 0 20px;
                    overflow: scroll;
                    -webkit-overflow-scrolling: touch;

                    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
                    transition: all .5s ease;

                    background-color: #30ADFA;
        
                    &:after {
        
                        //display: none;
                        content: '';
                        position: absolute;
                        
                        width: inherit;
                        height: 66px;
                        bottom: 57px;
                        left: 0;
        
                        background-image: url('../img/seeufosseumpolitico/bg-quiz-cidade.png');
                        background-repeat: repeat-x;
                        background-position: center;
                        background-size: auto;
        
                    }
        
                    .question {
                        //display: none;
                        padding: 0 20px;
                        margin: 0 0 20px 0;
                        width: 100%;
                        max-width: 1170px;
                        
                        .number {
                            font-family: 'Montserrat-Regular';
                            text-transform: uppercase;
                            font-size: 12px;
                            color: #0C46E6;
        
                            @media (max-width: 330px) {
                                font-size: 11px;
                            }
        
                            @include breakpoint (normal-plus) {
                                font-size: 16px;
                            }
        
                            span {
                                font-size: 12px;
        
                                @media (max-width: 330px) {
                                    font-size: 11px;
                                }
        
                                @include breakpoint (normal-plus) {
                                    font-size: 16px;
                                }
        
                            }
                        }
                        .text-question {
                            font-family: 'Montserrat-Regular';
                            font-size: 16px;
                            color: #FFF;
        
                            @media (max-width: 330px) {
                                font-size: 15px;
                            }
                            
                        }
                    }
        
                    .list {
        
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
        
                        width: 100%;
                        max-width: 1170px;;
                        position: relative;

                        input, label {
                            pointer-events: none;
                        }
        
                        //Input Radio
                        input[type=radio] {
                            display: none;
                        }
        
                        input[type=radio] + label {
                            display: inline-flex;
                            align-items: center;
                            cursor: pointer;
                            top: 0;
                            font-size: 14px;
                            color:#FFF;
                            width: calc(95% / 3);
                            height: 50px;
                            border: 2px solid #FFF;
                            border-radius: 15px;
        
                            span {
                                width: 100%;
                                text-align: center;
                            }
        
                        }
                        
        
                        input[type=radio]:checked + label {
                            background-color: #FFF;
                            color: #0C46E6;
                        }

                        input[type=radio]:not(:checked) + label {
                            color: rgba(12, 70, 230, 0.4);
                            border-color: rgba(12, 70, 230, 0.4);
                        }
                        
        
                    }
        
                    .partidos {
                        //display: none;
        
                        margin: 40px 0 0 0;
                        width: calc(100% + 40px);
                        max-width: calc(1170px + 40px);
                        border-top: 1px solid rgba(227, 232, 240, .75);
                        padding: 20px;
        
                        .title {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            position: relative;
                            cursor: pointer;
        
                            transition: all .5s ease;
        
                            &.active {
                                i {
                                    transform: rotate(-180deg);
                                }
                            }
        
                            span {
                                font-size: 11px;
                                color: #FFF;
                                text-transform: uppercase;
                            }
        
                            i {
                                margin-left: 5px;
                                color: #FFF;
                            }
                        }
        
                        .lista-partidos {

                            display: block;
        
                            width: 100%;
                            height: auto;
                            margin: 20px 0 60px 0;
                            background-color: #FFF;
                            border-radius: 10px;
                            padding: 10px;
                            position: relative;
                            z-index: 1;
                            overflow: hidden;
                            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);

                            .help-box {
                                p {
                                    width: 100%;

                                    a {
                                        font-family: "Montserrat-Bold";
                                        color: $azul-guia;
                                        text-decoration: underline;
                                    }
                                }
                            }
        
                            &.active {

                            }
        
                            p {
                                font-size: 12px;
                            }
        
                            .legenda {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
        
                                width: 100%;
                                position: relative;
                                @include breakpoint(large-plus) {
                                    padding: 0 30px;                                    
                                }
        
                                span {
                                    display: flex;
                                    align-items: center;
                                    font-size: 9px;
                                    text-transform: uppercase;
        
                                    &.tag {
                                        &:before {
                                            content: '';
                                            width: 15px;
                                            height: 15px;
                                            border-radius: 50%;
                                            margin-right: 5px;
                                            display: inline-flex;
                                            justify-content: center;
                                            align-items: center;
                                            
                                        }
                                        &:nth-of-type(1) {
                                            &:before {
                                                background-color: #6bd75f;
                                            }
                                        }
                                        &:nth-of-type(2) {
                                            &:before {
                                                background-color: #ff700c;
                                            }
                                        }
                                        &:nth-of-type(3) {
                                            &:before {
                                                background-color: #06e3ff;
                                            }
                                        }
                                    }
                                }
                            }
        
                            .lista {
                                margin: 20px 0 0 0;
                                
                                .item {
        
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: flex-start;
                                    align-items: center;
                                    margin: 0 0 10px 0;
        
                                    @include breakpoint(normal-plus) {
                                        justify-content: space-around;
                                    }
        
                                    span {
                                        width: 70px;
                                    }
        
                                    //Progressao
                                    .progression {
        
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: center;
                                        align-items: center;
                                        width: calc(100%);
                                        max-width: 960px;
                                        //border: 1px solid #E3E8F0;
                                        border-radius: 50px;
                                        //padding: 2px 0;
                                        background-color: #FFF;
                                        position: relative;
        
        
                                        ul {
        
                                            display: flex;
                                            flex-direction: row;
                                            justify-content: space-around;
                                            align-items: center;
                                            position: relative;
                                            border-radius: 40px;
                                            overflow: hidden;
                                            width: 100%;
                                            height: fit-content;
        
                                            li {
                                                width: 100%;
                                                background: #E3E8F0;
                                                height: 15px;
                                                transform: skew(-25deg);
                                                position: relative;
        
                                                &:first-of-type {
                                                    border-radius: 0;
                                                    margin-right: 1px;

                                                    &:before {
                                                        content: "";
                                                        width: 40px;
                                                        height: 100%;
                                                        display: block;
                                                        position: absolute;
                                                        top: 0;
                                                        left: -20px;
                                                    }
                                                    
                                                }
        
                                                &:last-of-type {
                                                    border-radius: 0;
                                                    margin-left: 1px;

                                                    &:after {
                                                        content: "";
                                                        width: 40px;
                                                        height: 100%;
                                                        display: block;
                                                        position: absolute;
                                                        top: 0;
                                                        right: -20px;
                                                    }
                                                }
        
                                                &.sim {
                                                    background: #6bd75f;
                                                    width: 60%;

                                                    &:before, &:after {
                                                        background: #6bd75c;
                                                    }
                                                }
        
                                                &.nao {
                                                    background: #ff700c;
                                                    width: 20%;

                                                    &:before, &:after {
                                                        background: #ff700f;
                                                    }
                                                }
        
                                                &.abstencao {
                                                    background: #06e3ff;
                                                    width: 20%;

                                                    &:before, &:after {
                                                        background: #06e3fc;
                                                    }
                                                }
        
                                                & > span {
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    margin-top: 1px;
                                                    color: #FFF;
                                                    font-size: 10px;
                                                    transform: skew(25deg);
                                                    margin: 0;
                                                    width: 100%;
                                                    position: relative;
                                                    z-index: 1;
                                                }
                                                
                                            }
        
                                        }
        
                                    }
        
                                }
                            }
        
                        }
        
                    }
        
                    .next-question {
                        //display: none;
                        width: calc(100% + 40px);
                        height: 60px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 2;
                        background-color: #FFF;
                        box-shadow: 0 0 1px 0 rgba(227, 232, 240, 0.75);
        
                        a {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
        
                            width: 100%;
                            height: 100%;
                            position: relative;
                            
        
                            span {
                                color: #0000bf;
                                text-transform: uppercase;
                            }
        
                            img {
                                width: 18px;
                                height: 13px;
                                transform: rotate(180deg);
                                margin-left: 10px;
                            }
                        }
        
                    }
        
                }
            }
        }

        //Escolha
        .escolha {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100vw;
            height: 80px;
            z-index: 5;
            padding: 0 20px;

            box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
            transition: all .5s ease;

            background-color: #30ADFA;
            
            position: fixed;
            bottom: 0;
            left: 0;

            &.disabled {
                display: none;
            }

            .list {
        
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                max-width: 1170px;;
                position: relative;

                //Input Radio
                input[type=radio] {
                    display: none;
                }

                input[type=radio] + label {
                    display: inline-flex;
                    align-items: center;
                    cursor: pointer;
                    top: 0;
                    font-size: 14px;
                    color:#FFF;
                    width: calc(95% / 3);
                    height: 50px;
                    border: 2px solid #FFF;
                    border-radius: 15px;

                    span {
                        width: 100%;
                        text-align: center;
                    }

                }

                input[type=radio]:checked + label {
                    background-color: #FFF;
                    color: #3875f1;
                }

            }

        }

        .mp-final-quiz-degustacao {
            display: none;
            position: fixed;
            background-color: #FFF;
            height: calc(100vh - 60px);
            width: 100vw;
            z-index: 5;
            top: 60px;
            left: 0;
            overflow: auto;

            .wrap {
                .imagem-final {
                    width: 100%;
                    position: relative;
                    overflow: hidden;

                    &:before {
                        content: "";
                        width: 180vw;
                        height: 180vw;
                        border-radius: 50%;
                        bottom: 60px;
                        left: calc(50% - 90vw);
                        display: block;
                        position: absolute;
                        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#06e3ff+0,0c46e6+100 */
                        background: #06e3ff; /* Old browsers */
                        background: -moz-linear-gradient(45deg, #06e3ff 0%, #0c46e6 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(45deg, #06e3ff 0%,#0c46e6 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(45deg, #06e3ff 0%,#0c46e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06e3ff', endColorstr='#0c46e6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                    }

                    &:after {
                        content: "";
                        width: 180vw;
                        height: 180vw;
                        border-radius: 50%;
                        bottom: 60px;
                        left: calc(50% - 90vw);
                        display: block;
                        position: absolute;
                        background-image: url('../img/meucandidatoideal/bg-cidade-monotone.png');
                        background-repeat: no-repeat;
                        background-position: center calc(100% - 40px);
                    }

                    img {
                        max-width: 320px;
                        width: 100%;
                        display: block;
                        margin: 0 auto;
                        position: relative;
                        z-index: 1;
                    }
                }
                .texto {
                    padding: 20px 20px;
                    max-width: 1200px;
                    margin: 0 auto;

                    p {
                        font-family: 'Montserrat-Bold';
                    }

                    a.btn {
                        margin-top: 40px;
                        background-color: #FF700C;
                        cursor: pointer;
                    }
                }
            }
        }

    }
    
}

section#tutorial {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 5;
    background-color: #FFF;

    &:before {
        content: "";
        width: 180vw;
        height: 100vw;
        border-radius: 50%;
        bottom: calc(55vh);
        left: calc(50% - 90vw);
        display: block;
        position: absolute;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3875f1+50,23a5f7+100 */
        background: rgb(56,117,241); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(56,117,241,1) 50%, rgba(35,165,247,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(56,117,241,1) 50%,rgba(35,165,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(56,117,241,1) 50%,rgba(35,165,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875f1', endColorstr='#23a5f7',GradientType=0 ); /* IE6-9 */
    }

    &:after {
        content: "";
        width: 180vw;
        height: 100vw;
        border-radius: 50%;
        bottom: calc(55vh);
        left: calc(50% - 90vw);
        display: block;
        position: absolute;
        background-image: url('../img/meucandidatoideal/bg-cidade-monotone.png');
        background-repeat: no-repeat;
        background-position: center calc(100% - 40px);
    }

    .tutorial {

        width: 100%;
        position: relative;

        h1 {
            font-size: 12px;
            margin: 20px 0 30px 0;
            color: #FFF;
            text-align: center;

            @include breakpoint (tiny) {
                font-size: 16px;
            }
            @include breakpoint (normal) {
                font-size: 18px;
            }
            @include breakpoint (normal-plus) {
                font-size: 20px;
            }
        }

        .tutorial-steps {

            //Slick Dots
            .slick-dots {
                bottom: calc(-16px + (-40px + 8px));
                height: 16px;
                // height: 60px;

                li {
                    width: 16px;
                    height: 16px;
                    margin: 0 4px;
                    padding: 0;
                    background: #F0F2F7;
                    border-radius: 50%;
                    box-shadow: inset 0 0 0 3px #E3E8F0;

                    &.slick-active {
                        background: $azul-guia;
                        box-shadow: inset 0 0 0 3px $azul-guia;
                    }

                    button {
                        display: none;
                    }
                }
            }

            div.item {

                div.wrap {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: column;
                    padding: 0 20px;

                    div.bg {
                        display: block;
                        width: 100%;
                        height: calc(50vh - 80px);
                        margin-bottom: 20px;
                        background-size: contain;
                        background-position: center center;
                        background-repeat: no-repeat;
                        z-index: 1;
                    }

                    p {
                        display: block;
                        margin: 0;
                        padding: 0;
                        font-size: 15px;
                        max-width: 420px;

                        @media screen and (max-width: 360px) {
                            font-size: 12px;
                        }
                    }
                    
                }
            }

        }

    }

    a.comecar {

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100vw;
        height: 60px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 10;

        background: #fff;
        border-top: 1px solid #eee;
        font-family: 'Montserrat-Light';
        color: $azul-guia;
        text-transform: uppercase;
    }
    
}