// ====================================================================
// Perguntas Frequentes
// ====================================================================

section#sobre {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        //Informações
        .infos {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: calc(100% + 40px);
            position: relative;
            padding: 20px 20px 0px 20px;

            &.cap-01 {
                background: #FFFFFF;
                /*background-image: url('../img/perguntas/bg-perguntas-cidade.png');
                background-repeat: repeat-x;
                background-position: right 85px;*/
            }
            //Descrição
            .desc {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                position: relative;
                padding: 0 0 0 10px;

                h2 {
                    width: 100%;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
        }

        .titulo {
            width: 100%;
            position: relative;

            h1 {
                color: #0C46E6;
                text-transform: none;
                text-align: center;
                font-size: 20px;
                margin: 0px;
            }

            p {
                font-family: 'Montserrat';
                font-weight: 500;
                font-style: normal;
            }

            img {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                width: 200px;
            }
        }

        .parceiros {
            margin: 30px 0 0 0;
            padding: 30px 0 0 0;
            border-top: 1px solid #F0F2F7;

            small {
                text-transform: uppercase;
                font-family: 'Montserrat-Regular';
            }

            p {
                margin-bottom: 0;
            }
        }

        .sobre-footer {
            position: relative;
            width: calc(100% + 40px);

            .ft-images {
                position: relative;
                width: 100%;
                background: #FFFFFF;
                /*background-image: url(../img/sobre/bg-sobre-footer.png);
                background-repeat: repeat-x;
                background-position: center top;
                background-size:cover;*/
                padding-top:20px;

                img {
                    width: 100%;
                }
            }
        }
    }
}