// ====================================================================
// Perguntas Frequentes
// ====================================================================

section#termos {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        width: auto;
        margin: 0 -20px;
        //Informações
        .infos {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: calc(100%);
            position: relative;
            padding: 20px 20px 0px 20px;
            /*&:before {
                display: block;
                content: '';
                position: absolute;
                width: 100%;
                height: 66px;
                bottom: 0;
            }*/
            &:after {
                display: block;
                content: '';
                position: absolute;
                width: 100%;
                height: 74px;
                bottom: 0;
                left: 0;
                background-image: url('../img/quiz/bg-quiz-white.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }


            &.cap-01 {
                background: #F4F6F9;
                background-image: url('../img/perguntas/bg-perguntas-cidade.png');
                background-repeat: repeat-x;
                background-position: center right;
            }
            //Descrição
            .desc {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                position: relative;
                padding: 0 0 0 10px;

                h2 {
                    width: 100%;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 12px;
                }


                div.persona {
                    text-align: center;
                    padding-top: 20px;

                    img {
                        width: 100%;
                    }
                }
            }
        }
        //Perguntas Frequentes
        .titulo {
            width: 95%;
            position: relative;
            padding-top: 15px;
            max-width: 960px;

            h1 {
                color: #0C46E6;
                text-transform: none;
                text-align: left;
                font-size: 20px;
                margin: 0px;
            }

            P {
                font-family: 'Montserrat';
                font-weight: 500;
                font-style: normal;

                &:first-of-type {
                    padding-top: 20px;
                }

                span {
                    font-size: .7em;
                }
            }
        }
    }
}