﻿
@{
    ViewData["Title"] = "Index";
}

<section id="perguntas">

    <div class="container">
        <!-- Informações -->
        <div class="infos cap-01">

            <!-- Descrição -->
            <div class="desc">
                <h2>Perguntas Frequentes</h2>
                <div class="persona">
                    <img src="~/assets/img/perguntas/eleitor.png" class="" />
                </div>
            </div>
        </div>

        <!-- Perguntas Frequentes -->
        <div class="titulo">
            <h1>
                Tem dúvidas sobre o GUIA DO VOTO? Consulte a lista abaixo.
            </h1>
        </div>
        <div class="perguntas-respostas">
            <div class="item">
                <div class="pergunta">
                    <h2>
                        O que é o GUIA DO VOTO e qual o seu objetivo?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                       O GUIA DO VOTO é um aplicativo oferecido pela Votorantim, que tem como objetivo estimular o exercício da cidadania e o voto consciente, por meio da divulgação de conteúdo informativo sobre o processo eleitoral vigente.
                    </p>
                </div>
            </div>

            <div class="item">
                <div class="pergunta">
                    <h2>
                        O GUIA DO VOTO é gratuito? Onde posso adquiri-lo?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        O GUIA DO VOTO está disponível para download gratuito nas plataformas Apple Store e Google Play, e também no site www.guiadovoto.org.br.
                    </p>
                </div>
            </div>

            <div class="item">
                <div class="pergunta">
                    <h2>
                        O que é o GUIA DO VOTO (CONTEÚDO)?

                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        Um guia escrito pelo sociólogo Humberto Dantas, que estimula consciência durante as eleições, com ênfase no aprimoramento da participação dos cidadãos em geral.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pergunta">
                    <h2>
                        O cadastro no aplicativo é obrigatório?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        Não. O cadastro é facultativo para a navegação no aplicativo, sendo necessário somente para algumas áreas restritas.   
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pergunta">
                    <h2>
                        Quais são as áreas restritas do aplicativo?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        O cadastro do usuário permite acesso a funcionalidades existentes no GUIA DO VOTO, como “O que eu sei sobre as eleições?”.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pergunta">
                    <h2>
                        O que preciso para fazer o cadastro?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        O usuário precisa informar e-mail válido, senha e o Estado em que reside, ou fazer login por meio do Facebook. 
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pergunta">
                    <h2>
                        O aplicativo mantém meus dados em sigilo?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        Sim. Todas as informações disponibilizadas serão mantidas sob sigilo e não serão divulgadas sem autorização do usuário ou ordem judicial.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pergunta">
                    <h2>
                        O GUIA DO VOTO é vinculado ao Facebook?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        Não. O GUIA DO VOTO não é um serviço do Facebook e não tem com ele qualquer vínculo. Os dados dos usuários no GUIA DO VOTO, assim como suas prioridades e escolhas, não ficarão disponíveis para o Facebook. 
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pergunta">
                    <h2>
                        Meus dados ficam disponíveis para outros dispositivos?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        Não. Como forma de proteção, os dados referentes às suas opiniões pessoais serão salvos nos seus dispositivos de acesso (Computador, Celular ou Tablet).
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pergunta">
                    <h2>
                        Os Idealizadores podem ser responsabilizados por dados incorretos?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        Os Idealizadores não se responsabilizam pela veracidade dos dados fornecidos pelo usuário, por eventuais erros cometidos no momento da inserção ou por cadastros duplicados.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pergunta">
                    <h2>
                        Meus dados poderão ser usados com fins estatísticos?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        Não. Os dados cadastrais fornecidos pelo usuário serão utilizados somente para compilação de informações e manutenção do aplicativo, sem quaisquer fins estatísticos, de enquete ou de pesquisa de opinião.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pergunta">
                    <h2>
                        O aplicativo pode sofrer alterações durante seu funcionamento?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        Os Idealizadores poderão, a qualquer tempo, alterar os termos e condições de uso deste aplicativo. Você será notificado e poderá decidir pela continuidade de uso.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pergunta">
                    <h2>
                        O GUIA DO VOTO é vinculado a algum candidato ou partido?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        Não. As informações relacionadas aos candidatos das eleições de 2018 utilizadas neste site/aplicativo são imparciais e isentas de orientação política ou ideológica. As informações apresentadas no GUIA DO VOTO são retiradas exclusivamente de fontes oficiais.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pergunta">
                    <h2>
                        Meu cadastro no GUIA DO VOTO pode ser bloqueado?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        Sim. O uso deste aplicativo de forma indevida ou em desacordo com o termo de uso implicará na exclusão do cadastro do usuário.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pergunta">
                    <h2>
                        Posso ser penalizado por qualquer ilegalidade no aplicativo?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        Sim. O usuário poderá indenizar os Idealizadores por qualquer perda ou prejuízo decorrente da utilização deste aplicativo de forma indevida ou em desacordo com os termos de uso.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pergunta">
                    <h2>
                        Quais são as modalidades exclusivas para usuários logados?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        O usuário cadastrado terá acesso às áreas: Cidadania nota 10, O que eu sei sobre as eleições?, Você sabia?, GUIA DO VOTO, Minhas prioridades, O que eu valorizo, Se eu fosse um político, Meu candidato ideal, Meus candidatos, Candidatos 2018, Avaliar selecionados, Grau de afinidade e Meu voto.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pergunta">
                    <h2>
                        Poderei compartilhar o resultado dos testes através do aplicativo?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        Sim. O resultado obtido nos testes “O que eu sei sobre eleições?” poderá ser compartilhado em redes sociais. Há ainda a possibilidade de convidar amigos e seguidores para conhecer o aplicativo. 
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pergunta">
                    <h2>
                        Os Idealizadores são responsáveis pelo meu compartilhamento nas redes sociais?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        Não. Os idealizadores não se responsabilizam por eventuais danos e prejuízos ocorridos em virtude do compartilhamento de informações nas redes sociais do usuário. 
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pergunta">
                    <h2>
                        A minha privacidade está assegurada no GUIA DO VOTO?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        Sim. O GUIA DO VOTO atende às disposições previstas no Marco Civil da Internet, Lei Federal nº 12.965/14.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pergunta">
                    <h2>
                        Meus dados podem ser divulgados pelo aplicativo?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        Os dados dos usuários não serão divulgados nem usados como base para fins estatísticos, pesquisa de opinião pública, censo, enquete ou pesquisa de boca de urna. 
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pergunta">
                    <h2>
                        Por quanto tempo meus dados ficarão armazenados no aplicativo?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        Os dados cadastrais dos usuários e os registros de acesso ficarão armazenados durante o período em que o GUIA DO VOTO estiver em funcionamento e instalado no seu dispositivo de acesso (Computador, Celular ou Tablet).
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pergunta">
                    <h2>
                        Esqueci minha senha, o que devo fazer? 
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        Acesse a página de “entrar”, clique no botão “esqueci minha senha” e digite o e-mail cadastrado. Em instantes você receberá um e-mail com sua senha.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pergunta">
                    <h2>
                        Se eu apagar o aplicativo do meu celular, consigo depois recuperar as minhas escolhas?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        Para sua segurança, os dados referentes às suas preferências e candidatos são armazenados apenas no seu dispositivo de acesso (Computador, Celular ou Tablet), e não são guardados nos servidores do GUIA DO VOTO. Caso tenha acessado o GUIA pelo computador, ao fazer novamente seu login (com e-mail e senha) no mesmo computador, esses dados serão recuperados. Caso tenha acessado apenas pelo celular e troque de aparelho, sem que tenha feito o backup do celular no qual tinha instalado o aplicativo, não será possível resgatar esses dados.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pergunta">
                    <h2>
                        Ainda tenho dúvidas sobre o GUIA DO VOTO, onde posso obter mais informações?
                    </h2>
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <div class="resposta">
                    <p>
                        Para esclarecimentos de dúvidas a respeito do aplicativo, o usuário pode consultar o <a href="#termos" class="termos">Termo de Uso</a> completo ou entrar em contato com a nossa equipe por meio do e-mail contato@guiadovoto.org.br.
                    </p>
                </div>
            </div>
        </div>

    </div>

</section>

@Html.Partial("_ModalTermos")
