﻿@{
    Layout = "";
}<!doctype html>
<html prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Article">
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Article">
<!--<![endif]-->
<head>

    <!-- Meta Tags Básicas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Atalho para busca no browser -->
    <link rel="search" type="application/opensearchdescription+xml" href="opensearch.xml" title="Busca em Site Guia do Voto">

    <!-- Mobile IE ClearType -->
    <meta http-equiv="cleartype" content="on">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="@Html.Raw(ViewBag.title)">

    <!-- título -->
    <title>@Html.Raw(@ViewBag.title)</title>

    <!-- Atalho para antigas versões mobile: non-Retina iPhone, iPod Touch, e Android 2.1+ -->
    <link rel="shortcut icon" href="assets/img/icons/apple-touch-icon.png">

    <!-- SEO: Se a url das páginas mobile forem diferentes, adicione a canonical url da página normal. https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--<link rel="canonical" href="http://www.urldosite.com">-->
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#0000BF">

    <!-- IOS Web App -->
    <!-- Habilita o site em fullscreen quando aberto pelo icone da homescreen no ios. -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-startup-image" href="assets/img/og.jpg">
    <!-- Fim IOS Web App -->
    <!-- Google Tags -->
    <meta itemprop="name" content="Guia do Voto">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="assets/img/og.jpg">

    <!-- Open Graph -->
    <meta property="og:site_name" content="@Html.Raw(@ViewBag.title)" />
    <meta property="og:title" content="@Html.Raw(@ViewBag.title)" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")" />
    <meta property="og:image" content="https://guiadovoto.org.br/assets/img/share/@Html.Raw(@ViewBag.img)" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
    <meta property="og:description" content="@Html.Raw(@ViewBag.desc)" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="fb:app_id" content="858598314350118" />

    <!-- Robots -->
    <meta name="robots" content="index, follow">

</head>

<body>
    <h1>Redirecionando...</h1>
    <script type="text/javascript">

        var isMobile = {
            Android: function() {
                return navigator.userAgent.match(/Android/i);
            },
            iOS: function() {
                return navigator.userAgent.match(/iPhone|iPad|iPod/i);
            }
        };

        if (isMobile.iOS()) {
            window.location.href = "https://itunes.apple.com/br/app/guia-do-voto/id1388489512?mt=8";
        } else if (isMobile.Android()) {
            window.location.href = "https://play.google.com/store/apps/details?id=br.org.guiadovoto";
        } else {
            window.location.href = "http://" + window.location.hostname;
        }

    </script>

</body>

</html>
