﻿<section id="dicas">
    <div class="container">
        <h2>Você Sabia?</h2>
        <!-- Timeline -->
        <div class="timeline-img">
        </div>

        <div class="wrapper">
            <div class="timeline">
                <p>
                    Faltam <span class="numero" id="dia">0</span> <span>dias</span>
                    para as eleições
                </p>
                <div class="progresso">
                    <ul class="bar">
                        <li data-mes="6"><span class=""></span></li>
                        <li data-mes="7"><span class=""></span></li>
                        <li data-mes="8"><span class=""></span></li>
                        <li data-mes="9"><span class=""></span></li>
                        <li data-mes="10"><span class=""></span></li>
                    </ul>
                    <ul class="mes">
                        <li>Jun</li>
                        <li>Jul</li>
                        <li>Ago</li>
                        <li>Set</li>
                        <li>7 de <br>Outubro</li>
                    </ul>
                </div>
            </div>
            
            <!-- Box Dicas -->
            <div class="dicas-curiosidades">
                <!-- Filtros -->
                <div class="filtros">
                    <span>Filtros</span>
                    <input type="checkbox" id="tipo-dicas" name="tipo" value="dica" checked>
                    <label for="tipo-dicas" class="btn dicas">
                        <span>DICAS</span>
                        <img src="~/assets/img/icons/icon-dica.png" />
                    </label>
                    <input type="checkbox" id="tipo-curiosidades" name="tipo" value="curiosidade" checked>
                    <label for="tipo-curiosidades" class="btn curiosidades">
                        <span>CURIOSIDADES</span>
                        <img src="~/assets/img/icons/icon-curiosidade.png" />
                    </label>
                </div>
                <!-- Dicas -->
                <div class="dica-curiosidade">
             
                </div>
            </div>
        </div>

    </div>
</section>