﻿<section id="guia">
    <div class="container">
        <!-- Descrição -->
        <div class="desc">
            <h1>Guia do voto consciente</h1>
            <p>
                Aqui você aprende, tira dúvidas e se atualiza sobre tudo o que é importante saber sobre as eleições. Aproveite!
            </p>
            <p class="sociologo">
                Elaborado por <strong>Humberto Dantas</strong>, Cientista Social e Doutor em Ciência Política pela USP.
            </p>
            <a href="#" class="envio-email">ENVIAR O GUIA POR E-MAIL</a>
        </div>
        <!-- Capítulos -->
        <div class="chapters">
           
        </div>
    </div>
</section>