<section id="tutorial-candidatos-2018" class="tutorial-meus-candidatos">
    <div class="tutorial">
        <h1>1. Candidatos 2018</h1>
        <div class="tutorial-steps">
            <div class="item">
                <div class="wrap">
                    <div class="bg" style="background-image: url(/assets/img/meuscandidatos/candidatos2018/bg-candidatos2018-tutorial01.png)"></div>
                    <p>Conheça a seguir os candidatos de 2018 para todos os cargos.</p><br>
                </div>
            </div>
			<div class="item">
                <div class="wrap">
                    <div class="bg" style="background-image: url(/assets/img/meuscandidatos/candidatos2018/bg-candidatos2018-tutorial02.png)"></div>
                    <p>Para facilitar sua jornada, serão
						apresentados inicialmente apenas
						os candidatos que possuem as
						características que você definiu na
						etapa <strong class="semi">Meu candidato ideal</strong> (faixa
						etária, grau de instrução etc.).</p>
                </div>
            </div>
			<div class="item">
                <div class="wrap">
                    <div class="bg" style="background-image: url(/assets/img/meuscandidatos/candidatos2018/bg-candidatos2018-tutorial03.png)"></div>
                    <p>Fique à vontade para editar essas características ou adicionar novos filtros.</p>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="comecar">Começar</a>
</section>

<section id="candidatos-2018-f3">
	
	@Html.Partial("_MenuCargoF3")

	<p class="texto"><span class="blue">1.</span> <span class="orange">Candidatos 2018</span>: escolha até 5 candidatos para avaliar de acordo com os temas que você definiu em <span class="tit">“O que eu valorizo”</span>.</p>

	<div class="candidatosSelecionadosWrap">
		<div class="candidatosSelecionados">
			<a href="#" class="triggerCandidatosSelecionados">Ver candidatos selecionados</a>
			<div class="items">
			</div>
		</div>
	</div>

	<div class="filtros">
		<div class="wrap">
			<div class="search">
				<i class="open fas fa-search"></i>
				<input placeholder="Buscar por nome ou partido" class="busca-event" type="search">
				<i class="close fas fa-times"></i>
			</div>
			<a class="caracteristicas" href="#"><span>Características</span><small>Meu Candidato Ideal</small></a>
			<a class="maisFiltros" href="#"></a>
		</div>
	</div>

	<div class="resultados">
		<div class="semResultado">Não foi encontrado nenhum candidato(a).</div>
		<div class="comResultado">
			<div class="ultimaAtualizacao"></div>
			<div class="total"></div>
			<div class="items">
				
			</div>
		</div>
	</div>

	<a href="#" class="triggerTutorial">
		<img src="/assets/img/icons/icon-interrogacao.png" alt="">
	</a>

	<button disabled id="avaliar">
		Avaliar <i class="fas fa-arrow-right"></i>
		<span class="counter">0</span>
		<span class="messageFull">
			Limite máximo: 5 candidatos.<br>
			Para incluir um(a) novo(a), por favor, <br>
			desmarque um dos selecionados.
		</span>
	</button>

	<a href="#" class="scrollTop">
		<i class="fas fa-arrow-up"></i>
	</a>
</section>

<div id="maisFiltros">
	<div class="header">
		<a href="#" class="close">
			<img src="/assets/img/icons/icon-close-blue.png" alt="">
		</a>
		<h1>Mais filtros</h1>
	</div>
	<div class="content">
		<div class="eleitos">
			<input name="candidatoEleito" id="eleito" type="radio">
			<label for="eleito">Apenas candidatos já eleitos</label>

			<input name="candidatoEleito" id="naoeleito" type="radio">
			<label for="naoeleito">Apenas candidatos nunca eleitos</label>

			<p>Considerando candidatos eleitos por voto direto para cargos públicos desde 1994, de acordo com dados do TSE.</p>
		</div>
		<div class="coligacoes">

		</div>
	</div>
	<div class="footer">
		<a href="#" class="limpar">Limpar</a>
		<a href="#" class="salvar">Salvar</a>
	</div>
</div>

<div id="candidato">
	
</div>

<div id="limiteCandidatos">
	<div class="wrap"></div>
</div>