<section id="grau-de-afinidade-f3">
	@Html.Partial("_MenuCargoF3")

	<p class="texto">
		<span class="blue">3.</span> <span class="orange">Grau de afinidade:</span> compare os
		resultados e selecione quem você deseja
		enviar para a seção <strong>Meu voto</strong>.
		<a href="#" class="info" data-texto="
			<span>O ranking a seguir é resultado do cruzamento das notas que você atribuiu  a cada candidato nos temas escolhidos  por você na etapa “O que eu Valorizo”, e está representado por um grau de  afinidade calculado com base nos níveis de relevância que você definiu para cada tema.</span>
			<span>Os dados sobre as suas escolhas e avaliações, bem como o seu ranking de candidatos, são confidenciais e em nenhum momento foram ou serão disponibilizados aos idealizadores e administradores do Guia do Voto.</span>
			<span>Para mais esclarecimentos, releia os <a href='#' class='termos'>Termos de Uso</a> e fique à vontade para tirar suas dúvidas quanto à confidencialidade das suas informações pelo e-mail <a href='mailto:contato@guiadovoto.org.br'>contato@guiadovoto.org.br</a>.</span>
		">
            <img src="/assets/img/meucandidatoideal/icon-info.svg">
        </a>
	</p>

	<div class="resultados">
		<div class="items">

		</div>

		<button id="verMeuVoto" class="verMeuVoto" disabled>Ver meu voto <i class="fas fa-arrow-right"></i></button>

		<div class="bg">
			<img src="/assets/img/meuscandidatos/graudeafinidade/urna.png" alt="">
		</div>
	</div>
</section>

<div id="candidatoAfinidade"></div>

<!-- <div id="explicacaoCalculoAfinidade">
	<div class="wrap">
		<p>O ranking a seguir é resultado do cruzamento das notas que você atribuiu  a cada candidato nos temas escolhidos  por você na etapa “O que eu Valorizo”, e está representado por um grau de  afinidade calculado com base nos níveis de relevância que você definiu para cada tema.</p>
		<p>Os dados sobre as suas escolhas e avaliações, bem como o seu ranking de candidatos, são confidenciais e em nenhum momento foram ou serão disponibilizados aos idealizadores e administradores do Guia do Voto.</p>
		<p>Para mais esclarecimentos, releia os <a href="#" class="termos">Termos de Uso</a> e fique à vontade para tirar suas dúvidas quanto à confidencialidade das suas informações pelo e-mail <a href="mailto:contato@guiadovoto.org.br">contato@guiadovoto.org.br</a>.</p>
		<a href="#" class="btn ciente">Eu estou ciente</a>
	</div>
</div> -->

@Html.Partial("_ModalTermos")