﻿<section id="login">

    <div class="container">

        <!-- Informações -->
        <div class="infos">
            <div class="topo">
                <div><a href="#" class="back"><img src="~/assets/img/icons/icon-arrow-blue.png" alt="Voltar"></a></div>
                <div><h1></h1></div>
                <div></div>
            </div>

            <div class="wrapper">
                <!-- Facebook Login -->
                <div class="fb-login">
                    <a href="#" class="btn facebook">
                        <i class="fab fa-facebook-f fa-lg"></i>
                        <span>CONECTE-SE COM O FACEBOOK</span>
                    </a>
                </div>
                
                <span class="title"><strong>OU</strong></span>
                
                <!-- Login -->
                <form id="form-login" class="login">
                
                    <!-- E-mail -->
                    <div class="field">      
                        <input type="text" id="email" class="email" required>
                        <!-- <img src="assets/img/icons/icon-usuario.png"> -->
                        <span class="bar"></span>
                        <label class="label" for="email">E-mail*</label>
                    </div>
                
                    <!-- Senha -->
                    <div class="field">      
                        <input type="password" id="senha" required>
                        <span class="bar"></span>
                        <label class="label" for="senha">Senha*</label>
                    </div>
                
                    <!-- Esqueci Minha Senha -->
                    <a href="#" class="esqueci-minha-senha">
                        <span>Esqueci minha Senha</span>
                    </a>
                
                    <input type="submit" value="ENTRAR" class="btn send-login">
                
                </form>
            </div>

        </div>


    </div>

</section>