﻿
@{
    ViewData["Title"] = "Index";
}

<section id="minhaconta">
    <div class="container">
        <!-- Informações -->
        <div class="infos cap-01">

            <!-- Descrição -->
            <div class="desc">
                <h2>MINHA CONTA</h2>
                <div class="persona">
                    <img src="~/assets/img/minhaconta/minha-conta.png" class="" />
                </div>
            </div>
        </div>

    </div>
</section>

<section id="minhaconta-form">
    <div class="container">

        <!-- Form Minha Conta -->
        <form id="minhaconta-f" class="cadastro">

            <!-- E-mail -->
            <div class="field">
                <input type="text" id="email" required>
                <span class="bar"></span>
                <label class="label" for="email">E-mail*</label>
            </div>

            <!-- Senha -->
            <div class="field">
                <div class="olho"></div>
                <input type="password" id="senha" required>
                <span class="bar"></span>
                <label class="label" for="senha">Senha*</label>

            </div>
           
            <!-- Estado -->
            <div class="field">
                <a class="triggerEstado"></a>
                <select id="estado" required>
                    <option value="">Estado*</option>
                    <option value="AC">AC - Acre</option>
                    <option value="AL">AL - Alagoas</option>
                    <option value="AM">AM - Amazonas</option>
                    <option value="AP">AP - Amapá</option>
                    <option value="BA">BA - Bahia</option>
                    <option value="CE">CE - Ceará</option>
                    <option value="DF">DF - Distrito Federal</option>
                    <option value="ES">ES - Espírito Santo</option>
                    <option value="GO">GO - Goiás</option>
                    <option value="MA">MA - Maranhão</option>
                    <option value="MG">MG - Minas Gerais</option>
                    <option value="MS">MS - Mato Grosso do Sul</option>
                    <option value="MT">MT - Mato Grosso</option>
                    <option value="PA">PA - Pará</option>
                    <option value="PB">PB - Paraíba</option>
                    <option value="PE">PE - Pernambuco</option>
                    <option value="PI">PI - Piauí</option>
                    <option value="PR">PR - Paraná</option>
                    <option value="RJ">RJ - Rio de Janeiro</option>
                    <option value="RN">RN - Rio Grande do Norte</option>
                    <option value="RO">RO - Rondônia</option>
                    <option value="RR">RR - Roraima</option>
                    <option value="RS">RS - Rio Grande do Sul</option>
                    <option value="SC">SC - Santa Catarina</option>
                    <option value="SE">SE - Sergipe</option>
                    <option value="SP">SP - São Paulo</option>
                    <option value="TO">TO - Tocantins</option>
                </select>
            </div>

            <div class="notificacoes">
                <p>NOTIFICAÇÕES</p>
                <div class="inp-notifica">
                    <div>
                        <p>
                            Receba notificações sobre dicas
                            e curiosidades do Guia do Voto
                        </p>
                    </div>
                    <a href="#" class="bell">
                        <input type="checkbox" class="notificacao" id="notificacao">
                        <span class="bar"></span>
                    </a>
                </div>
                
            </div>
            

            <input type="submit" value="SALVAR" class="btn send-minha-conta">

        </form>

        <!-- Facebook -->
        <!-- <div class="infos">
            <span class="title"><strong>OU</strong></span> -->

            <!-- Facebook Login -->
            <!-- <a href="#" class="btn facebook">
                <i class="fab fa-facebook-f fa-lg"></i>
                <span>CONECTE-SE COM O FACEBOOK</span>
            </a>
            <small>
                Os dados serão utilizados <strong>apenas para acesso</strong>.<br>
            </small>
        </div> -->

    </div>
</section>

<!-- Estados -->
<div id="estados">
    <a href="#" class="set-estado">
        <i class="fas fa-arrow-right  fa-lg"></i>
    </a>
    <ul>
        <li value="AC">AC <span>Acre</span></li>
        <li value="AL">AL <span>Alagoas</span></li>
        <li value="AM">AM<span>Amazonas</span></li>
        <li value="AP">AP<span>Amapá</span></li>
        <li value="BA">BA<span>Bahia</span></li>
        <li value="CE">CE<span>Ceará</span></li>
        <li value="DF">DF<span>Distrito Federal</span></li>
        <li value="ES">ES<span>Espírito Santo</span></li>
        <li value="GO">GO<span>Goiás</span></li>
        <li value="MA">MA<span>Maranhão</span></li>
        <li value="MG">MG<span>Minas Gerais</span></li>
        <li value="MS">MS<span>Mato Grosso do Sul</span></li>
        <li value="MT">MT<span>Mato Grosso</span></li>
        <li value="PA">PA<span>Pará</span></li>
        <li value="PB">PB<span>Paraíba</span></li>
        <li value="PE">PE<span>Pernambuco</span></li>
        <li value="PI">PI<span>Piauí</span></li>
        <li value="PR">PR<span>Paraná</span></li>
        <li value="RJ">RJ<span>Rio de Janeiro</span></li>
        <li value="RN">RN<span>Rio Grande do Norte</span></li>
        <li value="RO">RO<span>Rondônia</span></li>
        <li value="RR">RR<span>Roraima</span></li>
        <li value="RS">RS<span>Rio Grande do Sul</span></li>
        <li value="SC">SC<span>Santa Catarina</span></li>
        <li value="SE">SE<span>Sergipe</span></li>
        <li value="SP">SP<span>São Paulo</span></li>
        <li value="TO">TO<span>Tocantins</span></li>
    </ul>
</div>