﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title></title>
</head>
<body>
    <h1>POLÍTICA DE PRIVACIDADE E PROTEÇÃO AOS DADOS DE USUÁRIOS</h1>

    <p>
        1. Esta Política de Privacidade busca definir regras para os
        usuários do Aplicativo “Guia do Voto” (O “Aplicativo”).
    </p>

    <p>
        2. Para que a experiência de uso do aplicativo seja
        personalizada, o aplicativo recolhe algumas informações sobre o usuário.
        Estas informações também são usadas para monitorar o desempenho e
        desenvolver melhorias para o aplicativo. É assegurado o sigilo e a
        segurança destas informações que poderão, entretanto, ser fornecidas a
        terceiros nos seguintes casos: (i) para cumprimento de solicitação de
        Autoridades Policiais, bem como do Poder Judiciário e/ou para
        cumprimento de determinações de qualquer ente da Administração Pública,
        Direta, Indireta; e (ii) para as empresas subsidiárias, filiadas,
        coligadas, controladas, controladoras ou demais empresas pertencentes a
        Samsung com intuito de levar a conhecimento do usuário os produtos
        e/ou serviços das referidas empresas e/ou organizações, caso autorizado
        pelo usuário.
    </p>
    <p>
        3. Serão enviados os melhores esforços para proteger a
        segurança dos dados dos usuários do Aplicativo, adotando-se todos os
        meios e medidas técnicas ao alcance da Votorantim para evitar a perda,
        mau uso, alteração, acesso não autorizado ou subtração indevida dos
        dados pessoais recolhidos. Não obstante, o usuário deve estar ciente de
        que as medidas de segurança relativas à internet não são integralmente
        infalíveis e desde já declara estar ciente que a Samsung não assume
        nenhuma responsabilidade em caso de roubo, perda, alteração ou uso
        indevido de seus dados.
    </p>
    <p>
        4. Será respeitada a privacidade dos usuários do Aplicativo. O
        usuário poderá receber notificações (push), desde que autorizado em
        seu primeiro acesso.
    </p>
    <p>
        5. Ao interagir com os dados do aplicativo, esta informação poderá ser vista pelos amigos do usuário.
    </p>
    <p>
        6. O usuário poderá cancelar seu registro o Aplicativo a
        qualquer momento, bastando acessar a seção “Minha Conta".
    </p>
    <p>
        7. Uma vez removido o aplicativo, a Votorantim e as demais
        empresas integrantes de seu grupo econômico não mais terão permissão
        para acessar as informações usuário e as tais informações serão
        removidas do Aplicativo.
    </p>

    <p>
        8. Este instrumento será regido e interpretado de acordo com a
        legislação brasileira, sendo eleito o Foro da Central da Comarca da
        Capital do Estado de São Paulo, para questões a ele relativas, com
        renúncia expressa a qualquer outro.
    </p>

    <p>
        9. Dúvidas e informações sobre este Aplicativo poderão ser
        esclarecidas por meio do e-mail: guiadovoto@guiadovoto.org.br
    </p>


</body>
</html>
