﻿<section id="o-que-eu-valorizo">
    <div class="container">
        <div class="infos">
            <h1>O que eu valorizo</h1>
            <ul class="steps">
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
        <div class="carousel-steps">
            <div class="item" id="tutorial">
                <div class="wrap">
                    <div class="lista-tutorial">
                        <div class="item">
                            <img src="/assets/img/oqueeuvalorizo/bg-tutorial-00.png" alt="Tutorial" />
                            <p>
                                Você vai ver uma lista de temas
                                que o eleitor brasileiro valoriza, de
                                acordo com uma pesquisa do Ibope. 
                            </p>
                        </div>
                        <div class="item">
                            <img src="/assets/img/oqueeuvalorizo/bg-tutorial-01.png" alt="Tutorial" />
                            <p>
                                Escolha 5 temas nessa lista, para
                                depois  priorizar quais considera
                                mais importantes. Vamos lá?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" id="step-01">
                <div class="wrap">
                    <p class="title">
                        Dos temas listados abaixo, escolha os
                        5 que você considera prioritários.
                    </p>
                    <div class="temas">
                        <p>
                            Temas mais importantes para os eleitores,
                            segundo pesquisa de opinião realizada
                            pelo Ibope.
                        </p>
                        <ul class="lista-temas">
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item" id="step-02">
                <div class="wrap">
                    <p class="title">
                        Agora vamos ordenar as suas maiores prioridades.
                    </p>
                    <div class="temas">
                        <p>
                            Se você fosse um gestor público
                            e tivesse recursos para investir em 
                            apenas uma dessas áreas, em qual 
                            investiria?
                        </p>
                        <div class="ordena-temas">

                        </div>
                    </div>
                </div>
            </div>
            <div class="item" id="step-03">
                <div class="wrap">
                    <p class="title">
                        Pronto! Agora veja a ordem das suas prioridades e descubra o que você mais valoriza:
                    </p>
                    <div class="temas">
                        <ul class="resultado-temas">

                        </ul>
                    </div>
                    <!-- <a href="#" class="btn" id="compartilhar" data-compartilhar="OQueEuValorizo">
                        <span>Compartilhar</span>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Começar -->
    <a href="#" class="comecar">Começar</a>
    <!-- OK -->
    <a href="#" class="ok">
        <i class="fas fa-arrow-right"></i>
        <span class="num">0</span>
    </a>
    <!-- Confirmar -->
    <a href="#" class="confirmar">Confirmar</a>
    <div class="actions-final">
        <!-- Refazer -->
        <a href="#" class="refazer">Refazer</a>
        <!-- Refazer -->
        <a href="/SeEuFosseUmPolitico" class="go-se-eu-fosse-um-politico">
            <span>Próximo</span>
            <span>Se eu fosse um político</span>
        </a>
    </div>

</section>

<!-- Share -->
<div id="preview-compartilhar">
    <div class="container"></div>
</div>

<!-- Modal Temas -->
<div class="modal bg-blue" id="oqueeuvalorizo-temas">
    <div class="container">
        <a href="#" class="close"></a>
        <div class="icon-info">
            <a href="#">
                
            </a>
        </div>
        <div class="conteudo">
            <p>
                <strong class="tit">Tem certeza que essas são suas prioridades?</strong>
            </p>
            <p>
                Lembre-se: esta etapa define o que você mais valoriza nas eleições.
            </p>
            <ul class="lista-esolhida">

            </ul>
            <a href="#" class="btn avancar">
                <span>AVANÇAR</span>
            </a>
            <a href="#" class="btn rever">
                <span>REVER</span>
            </a>
        </div>
    </div>
</div>