﻿<section id="erro">
    <div class="wrap">
        <div class="erro">
            <img src="/assets/img/erro/404.png" alt="Erro 404" class="erro404"/>
            <img src="/assets/img/erro/error.png" alt="Erro" class="errobanana"/>
            <p>
                <span>Ops!</span> <br>Página não encontrada!
            </p>
        </div>
    </div>
</section>