div.bannerApp {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 96px;
	padding: 20px 15px 20px 35px;
	background: #fff;
	z-index: 1000000;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.5), 0 0 0 100vh rgba(#fff,0.75);

	a.close {
		font-size: 20px;
		color: #0000bf;
		display: block;
		line-height: 100%;
		position: absolute;
    	left: 20px;
	}

	img {
		height: 45px;
		display: block;
		border-radius: 10px;
		margin: 0 10px;

	}

	div.desc {
		display: flex;
		flex-direction: column;

		div.txt {
			font-family: "Montserrat-Light";
			font-size: 13px;
			color: #343434;
			line-height: 100%;
			margin-bottom: 5px;
		}

		div.gratis {
			font-family: "Montserrat-Light";
			text-transform: uppercase;
			line-height: 100%;
			font-size: 10px;
			color: #555555;
		}


	}

	a.store {
		font-family: "Montserrat-Light";
		margin-left: 10px;
		color: #fff;
		font-size: 10px;
		background: #FF700C;
		border-radius: 20px;
		height: 30px;
		font-size: 10px;
		padding: 0 10px;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}