// ====================================================================
// Form
// ====================================================================
form#cadastro, form#form-login, #minhaconta-f, #esqueciSenha {
    font-size: 25px;

    .field {
        position: relative;
        margin-bottom: 45px;

    }

    input {
        font-size: 16px;
        padding: 10px 0 10px 0;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 2px solid #E3E8F0;

    }

    input:focus {
        outline: none;
    }
    //LABEL
    label {
        color: #343434;
        font-size: 14px;
        position: absolute;
        pointer-events: none;
        top: 10px;
        transition: 0.2s ease all;
        letter-spacing: 1px;
        text-transform: uppercase;

        span {
            font-size: 14px;
        }
    }

    input:focus ~ label, input:valid ~ label , input:read-only ~label{
        top: -20px;
        font-size: 12px;
        color: #0C46E6;
    }
    // BARS
    .bar {
        position: relative;
        display: block;
        width: 100%;

        &:before, &:after {
            content: '';
            height: 2px;
            width: 0;
            bottom: 1px;
            position: absolute;
            background: #0C46E6;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }

        &:before {
            left: 50%;
        }

        &:after {
            right: 50%;
        }
    }
    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
        width: 50%;
    }
    //Select
    select {
        font-family: 'Montserrat-Regular';
        border: none;
        border-bottom: 2px solid #e3e8f0;
        font-size: 20px;
        font-size: 14px;
        display: block;
        width: 100%;
        padding: 10px 0 10px 0;
        display: block;
        text-transform: uppercase;
        background: #FFF;

        &.disabled {
            display: none;
        }
    }
    //Radio
    .radio {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 41px;
        position: relative;
        margin-bottom: 45px;
    }

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox] + label {
        display: inline-flex;
        align-items: flex-start;
        justify-content: flex-start;
        cursor: pointer;
        top: 0;
        font-size: 14px;
        color: #555555;

        &:before {
            display: block;
            width: 25px;
            min-width: 25px;
            height: 25px;
            margin-right: 20px;
            content: '';
            border: 1px solid #E3E8F0;
            border-radius: 50%;
            background: #FFF;
            box-shadow: inset 0 0 0 4px #fff;
        }
    }

    input[type=checkbox]:checked + label {
        &:before {
            background-color: #0000BF;
        }
    }
    //Submit
    button, input[type="submit"], input[type="reset"] {
        font-family: 'Montserrat-Regular';
        background: none;
        border: none;
        cursor: pointer;
        outline: inherit;
    }

    //Error
    .verify {
        font-size: 14px;
        position: absolute;
        top: 13px;
        transition: .2s ease all;
        letter-spacing: 1px;
        text-transform: uppercase;
        pointer-events: none;
        color: #DD1754;
        right: 5px;
        font-family: 'Font Awesome 5 Free';
        width: 18px;
        height: 15px;

        &:before {
            font-family: 'Font Awesome 5 Free';
            width: 18px;
            height: 15px;
            content: '';
            font-size: 20px;
            display: block;
            background-repeat: no-repeat;
        }

        &.error {
            &:before {
                //content: '\f00d';
                background-image: url('../img/icons/error.png');
                color: #DD1754;
            }

        }
        &.right {
            &:before {
                //content: '\f00c';
                background-image: url('../img/icons/right.png');
                color: #06E3FF;
            }

        }
    }
}

