// ====================================================================
// Gradient
// ====================================================================

.gradient {

    &:before {

        position: absolute;
        bottom: 0;
        display: block;
        width: 180vw;
        height: 100vw;
        content: '';
        border-radius: 50%;
        @media all and (-ms-high-contrast:none)
        {
            left: -40vw;
        }

    }

    &:after {

        position: absolute;
        bottom: 0;
        display: block;
        width: 180vw;
        height: 100vw;
        content: '';
        border-radius: 50%;
        background-image: url(../img/meucandidatoideal/bg-cidade-monotone.png);
        background-repeat: no-repeat;
        background-position: center calc(100%);
        background-size: auto 70px;
        @media all and (-ms-high-contrast:none)
        {
            left: -40vw;
        }
    }

    //Light Blue
    &.light-blue {
        &:before {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3875f1+50,23a5f7+100 */
            background: rgb(56,117,241); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(56,117,241,1) 50%, rgba(35,165,247,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(56,117,241,1) 50%,rgba(35,165,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(56,117,241,1) 50%,rgba(35,165,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875f1', endColorstr='#23a5f7',GradientType=0 ); /* IE6-9 */
        }
    }

    &.yellow {
        &:before {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff700c+50,ffc40a+100 */
            background: rgb(255,112,12); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(255,112,12,1) 50%, rgba(255,196,10,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(255,112,12,1) 50%,rgba(255,196,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(255,112,12,1) 50%,rgba(255,196,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff700c', endColorstr='#ffc40a',GradientType=0 ); /* IE6-9 */
        }
    }

}