#mask {
	background: rgba(0,0,0,0.7);
	z-index: 1000000;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
}

.modal, .modal-termos {
    background-color: #fafafa;
    padding: 15px;
    width: auto;
    position: absolute;
    z-index: 1000001;
    display: none;
    border-radius: 4px;

    @include breakpoint (small-plus) {
        background: rgba(255, 255, 255, 0.6) !important;
        
        &:before {
            position: fixed;
            display: none;
            z-index: 1;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            content: '';
            background: rgba(255, 255, 255, .5);
        }
    }

    //MODAL DESKTOP
    &.modal-desk {
        .container {
            .infos {

                &.cap-01 {
                    background: none;

                }
                .desc {
                    z-index: 1;
                    width: 550px;

                    a {
                        top: 110px;
                        left: -15px;

                        @include breakpoint (mini-h) {
                            top: 100;
                        }
                    }

                    h2 {
                        color: #0000BF;
                        position: absolute;
                        top: 240px;
                        width: auto;
                    }
                }
            }

        }
    }

    > .close, .close-img, .fechar {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 32px;
        height: 32px;
        font-size: 16px;
        color: #999;
        border-radius: 2px;
        border: 1px solid #fafafa;
        display: flex;
        align-items: center;
        justify-content: center;
        @include transition(all .3s ease);


        @include breakpoint (normal-plus) {
            position: absolute;
            top: 13%;
            left: calc(50% - 280px) !important;
            z-index: 101;
            cursor: pointer;

            img {
                width: 25px;
            }
        }
        &:hover {
            border: 1px solid #0c46e6;
            color: #0c46e6;
        }

        i {
            color: #0c46e6;
        }
        
    }

    &#alert, &#customAlert, &#customConfirm, &#customHTML {
        min-width: 300px;
        max-width: calc(100%);
        text-align: center;
        z-index: 1000002;
        //background: #FFF !important;

        div.title {
            margin-bottom: 15px;
            font-size: 20px;
            font-weight: bold;
            line-height: 120%;
            color: #0c46e6;
        }

        div.message {
            line-height: 120%;
            color: #343434;

            strong {
                font-family: "Montserrat-Regular";
            }
        }

        div.actions {
            line-height: 120%;
            margin-top: 20px;

           
            a.verify-question {
                color: #FFF;
                background-color: #0c46e6;
                margin: 40px auto 0;
                height: 40px;
                width: 40%;
            }
        }
    }

    &#alert {
        width: calc(100% - 30px);
        max-width: 400px;
        &:before {
            display: none !important;
        }
        @include breakpoint (small-plus) {
            background: rgba(255, 255, 255, 1) !important;
            
        }

        div.container {
            width: 100%;
        }

        a.close {
            width: 19px;
            height: 19px;
            display: block;

            position: absolute;

            left: -15px;
            top: -50px;
            z-index: 101;
            cursor: pointer;
            background-image: url('../img/icons/icon-close.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }


    &.bg-blue {
        position: fixed;
        width: 100vw;
        height: 100%;
        min-height: 100vh;
        top: 0 !important;
        left: 0 !important;
        overflow: auto;

        background: rgb(12,70,230); /* Old browsers */
        background: -moz-linear-gradient(45deg, rgba(12,70,230,1) 0%, rgba(9,139,241,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, rgba(12,70,230,1) 0%,rgba(9,139,241,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, rgba(12,70,230,1) 0%,rgba(9,139,241,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c46e6', endColorstr='#098bf1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

        .container {
            width: 100%;
            position: relative;

            @include breakpoint (small-plus) {
                justify-content: center;
                height: auto;
                margin: auto;
                z-index: 100;
                overflow: auto;
            }
            
            //Close
            a.close {
                width: 19px;
                height: 19px;
                display: block;

                position: relative;

                left: 0;
                top: 10px;
                z-index: 101;
                cursor: pointer;
                background-image: url('../img/icons/icon-close.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                @include breakpoint (normal-plus) {
                    background-image: url('../img/icons/icon-close-orange.png');
                    top: 25px;
                    left: -270px;
                    width: 29px;
                    height: 29px;
                    margin: 0 auto;
                }
            }

            i {
                &:before {
                    color: #FFF;
                }
            }

            //Icon
            .icon-info {
                display: flex;
                justify-content: center;
                width: 100%;
                position: relative;
                z-index: 2;
            }

            //Conteudo
            .conteudo {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: #FFFFFF;
                margin: 40px auto 0;
                padding: 20px;
                border-radius: 3px;
                max-width: 420px;
                z-index: 1;

                
                @include breakpoint (small-plus) {
                    max-width: 500px;
                    padding: 20px;
                    border: 20px solid #0A76EE;
                    position: relative;

                }
            }
        }
    }

    //Modal não logado
    &#alerta-login {
        .container {
            .conteudo {
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .title {
                    margin-bottom: 15px;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 120%;
                    color: #0c46e6;
                }

                .message {
                    line-height: 120%;
                    color: #343434;
                    margin: 10px 0 20px 0;
                }

                //Botao
                .btn {
                    background-color: #FFF;
                    color: #0C46E6;
                    border: 2px solid #0000BF;
                    margin: 10px 0;
                }
            }
        }
    }

    // Modal Esqueci Minha Senha
    &#customGuiaDoVoto {

        position: fixed;
        top: 0 !important;
        left: 0 !important;
        width: 100%;
        background-color: #097DEE;
        height: 100vh;
        padding: 0 15px;
        z-index: 999999;
        overflow: auto;


        .container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            padding-top: 80px;

            .desc {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                div.persona {
                    height: 190px;
                    margin-top: -210px;
                    position: relative;
                    // position: absolute;

                    @include breakpoint(small-) {
                        margin-top: -60px;
                    }

                    img {
                        display: block;
                        height: 100%;
                    }
                }

                a.close {
                    position: absolute;
                    bottom: calc(100% + 40px);
                    left: -20px;

                    @include breakpoint(small-) {
                        left: 0;
                        top: 20px;
                        bottom: auto;
                    }
                }


            }
            //Informações
            .infos {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                position: relative;
                padding: 20px 20px 0px 20px;

                &.cap-01 {
                    background: rgba(9,125,238,1);
                    background: -moz-linear-gradient(top, rgba(9,125,238,1) 0%, rgba(9,125,238,1) 64%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(9,125,238,1)), color-stop(64, rgba(9,125,238,1)), color-stop(65%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
                    background: -webkit-linear-gradient(top, rgba(9,125,238,1) 0%, rgba(9,125,238,1) 64%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
                    background: -o-linear-gradient(top, rgba(9,125,238,1) 0%, rgba(9,125,238,1) 64%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
                    background: -ms-linear-gradient(top, rgba(9,125,238,1) 0%, rgba(9,125,238,1) 64%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
                    background: linear-gradient(to bottom, rgba(9,125,238,1) 0%, rgba(9,125,238,1) 64%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#097dee', endColorstr='#ffffff', GradientType=0 );
                }
            }

            .conteudo {
                width: 100%;
                background-color: #FFFFFF;
                padding: 0px 15px 15px 15px;
                margin-bottom: 20px;

                p {
                    font-size: 16px;
                    margin-bottom: 30px;

                    @media (max-width: 340px) {                        
                        font-size: 14px;
                    }
                }

                .btn {
                    background-color: #ff700c;
                    margin-bottom: 0;
                }

                strong {
                    font-family: "Montserrat-Regular";
                }

            }
        }

        
        
        &.modal-desk {
            background-color: rgba(255, 255, 255, 0.788235294117647);
            
            &:before {
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                content: '';
                background: rgba(255, 255, 255, .5);
            }

            .container {
                height: 100vh;
                justify-content: center;
                margin: auto;
                z-index: 100;
                min-height: 630px;
                overflow: auto;

                .infos {

                    &.cap-01 {
                        background: none;

                    }

                    .desc {
                        z-index: 1;
                        width: 550px;

                        a {
                            top: 110px;
                            left: -15px;

                            @include breakpoint (mini-h) {
                                top: 100;
                            }
                        }

                        h2 {
                            color: #0000BF;
                            position: absolute;
                            top: 240px;
                            width: auto;
                        }
                    }


                }
                .conteudo {
                    max-width: 500px;
                    padding: 40px;
                    border: 20px solid #0A76EE;
                    position: relative;
                    // top: -86px;
                    // @include breakpoint (mini-h) {
                    //     top: 0;
                    // }
                }
            }
        }
    }

    //Modal Ajuda
    &#ajuda {

        .icon-info {
            width: 50px;
            height: 50px;
            position: absolute;
            left: calc(50% - 25px);
            top: 35px;
            border-radius: 50%;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .5);
            background-color: #0000BF;
            z-index: 100;

            @include breakpoint (small-plus) {
                top: 0;
            }
        
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
            }

        }

        .conteudo {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // min-height: 85vh;
            background-color: #FFFFFF;
            padding: 20px;

            @include breakpoint(small-plus) {
                max-width: 500px;
                margin: 0 auto;
            }

            p {
                &:first-of-type {
                    font-family: 'Montserrat-Bold';

                    span {
                        font-family: 'Montserrat-Bold';
                        font-size: 16px;
                        color: #FF700C;
                    }
                }

                &:last-of-type {
                    strong {
                        font-family: 'Montserrat-Bold';
                    }
                }

                @media screen and (max-width: 325px) {
                    font-size: 12px;
                }
            }

            img {
                width: calc(100% + 40px);
                margin-left: -20px;
                margin-bottom: -20px;
            }
        }
    }

    //Modal Termos
    &#customTermos {

        .container {

            .conteudo {

                .message {
                    display: none;
                }

                p {
                    font-size: 16px;
                    margin-bottom: 30px;

                    @media (max-width: 340px) {                        
                        font-size: 14px;
                    }
                }

                .html {
                    width: 100%;
                    max-height: calc(100vh - 230px);
                    border: 0;
                    overflow: auto;

                    @media screen and (max-width: 768px) {
                        max-height: calc(100vh - 135px);
                    }

                    .img-size {
                        max-height: 85vh;
                    }
                }

            }
        }
    }

    &#customHTML {
        .html {
            max-height: 85vh;
            overflow: auto;

            img {
                // max-height: 85vh;
                @include breakpoint (normal-plus) {
                    max-width: 100%;
                    width: auto;
                }
            }
        }
    }

    &#partido {
        .container {
            .desc-partido {
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    max-width: 300px;
                }
    
                //Botao
                .btn {
                    background-color: #FFF;
                    color: #0C46E6;
                    border: 2px solid #0000BF;
                }
            }
        }
    }

    &#nao-registrados {

        .container {

            img {
                z-index: 2;
                width: 231px;
                height: 169px;
            }

            .conteudo {
                margin-top: -95px;
                padding: 95px 20px 0;

                p {
                    font-size: 16px;

                    @include breakpoint(small-) {
                        font-size: 14px;
                    }
                    strong.tit {
                        color: #0C46E6;
                    }

                    .termos {
                        font-size: 16px;
                        color: #0C46E6;
                        text-decoration: underline;
                        text-underline-position: under;
                        margin-left: 5px;
                        display: contents;

                        @include breakpoint(small-) {
                            font-size: 14px;
                        }
                    }
                }
                    
                //Botao
                .btn {
                    margin: 20px 0;
                    background-color: #FF700C;
                    color: #FFF;
                }

            }

        }

    }

    //Modal Informacoes
    &#inforamcoes {

        .container {

            //Icone Informacoes
            .icon-info {
                width: 50px;
                height: 50px;
                position: absolute;
                left: calc(50% - 25px);
                top: 35px;
                border-radius: 50%;
                box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .5);
                background-color: #0000BF;
                z-index: 100;

                @include breakpoint (small-plus) {
                    top: 50px;
                }
            
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                }

            }

            .conteudo {
    
                &.se-eu-fosse {
                    img {
                        width: 70%;
                        margin: 20px auto -20px auto;

                        @include breakpoint (small-plus) {
                            margin: 20px auto -40px auto;
                        }
                    }
                }

                &.meu-candidato {
                    img {
                        @include breakpoint (small-plus) {
                            margin: 20px 0 -40px -40px;
                        }
                    }
                }

                &.voce-sabia {
                    img {
                        width: calc(100% + 40px);
                        margin: 20px auto -20px -20px;
                    }
                }
    
                h3 {
                    text-transform: uppercase;
                    color: #FF700C;
                    text-align: center;
                    margin: 20px 0 0 0;
                }
    
                p {
                    margin: 0;
    
                    strong.blue {
                        color: #0C46E6;
                        font-family: "Montserrat-Regular";
                    }
    
                    @media screen and (max-width: 325px) {
                        font-size: 12px;
                    }
    
                    &.msg {
                        margin: 20px 0 0 0;

                        strong {
                            font-family: "Montserrat-Regular"
                        }
                    }

                    span {
                        font-family: "Montserrat-Light";
                        display: block;
                        margin: 15px 0;

                        a {
                            color: #FF700C;
                            &.termos {
                                color: $azul-guia;
                                font-family: "Montserrat-Regular"
                            }
                        }
                    }
                }
    
                img {
                    width: calc(100% + 40px);
                    margin: 20px auto -20px -20px;

                    @include breakpoint (small-plus) {
                        width: calc(100% + 80px);
                        margin: 20px auto -40px auto;
                    }
                }
            }
        }

    }

    //Modal - O que eu valorizo (Temas)
    &#oqueeuvalorizo-temas {

        .container {

            .conteudo {
                position: relative;
                //margin-top: 20px;
                padding: 20px 20px 20px 20px;
                background-color: #fff;

                p {
                    font-size: 16px;

                    @include breakpoint(mini) {
                        &:nth-of-type(1) {
                            margin: 0;
                        }
                        &:nth-of-type(2) {
                            margin: 10px 0;
                        }
                    }
                }

                ul.lista-esolhida {
                    margin-bottom: 30px;

                    @include breakpoint(mini) {
                        margin-bottom: 10px;
                    }
                    li {
                        color: #0C46E6;
                        padding: 10px 0;
                        @include breakpoint(mini) {
                            padding: 5px 0;
                        }
                    }  
                }
                    
                //Botao
                .btn {
                    margin: 20px 0;
 
                    &.avancar {
                        background-color: #FF700C;
                        color: #FFF;
                    }

                    &.rever {
                        background-color: #FFF;
                        color: #0C46E6;
                        border: 1px solid #0C46E6;
                        
                    }
                }

            }

        }

    }

    //Modal Meu Candidato Ideal
    &#meu-candidato-ideal {

        .container {


            img {
                z-index: 1;
                width: 267px;
                height: 106px;
            }

            .conteudo {
                background-color: #FFF;
                padding: 70px 20px 0 20px;

                position: relative;
                margin-top: -60px;
                width: 100%;

                p {
                    font-size: 16px;

                    @include breakpoint(small-) {
                        font-size: 14px;
                    }
                    strong.tit {
                        color: #0C46E6;
                    }
                }
                    
                //Botao
                .btn {
                    margin: 40px 0;
                    background-color: #FF700C;
                    color: #FFF;
                }

            }

        }

    }

    &#go-to-o-que-eu-valorizo {

        .container {

            .close-c2018 {
                width: 19px;
                height: 19px;
                display: block;

                position: relative;

                left: 0;
                top: 10px;
                z-index: 101;
                cursor: pointer;
                background-image: url('../img/icons/icon-close.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                @include breakpoint (normal-plus) {
                    background-image: url('../img/icons/icon-close-orange.png');
                    top: 25px;
                    left: -270px;
                    width: 29px;
                    height: 29px;
                    margin: 0 auto;
                }
            }

            img {
                z-index: 2;
                width: auto;
                height: 170px;

                @include breakpoint (mini) {
                    max-width: 280px;
                    height: auto;
                }
            }

            .conteudo {
                margin-top: -95px;
                padding: 95px 20px 0;

                p {
                    font-size: 16px;

                    @include breakpoint(small-) {
                        font-size: 14px;
                    }
                    span.orange {
                        color: #FF700C;
                    }

                }
                    
                //Botao
                .btn {
                    margin: 20px 0;
                    background-color: #FF700C;
                    color: #FFF;

                    @include breakpoint (mini) {
                        padding: 0;
                    }
                }

            }

        }

    }

    &#ondePesquisar {
        .container {

            .title {
                font-family: 'Montserrat-Bold';
                font-size: 12px;
                color: #FFF;
                text-align: center;

                @include breakpoint(normal-plus) {
                    color: #0a76ee;
                }
            }

            img {
                z-index: 1;
                // width: 267px;
                // height: 106px;
            }

            .conteudo {
                background-color: #FFF;
                padding: 110px 20px 0 20px;

                position: relative;
                margin-top: -135px;
                width: 100%;

                p {
                    font-size: 16px;

                    margin-top: 0;

                    
                    @include breakpoint(small-) {
                        font-size: 14px;
                    }
                    strong.tit {
                        color: #0C46E6;
                    }
                }

                ul.conhecer-mais {
                    li {
                        margin-bottom: 15px;
                        a {
                            color: #FF700C;
                            text-decoration: underline;
                            font-size: 16px;
                            font-family: 'Montserrat-Regular';
                        }
                    }
                }
                    
                //Botao
                .btn {
                    margin: 40px 0;
                    background-color: #FF700C;
                    color: #FFF;
                }

            }

        }
    }

    
}

.modal-termos {
    z-index: 1000002;
}