﻿<section id="quiz">

    <div class="container">
        <!-- Informações -->
        <div class="infos">

            <a href="/Home" class="btn-back">
                <img src="/assets/img/icons/icon-arrow-blue-desk.png" />
                <span>VOLTAR PARA OS TESTES</span>
            </a>
            <!-- Progressao -->
            <div class="progression">
                <ul></ul>
            </div>

            <!-- Status Usuario -->
            <div class="status">

                <!-- Numeros -->
                <div class="numbers">
                    <p>
                        Respondido <span class="init">0</span> <span>de</span> <span class="end">10</span>
                    </p>
                </div>

                <!-- Porcentagem -->
                <div class="percentage">
                    <p>
                        Acertos <span class="total">0</span> <span>%</span>
                    </p>
                </div>
            </div>

            <!-- Descrição -->
            <div class="desc">
                <h2>A história das eleições</h2>
                <p>
                    
                </p>
                <small><span class="end"></span> questões = cada acerto corresponde a <span class="total"></span>% do desempenho</small>
            </div>

        </div>

        <!-- Quiz -->
        <div class="quiz">

        </div>

        <!-- Botoes -->
        <div class="actions">
            <a href="#" class="jumpQuestion"><span>Pular</span></a>
            <a href="#" class="pages"><span class="init">0</span> <span>/</span> <span class="end">0</span></a>
            <a href="#" class="responder disabled"><span>Responder</span></a>
            <a href="#" class="continuar disable"><span>Continuar</span></a>
        </div>

    </div>

</section>
