﻿<section id="download">
    <div class="container">
        <!-- Informações -->
        <div class="infos gradient yellow"></div>
        <img src="/assets/img/download/bg-books.png" alt="Books" class="books"/>
        <div class="conteudo">
            <p>
                Aqui você pode baixar o Guia do Voto em PDF. <br>
                Basta clicar no botão abaixo e salvar o arquivo. Boa leitura!
            </p>
            <a href="/assets/arquivos/GuiaDoVoto.pdf" onclick="gtagEvent('cliqueBotao', 'Guia', 'GuiaDownload');" class="btn" download><span>BAIXAR GUIA DO VOTO</span></a>
            <span class="text">Parabéns por praticar a cidadania!</span>
            <img src="/assets/img/logo-guia-do-voto.png" alt="Logo Guia do Voto" class=""/>
        </div>
        <div class="votorantim">
            <img src="/assets/img/download/logo-votarantim.png" alt="Logo Votarantim" />
        </div>
    </div>
</section>