﻿<section id="enterprise">
	<div class="wrap">
		<h1>Baixe o app Guia do Voto no seu iPhone ou iPad</h1>
		<ul>
			<li>
				No navegador de seu iPhone ou iPad, clique no botão abaixo para iniciar o download e siga os próximos passos.
				<a href="itms-services://?action=download-manifest&url=https://guiadovoto.org.br/assets/downloads/GuiaDoVoto.plist">Iniciar Download</a>
			</li>
			<li>Após a conclusão do download, você receberá uma notificação com o conteúdo Desenvolvedor Empresarial Não Confiável. Fique tranquilo, o aplicativo é confiável e você só precisará autorizá-lo no dispositivo.</li>
			<li>Para autorizá-lo, vá em Ajustes > Geral > Perfis ou Gerenciamento de Dispositivo > FULL BAR SERVICOS DIGITAIS LTDA > Confiar no Desenvolvedor.</li>
			<li>Agora o app já está disponível no seu iPhone ou iPad. Toque no ícone na tela de início para começar.</li>
		</ul>
	</div>
</section>