<section id="check-connection">
	<div class="wrap">
        <div class="erro">
        	<div class="pc">
	            <img src="/assets/img/erro/erro-conexao.png" alt="Erro" class="pc-bg"/>
				<div class="no-signal">
					<div class="sad">:(</div>
					<div class="frame">
					    <div></div>
					    <div></div>
					    <div></div>
					</div>
					<canvas id="no-signal-canvas"></canvas>
				</div>

        	</div>
            <p>
                <span>Ops!</span> <br>Verifique sua conexão!
            </p>
            <a href="#" class="tentarNovamente">Tentar novamente</a>
        </div>
    </div>
</section>