﻿@{
    var logged = ViewBag.Login != null ? ViewBag.Login : false;
}<header>
    <a href="#" class="back">
        <img src="/assets/img/icons/icon-arrow-blue.png" />
    </a>
    <a href="/" class="logo">
        <img src="/assets/img/logo-guia-do-voto.png" alt="Guia do Voto" />
    </a>
    <nav>
        <ul class="menu">
            <li><a href="/" class="home">Início</a></li>
            @if (!logged)
            {
                <li><a href="/Cadastro" class="cadastre-se">Cadastre-se</a></li>
            } else {
                <li><a href="/MinhaConta" class="minha-conta">Minha Conta</a></li>
            }
            <li><a href="/Compartilhe" class="compartilhe">Compartilhe o guia do voto</a></li>
            <li class="push"></li>
            <li><a href="/PerguntasFrequentes" class="faq">Perguntas Frequentes</a></li>
            <li><a href="/Termos" class="termos_menu">Termos e Políticas</a></li>
            <li><a href="/Sobre" class="sobre">Sobre</a></li>
            @if (!logged)
            {
                <li><a href="/Login" class="entrar">Entrar</a></li>
            } else {
                <li><a href="#" class="sair">Sair</a></li>
            }
        </ul>
        <a href="#" class="open-menu"><i class="fa fa-bars fa-lg"></i></a>
    </nav>
</header>