﻿<!doctype html>
<html prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Article">
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Article"><!--<![endif]-->
    <head>

        <meta http-equiv="Content-Security-Policy" content="img-src * http: https:">

        <!-- Meta Tags Básicas -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Atalho para busca no browser -->
        <link rel="search" type="application/opensearchdescription+xml" href="opensearch.xml" title="Busca em Site Guia do Voto">

        <!-- Mobile IE ClearType -->
        <meta http-equiv="cleartype" content="on">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Título da Pagina">

        <!-- título -->
        <title>Guia do Voto</title>

        <!-- Atalho para antigas versões mobile: non-Retina iPhone, iPod Touch, e Android 2.1+ -->
        <link rel="shortcut icon" href="~/assets/img/icons/apple-touch-icon.png">

        <!-- SEO: Se a url das páginas mobile forem diferentes, adicione a canonical url da página normal. https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
        <!--<link rel="canonical" href="http://www.urldosite.com">-->
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="~/assets/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="~/assets/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="~/assets/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="~/assets/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="~/assets/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="~/assets/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="~/assets/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="~/assets/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="~/assets/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="~/assets/img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#0000BF">

        <!-- IOS Web App -->
        <!-- Habilita o site em fullscreen quando aberto pelo icone da homescreen no ios. -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-startup-image" href="~/assets/img/og.jpg">
        <!-- Fim IOS Web App -->
        <!-- Google Tags -->
        <meta itemprop="name" content="Guia do Voto">
        <meta itemprop="description" content="">
        <meta itemprop="image" content="~/assets/img/og.jpg">

        <!-- Open Graph -->
        <meta property="og:site_name" content="Guia do Voto" />
        <meta property="og:title" content="Guia do Voto" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://www.guiadovoto.org.br" />
        <meta property="og:image" content="/assets/img/share/fb_image_compartilhar-app.png" />
        <meta property="og:image:width" content="600" />
        <meta property="og:image:height" content="315" />
        <meta property="og:description" content="Seu voto consciente" />
        <meta property="og:locale" content="pt_BR" />

        <!-- Humans -->
        <!-- <link type="text/plain" rel="author" href="http://www.urldosite.com/humans.txt" /> -->
        <!-- Robots -->
        <!-- <meta name="robots" content="index, follow"> -->
        <!-- Metas Page -->
        <meta name="controller" content="@ViewBag.Controller" />
        <meta name="page" content="@ViewBag.Page" />
        <meta name="login" content="@ViewBag.Login" />
        <meta name="fase" content="@ViewBag.Fase" />
        

        <!-- CSSs -->
        <link href="~/assets/css/style.css?0" rel="stylesheet" />
        <!-- <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5b0c66413dfc7c0011da0fc0&product=custom-share-buttons'></script> -->
        
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WGPD65F');</script>
        <!-- End Google Tag Manager -->

    </head>

    <body>

        <script type="text/javascript" src="cordova.js"></script>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGPD65F" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        
        @Html.Partial("_CheckConnection")
        <div class="box-loading">
            <div class="loading">
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
            </div>
        </div>

        <!-- HEADER -->
        @Html.Partial("_Header")

        <!-- @ViewBag.Controller -->
        @RenderBody()

        <!-- Footer -->
        @Html.Partial("_Footer")

        <!-- Modal -->
        @Html.Partial("_Modal")

        <!-- Scripts -->

        <!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->
        <!-- <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script> -->
        <!-- <script src="~/dist/js/scripts.js?0"></script> -->
        <script src="~/assets/js/scripts.js?0"></script>
        
       
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script>
            var isCordova;
            var gtagEvent;
            $(document).ready(function() {
                isCordova = typeof localStorage.platform != "undefined" ? true : false;

                var script = document.createElement("script")
                script.type = "text/javascript";
                script.onload = function(){
                    window.dataLayer = window.dataLayer || [];
                    function gtag() { dataLayer.push(arguments); }
                    gtag('js', new Date());
                    if (isCordova) {
                        gtag('config', 'UA-120927216-2');
                    } else {
                        gtag('config', 'UA-120927216-1');
                    }

                    gtagEvent = function(action, category, label) {
                        gtag('event', action, {
                          'event_category': category,
                          'event_label': label
                        });
                    }
                };
                if (isCordova) {
                    script.src = "https://www.googletagmanager.com/gtag/js?id=UA-120927216-2";
                } else {
                    script.src = "https://www.googletagmanager.com/gtag/js?id=UA-120927216-1";
                }
                document.getElementsByTagName("head")[0].appendChild(script);
            });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
    </body>

</html>