﻿<div class="selecionarCargo">
    <a class="open" href="#">

    </a>
    <div class="wrap">
        <p>Clique sobre o cargo que deseja avaliar:</p>
        <ul>
            <li><a href="#" class="">Presidente</a></li>
            <li><a href="#">Governador</a></li>
            <li><a href="#" class="">Senador 1</a></li>
            <li><a href="#" class="">Senador 2</a></li>
            <li><a href="#" class="">Deputado Federal</a></li>
            <li><a href="#" class="">Deputado Estadual</a></li>
        </ul>
    </div>
</div>

<ul class="steps">
    <li class=""><span>1</span></li>
    <li class=""><span>2</span></li>
    <li class=""><span>3</span></li>
</ul>