﻿<div id="mask"></div>

<!-- Alert -->
<div class="modal" id="alert">
    <div class="container">
        <a href="#" class="close"></a>
        <div class="icon-info">
            <a href="#">
            </a>
        </div>
        <div class="conteudo">
            <div class="title"></div>
            <div class="message"></div>
            <div class="actions">
                <a href="#" class="btn action"></a>
            </div>
        </div>
    </div>
</div>

<!-- Alert -->
<div class="modal bg-blue" id="customAlert">
    <div class="container">
        <a href="#" class="close"></a>
        <div class="icon-info">
            <a href="#">
            </a>
        </div>
        <div class="conteudo">
            <div class="title"></div>
            <div class="message"></div>
            <div class="actions">
                <a href="#" class="btn action"></a>
            </div>
        </div>
    </div>
</div>

<!-- Confirm -->
<div class="modal bg-blue" id="customConfirm">
    <div class="container">
        <a href="#" class="close"></a>
        <div class="icon-info">
            <a href="#">
            </a>
        </div>
        <div class="conteudo">
            <div class="title"></div>
            <div class="message"></div>
            <div class="actions">
                <a href="#" class="btn false"></a>
                <a href="#" class="btn true"></a>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="customGuiaDoVoto">
    <div class="container">
        <div class="conteudo">
            <div class="desc">
                <a href="#" class="close"><img src="/assets/img/icons/icon-close.png" alt="Fechar" /></a>
                <div class="persona"><img src="" class="" /></div>
                <h2 class="title"></h2>
            </div>
            <p class="message"></p>
            <div class="html">
             
            </div>
            <a href="#" class="btn">
                <span class="nameBtn"></span>
            </a>
        </div>
    </div>
</div>

<div class="modal" id="customHTML">
    <a href="#" class="close-img"><img src="/assets/img/icons/icon-close-blue.png" alt="Fechar" /></a>
    <div class="title"></div>
    <div class="message"></div>
    <div class="html"></div>
</div>

<!-- Modal Informacoes -->
<div class="modal bg-blue" id="inforamcoes">
    <div class="container">
        <a href="#" class="close"></a>
        <div class="icon-info">
            <a href="#">
                <img src="/assets/img/icons/icon-informacoes.png" alt="Informações"/>
            </a>
        </div>
        <div class="conteudo">
            <h3 class="title"></h3>
            <p class="msg"></p>
            <img src="" alt="" class="img"/>
        </div>
    </div>
</div>

<!-- Modal Compartilhar -->
<div class="modal bg-blue" id="modalCompartilhar">
    <div class="container">
        <a href="#" class="close"></a>
        <div class="icon-info">
            <a href="#">
                
            </a>
        </div>
        <div class="conteudo">
            <div class="lista-compartilhamento" data-compartilhar="OQueEuValorizo">
                <a href="#" id="compartilhar-btn" class="facebook">
                    <span class="txt">Facebook</span>
                    <span class="bar"></span>
                </a>
                <a href="#" id="compartilhar-btn" class="linkedin">
                    <span class="txt">Linkedin</span>
                    <span class="bar"></span>
                </a>
                <a href="#" id="compartilhar-btn" class="twitter">
                    <span class="txt">Twitter</span>
                    <span class="bar"></span>
                </a>
                <a href="#" id="compartilhar-btn" class="whatsapp">
                    <span class="txt">Whatsapp</span>
                    <span class="bar"></span>
                </a>
            </div>
        </div>
    </div>
</div>