﻿<section id="tutorial-avaliar-selecionados" class="tutorial-meus-candidatos">
    <div class="tutorial">
        <h1>2. Avaliar Candidatos</h1>
        <div class="tutorial-steps">
            <div class="item">
                <div class="wrap">
                    <div class="bg" style="background-image: url(/assets/img/meuscandidatos/avaliarselecionados/bg-avaliarselecionados-tutorial01.png)"></div>
                    <p>Nesta etapa você poderá avaliar os candidatos com base nos temas que você escolheu em <strong class="semi">“O que eu valorizo”</strong>.</p>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="comecar">Começar</a>
</section>

<section id="avaliar-selecionados">
	
	@Html.Partial("_MenuCargo")

	<p class="texto"><span class="blue">2.</span> <span class="orange">Avaliar Candidatos</span>: em cada tema que você valoriza, dê notas de 0 a 5 para as propostas dos candidatos.</p>
    <p class="texto recomendacoes">Recomendamos que você pesquise informações em fontes oficiais. Basta clicar no botão <span class="blue">ONDE PESQUISAR?</span>, aqui embaixo.</p>

    <div class="btns">
        <a href="#" class="btn onde-pesquisar triggerOndePesquisar">
            <span>ONDE PESQUISAR?</span>
        </a>
        <a href="#" class="btn alterar-temas">
            <span>ALTERAR TEMAS</span>
            <span>“O QUE EU VALORIZO"</span>
        </a>
    </div>

    <!-- Lista Temas -->
    <div class="lista-candidatos bg-fire">
        
    </div>

    <p class="texto">
        Clique no botão para ver seu grau de afinidade com cada candidato avaliado.  
    </p>

    <a href="#" class="btn resultados">
        <span>VER RESULTADO</span>
    </a>

    <div class="bg">
        <img src="/assets/img/avaliar-selecionados/bg-bottom.png" alt="">
    </div>

    <a href="#" class="triggerTutorial">
        <img src="/assets/img/icons/icon-interrogacao.png" alt="">
    </a>

</section>

<!-- Modal Botton -->
<div id="modal-bottom">

</div>

<!-- Modal Alerta -->
<div class="modal bg-blue" id="go-to-o-que-eu-valorizo">
    <div class="container">
        <a href="/MeusCandidatos/Candidatos2018/Presidente" class="close-c2018"></a>
        <div class="icon-info">
            <a href="#">
                <img src="/assets/img/meuscandidatos/avaliarselecionados/bg-alerta-o-que-eu-valorizo.png" alt="" />
            </a>
        </div>
        <div class="conteudo">
            <p>
                Para avaliar e comparar os candidatos, é necessário completar as atividades da seção “<span class="orange">O que eu valorizo</span>”. Por favor, volte a esta etapa antes de prosseguir.
            </p>
            <p>
                Basta clicar no botão abaixo:
            </p>
            <a href="#" class="btn">
                <span>IR PARA O QUE EU VALORIZO?</span>
            </a>
        </div>
    </div>
</div>

<!-- Modal Onde Pesquisar -->
<div class="modal bg-blue" id="ondePesquisar">
    <div class="container">
        <a href="#" class="close"></a>
        <h2 class="title">ONDE PESQUISAR?</h2>
        <div class="icon-info">
            <a href="#">
                <img src="/assets/img/meuscandidatos/avaliarselecionados/bg-modal-onde-pesquisar.png" alt="Imagem Onde Pesquisar" />
            </a>
        </div>
        <div class="conteudo">
            <p>
                Procure pesquisar informações sobre seus candidatos e suas propostas em fontes confiáveis.
            </p>
            <p>
                Os sites dos partidos e as redes sociais oficiais são um bom caminho.
            </p>
             <p>
                Aqui está um link que pode ajudar nas suas pesquisas:
            </p>
            <ul class="conhecer-mais">
                <li>
                    <a href="http://divulgacandcontas.tse.jus.br/divulga/#/" target="_system">Divulgação de Candidaturas e Contas Eleitorais</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="candidatoAfinidade">
    
</div>