﻿<section id="candidatos-2018">

    @Html.Partial("_MenuCargo")

    <p class="texto">
        <span class="blue">1.</span> <span class="orange"> Candidatos 2º turno</span>: avalie os
        candidatos de acordo com os temas que
        você definiu em <span class="tit">“O que eu valorizo”</span>.
    </p>

    <p class="texto texto-menor">
        Recomendamos que avalie e compare os
        candidatos mesmo que você tenha feito isso
        no 1º turno.
    </p>
    
    <p class="texto texto-menor">
        Se não deseja avaliar, clique no botão
        <span class="blue">ENVIAR PARA “MEU VOTO”</span> correspondente
        ao candidato escolhido.
    </p>

    <div class="ultimaAtualizacao"></div>

    <div class="resultados">
        
		<div class="items">

		</div>
	</div>

    <div class="wrapper-actions">
        <button id="verMeuVoto" class="verMeuVoto">Ver meu voto</i></button>
        <a href="#" class="avaliar">Avaliar <i class="fas fa-arrow-right"></i></button>
    </div>

</section>

<div id="candidatoAfinidade"></div>
