// ====================================================================
// Header
// ====================================================================

header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    //height: 45px;
    position: fixed;
    padding: 10px 10px 10px 10px;
    background: #FFF;
    border-bottom: 2px solid #F0F2F7;
    z-index: 20;
    top: 0;
    left: 0;
    // transition: all 0.3s ease;

    &.scrollable {
        position: absolute;
    }


    .back {
        img {
            width: 18px;
            height: 13px;
        }
    }
    .logo {

        img {
            width: 37px;
        }
    }

    nav {

        ul.menu {
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            width: 100%;
            height: 90vh;
            position: absolute;
            // background: #0C46E6;
            padding: 30px;
            z-index: 10;
            top: -100vh;
            left: 0;
            // border-radius: 0 0 50% 0;

            &:before {
                width: 100vw;
                height: 90vw;
                display: block;
                position: absolute;
                border-radius: 0 0 50% 50%;
                top: -100vh;
                left: -54vw;
                content: "";

                background: #0c46e6; /* Old browsers */
                background: -moz-linear-gradient(-45deg, #0c46e6 0%, #0c46e6 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(-45deg, #0c46e6 0%,#0c46e6 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg, #0c46e6 0%,#0c46e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c46e6', endColorstr='#0c46e6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                transition: all .5s ease-out;
            }

            transition: all .5s ease-out;

            @keyframes fadeInMenu {
                from {opacity: 0;}
                to {opacity: 1;}
            }

            &.active {
                
                top: 0;
                
                &:before {
                    width: 200vw;
                    height: 165vw;
                    top: 0;
                    left: -54vw;
                }

                li:nth-of-type(1) a { animation-delay: 0.02s}
                li:nth-of-type(2) a { animation-delay: 0.04s}
                li:nth-of-type(3) a { animation-delay: 0.06s}
                li:nth-of-type(4) a { animation-delay: 0.08s}
                li:nth-of-type(5) a { animation-delay: 0.10s}
                li:nth-of-type(6) a { animation-delay: 0.12s}
                li:nth-of-type(7) a { animation-delay: 0.14s}
                li:nth-of-type(8) a { animation-delay: 0.16s}
                li:nth-of-type(9) a { animation-delay: 0.18s}

                li a {
                    animation-name: fadeInMenu;
                    animation-duration: 2s;
                    animation-timing-function: linear;
                    animation-fill-mode: forwards;
                }
            }
            

            li {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                width: 100%;
                position: relative;
                margin: 10px 0;

                &:nth-of-type(4) {
                    display: none;
                }


                a {
                    color: #FFF;
                    text-transform: uppercase;
                    font-size: 14px;
                    opacity: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    

                    &:before {
                        display: inline-flex;
                        content: '';
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        margin: 0 10px 0 0 ;
                        width: 32px;
                        height: 24px;
                        @include breakpoint(normal-plus) {
                            height: 18px;                            
                        }
                    }
                    
                    &.home {
                        &:before {
                            background-image: url('../img/icons/icon-home.png');
                        } 
                    }
                    &.cadastre-se {
                        &:before {
                            background-image: url('../img/icons/icon-cadastre-se.png');
                        } 
                    }
                    &.minha-conta {
                        &:before {
                            background-image: url('../img/icons/icon-minhaconta.png');
                        } 
                    }
                    &.compartilhe {
                        &:before {
                            background-image: url('../img/icons/icon-compartilhe.png');
                        } 
                    }
                    &.faq {
                        &:before {
                            background-image: url('../img/icons/icon-faq.png');
                        } 
                    }
                    &.termos_menu {
                        &:before {
                            background-image: url('../img/icons/icon-termos.png');
                        } 
                    }
                    &.sobre {
                        &:before {
                            background-image: url('../img/icons/icon-sobre.png');
                        } 
                    }
                    &.entrar {
                        &:before {
                            background-image: url('../img/icons/icon-entrar.png');
                        } 
                    }
                    &.sair {
                        &:before {
                            background-image: url('../img/icons/icon-sair.png');
                        } 
                    }
                }
            }

        }

        .open-menu {
            position: relative;
            z-index: 11;
            color: #0000BF;

            &.active {
                color: #FFF;
                              
                i {
                    transition: all .5s ease-out;
                    transform: rotate(180deg);
                    &:before {
                        content: '\f00d';
                    }
                }
            }
        }
    }

    //DESKTOP
    @include breakpoint (large-plus) {

        a.logo {
            z-index: 11;
        }

        nav {
            ul.menu {

                flex-direction: row;

                top: 0;
                left: 0;
                right: 0;
                height: auto;
                padding: 0 0;
                background: #FFF;
                align-items: center;
                height: 59px;

                &:before {
                    width: 0;
                    height: 0;
                }

                &.active {
    
                    flex-direction: row;
                    height: auto;
                    padding: 0;
                    align-items: center;

                }

                li {
                    justify-content: center;
                    flex-grow: 1;
                    width: initial;
                    width: auto;
                    
                    &:nth-of-type(1),
                    &:nth-of-type(2),
                    &:nth-of-type(3), {
                        flex-grow: 2;
                    }

                    &:nth-of-type(4) {
                        display: block;
                        flex-grow: 7;
                        @include breakpoint(huge) {
                            flex-grow: 4;
                        }
                    }

                    a {
                        color: #0000BF;
                        font-size: 12px;
                        opacity: 1;

                        @include breakpoint(huge) {
                            font-size: 14px;
                        }

                        &:before {
                            //margin: 0;
                        }

                        &.home {
                            &:before {
                                background-image: url('../img/icons/icon-home-desk.png');
                            } 
                        }
                        &.cadastre-se {
                            &:before {
                                background-image: url('../img/icons/icon-cadastre-se-desk.png');
                            } 
                        }
                        &.minha-conta {
                            &:before {
                                background-image: url('../img/icons/icon-minhaconta-desk.png');
                            } 
                        }
                        &.compartilhe {
                            &:before {
                                background-image: url('../img/icons/icon-compartilhe-desk.png');
                            } 
                        }
                        &.faq {
                            &:before {
                                background-image: url('../img/icons/icon-faq-desk.png');
                            } 
                        }
                        &.termos {
                            &:before {
                                background-image: url('../img/icons/icon-termos-desk.png');
                            } 
                        }
                        &.sobre {
                            &:before {
                                background-image: url('../img/icons/icon-sobre-desk.png');
                            } 
                        }
                        &.entrar {
                            &:before {
                                background-image: url('../img/icons/icon-entrar-desk.png');
                            } 
                        }
                        &.sair {
                            &:before {
                                background-image: url('../img/icons/icon-sair-desk.png');
                            } 
                        }
                    }
                }
            }
            a {
                display: none;
            }
        }

    }

}