// ====================================================================
// Objects
// ====================================================================


body {

	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	width: calc(100%);
	min-height: calc(100vh);
	//max-width: calc(100vw - 40px);
	//max-height: calc(100vh - 20px);

	background: #FFFFFF;
	position: relative;
	overflow-x: hidden;

	//transition: all .5s ease-out;

	&:after {
		opacity: 0.5;
	}

	&.final-quiz {
		background-image: url('../img/quiz/final-quiz.jpg');
		background-repeat: no-repeat;
		background-size: 100%;
	}


}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

section {
	width: 100%;
	height: auto;
	position: relative;
	padding: 60px 20px 0 20px;
	//margin-bottom: 30px;
	// transition: filter .5s linear;
	// filter: blur(0);
	
	&:before {
		content: '';
	}
}

//Helpers

.desk {
	display: none;
	@include breakpoint (normal-plus) {
		display: block;
	}
}

.mobile {
	display: block;
	@include breakpoint (normal-plus) {
		display: none;
	}
}

.disable {
	display: none !important;
}

.scroll-lock {
	overflow: hidden;
}

.blur {
	filter: blur(3px);
	overflow: hidden;

	&:before {
		content: '';
		display: block;
		background: rgba(255, 255, 255, 0.5);
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
	}
}

//Help
a.help {
	width: 24px;
	height: 24px;
	position: relative;
	border: 2px solid $azul-guia;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-left: 10px;

	img {
		display: block;
		height: 70%;
	}
}

.help-box {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
	small, p, span, div {
		width: 90%;
	}
	.help {
		z-index: 1;
		//background-color: #FFF;
	}
}

//Background
.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;

	img {
		position: absolute;
	}
}

//button
.btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 50px;
	margin: 20px 0;
	padding: 0 20px;
	border-radius: 40px;
	color: #FFFFFF;

	&#compartilhar {
		color: #0c46e6;
		border: 2px solid #0000bf;
		background-color: #fff;
		margin-top: 40px;
		max-width: 400px;
	}
}