﻿<section id="home">
    <div class="container">
        <!-- Timeline -->
        <div class="timeline">
            <p>
                Faltam <span class="numero" id="dia"></span> dias para o segundo turno das eleições
            </p>
            <div class="progresso">
                <ul class="bar">
                    <li data-mes="10"><span class=""></span></li>
                </ul>
                <ul class="mes">
                    <li>7 de Outubro</li>
                    <li>28 de Outubro</li>
                </ul>
            </div>
        </div>

        <!-- Etapas -->
        <div class="etapas">

            <!-- 1. Cidadania Nota 10 -->
            <div class="wrap">
                <div class="box cidadania">

                    <!-- Titulo -->
                    <div class="title">
                        <!-- <h1 data-num="1.">Cidadania nota 10</h1> -->
                        <h1>Cidadania nota 10</h1>
                        <p>Teste seus conhecimentos e fique por dentro do que é importante saber para praticar a cidadania.</p>
                    </div>

                    <!-- Sessoes -->
                    <div class="etapa">
                        <div class="info">
                            <!-- Progresso -->
                            <div class="progresso">
                                <span class="name">Tarefas Concluídas</span>
                                <div class="bar"><span class="prog"></span></div>
                                <span class="porcentagem">%</span>
                            </div>
                            <!-- Status -->
                            <div class="status">
                                <!-- Quiz -->
                                <div class="quiz-respondido">
                                    <p>
                                        Testes respondidos <span class="init"></span> <span>de</span> <span class="end"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Sessoes -->
                        <div class="sessoes" style="display: none;">
                            <!-- Quiz -->
                            <div class="quiz">
                                <div class="info">
                                    <h2>O que eu sei sobre as eleições?</h2>
                                    <div class="conteudo">
                                        <p>
                                            Responda às questões para descobrir o quanto você sabe sobre as eleições no Brasil.
                                        </p>
                                    </div>
                                </div>
                                <div class="quizzes">

                                </div>
                            </div>

                            <!-- Guia do Voto -->
                            <a href="/Guia">
                                <div class="guia">
                                    <div class="info">

                                        <h2>Guia do Voto</h2>
                                        <div class="conteudo">
                                            <p>
                                                Tudo o que é importante saber para fazer valer seu direito ao voto!
                                            </p>
                                            <img src="assets/img/home/cover-guia.png" alt="Guia do Voto" />
                                        </div>

                                    </div>
                                </div>
                            </a>

                            <!-- Voce Sabia -->
                            <a href="/Dicas">
                                <div class="voce-sabia">
                                    <div class="info">
                                        <h2>Você Sabia?</h2>
                                        <div class="conteudo">
                                            <p>
                                                Dicas rápidas e curiosidades para ampliar seus conhecimentos.
                                            </p>
                                            <img src="assets/img/home/cover-saiba-mais.png" alt="Saiba Mais" />
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 2. Minhas Prioridades -->
            <div class="wrap">
                <div class="box prioridades">
                    <!-- Titulo -->
                    <div class="title">
                        <!-- <h1 data-num="2.">Minhas prioridades</h1> -->
                        <h1>Minhas prioridades</h1>
                        <p>Defina os temas mais importantes e o perfil ideal do seu candidato.</p>
                    </div>

                    <!-- Sessoes -->
                    <div class="etapa">
                        <div class="info">
                            <!-- Progresso -->
                            <div class="progresso">
                                <span class="name">Etapas Concluídas</span>
                                <div class="bar"><span class="prog"></span></div>
                                <span class="porcentagem">%</span>
                            </div>
                        </div>
                        <div class="sessoes" style="display: none;">
                            <div class="minhas-prioridades">
                                
                                <div class="mp-wrap">
                                    <div class="item">
                                        <a href="/SeEuFosseUmPolitico">
                                            <img src="/assets/img/home/cover-prioridades-politico.png" alt="">
                                            <h3>Se eu fosse um político</h3>
                                            <p>Como você votaria se fosse um parlamentar?</p>
                                        </a>
                                    </div>
                                </div>

                                <div class="mp-wrap">
                                    <div class="item">
                                        <a href="/OQueEuValorizo">
                                            <img src="/assets/img/home/cover-prioridades-valorizo.png" alt="">
                                            <h3>O que eu valorizo</h3>
                                            <p>Quais temas você considera mais importantes na hora de votar?</p>
                                        </a>
                                    </div>
                                </div>
                                
                                <!-- <div class="mp-wrap">
                                    <div class="item">
                                        <a href="/MeuCandidatoIdeal">
                                            <img src="/assets/img/home/cover-prioridades-candidato.png" alt="">
                                            <h3>Meu candidato ideal</h3>
                                            <p>Que características você considera ao escolher seus candidatos para cada cargo?</p>
                                        </a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- 3. Meus Candidatos -->
            <div class="wrap">
                <div class="box meus-candidatos">
                    <!-- Titulo -->
                    <div class="title">
                        <!-- <h1 data-num="3.">Meus candidatos</h1> -->
                        <h1>Meus candidatos</h1>
                        <p>
                            Siga em frente para definir seu voto no 2º turno
                            das eleições para Presidente e Governador.
                        </p>
                    </div>

                    <!-- Sessoes -->
                    <div class="etapa">

                        <div class="sessoes" style="display: none;">

                            <!-- Estados -->
                            <div class="estado">
                                <p>Em qual Estado você vota?</p>
                                <div class="field">
                                    <a class="triggerEstado"></a>      
                                    <select id="estado" required>
                                        <option value="">Selecionar estado</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Candidatos -->
                            <div class="candidatos">
                                <!-- Presidente -->
                                <div class="mc-wrap">
                                    <div class="item">
                                        <div class="cargo" data-cargo="Presidente">
                                            <span>Presidente</span>
                                        </div>
                                        <div class="lista-etapas">
                                            <a href="/MeusCandidatos/Candidatos2018/Presidente" class="blocked">
                                                <span class="nome">Candidatos 2º turno</span>
                                                <span class="texto">Comece aqui</span>
                                            </a>
                                            <a href="/MeusCandidatos/AvaliarSelecionados/Presidente" " class="blocked">
                                                <span class="nome">Avaliar Selecionados</span>
                                                <span class="texto"></span>
                                            </a>
                                            <a href="/MeusCandidatos/GrauDeAfinidade/Presidente" " class="blocked">
                                                <span class="nome">Grau de Afinidade</span>
                                                <span class="texto"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Governador -->
                                <div class="mc-wrap">
                                    <div class="item">
                                        <div class="cargo" data-cargo="Governador">
                                            <span>Governador</span>
                                        </div>
                                        <div class="lista-etapas">
                                            <a href="/MeusCandidatos/Candidatos2018/Governador" class="blocked">
                                                <span class="nome">Candidatos 2º turno</span>
                                                <span class="texto">Comece aqui</span>
                                            </a>
                                            <a href="/MeusCandidatos/AvaliarSelecionados/Governador" class="blocked">
                                                <span class="nome">Avaliar Selecionados</span>
                                                <span class="texto"></span>
                                            </a>
                                            <a href="/MeusCandidatos/GrauDeAfinidade/Governador" class="blocked">
                                                <span class="nome">Grau de Afinidade</span>
                                                <span class="texto"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Senador 1 -->
                                @*<div class="mc-wrap">
                                    <div class="item">
                                        <div class="cargo" data-cargo="Senador1">
                                            <span>Senador 1</span>
                                        </div>
                                        <div class="lista-etapas">
                                            <a href="/MeusCandidatos/Candidatos2018/Senador1" class="blocked">
                                                <span class="nome">Candidatos 2018</span>
                                                <span class="texto">Comece aqui</span>
                                            </a>
                                            <a href="/MeusCandidatos/AvaliarSelecionados/Senador1" class="blocked">
                                                <span class="nome">Avaliar Selecionados</span>
                                                <span class="texto"></span>
                                            </a>
                                            <a href="/MeusCandidatos/GrauDeAfinidade/Senador1" class="blocked">
                                                <span class="nome">Grau de Afinidade</span>
                                                <span class="texto"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>*@
                                <!-- Senador 2 -->
                                @*<div class="mc-wrap">
                                    <div class="item">
                                        <div class="cargo" data-cargo="Senador2">
                                            <span>Senador 2</span>
                                        </div>
                                        <div class="lista-etapas">
                                            <a href="/MeusCandidatos/Candidatos2018/Senador2" class="blocked">
                                                <span class="nome">Candidatos 2018</span>
                                                <span class="texto">Comece aqui</span>
                                            </a>
                                            <a href="/MeusCandidatos/AvaliarSelecionados/Senador2" class="blocked">
                                                <span class="nome">Avaliar Selecionados</span>
                                                <span class="texto"></span>
                                            </a>
                                            <a href="/MeusCandidatos/GrauDeAfinidade/Senador2" class="blocked">
                                                <span class="nome">Grau de Afinidade</span>
                                                <span class="texto"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>*@
                                <!-- Deputado Federal -->
                                @*<div class="mc-wrap">
                                    <div class="item">
                                        <div class="cargo" data-cargo="DeputadoFederal">
                                            <span>Deputado Federal</span>
                                        </div>
                                        <div class="lista-etapas">
                                            <a href="/MeusCandidatos/Candidatos2018/DeputadoFederal" class="blocked">
                                                <span class="nome">Candidatos 2018</span>
                                                <span class="texto">Comece aqui</span>
                                            </a>
                                            <a href="/MeusCandidatos/AvaliarSelecionados/DeputadoFederal" class="blocked">
                                                <span class="nome">Avaliar Selecionados</span>
                                                <span class="texto"></span>
                                            </a>
                                            <a href="/MeusCandidatos/GrauDeAfinidade/DeputadoFederal" class="blocked">
                                                <span class="nome">Grau de Afinidade</span>
                                                <span class="texto"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>*@
                                <!-- Deputado Estadual -->
                                @*<div class="mc-wrap">
                                    <div class="item">
                                        <div class="cargo" data-cargo="DeputadoEstadual">
                                            <span>Deputado Estadual/ <br>Distrital</span>
                                        </div>
                                        <div class="lista-etapas">
                                            <a href="/MeusCandidatos/Candidatos2018/DeputadoEstadual" class="blocked">
                                                <span class="nome">Candidatos 2018</span>
                                                <span class="texto">Comece aqui</span>
                                            </a>
                                            <a href="/MeusCandidatos/AvaliarSelecionados/DeputadoEstadual" class="blocked">
                                                <span class="nome">Avaliar Selecionados</span>
                                                <span class="texto"></span>
                                            </a>
                                            <a href="/MeusCandidatos/GrauDeAfinidade/DeputadoEstadual" class="blocked">
                                                <span class="nome">Grau de Afinidade</span>
                                                <span class="texto"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                            <!-- Botao Cola Voto -->
                            <a href="/MeuVoto" class="cola-voto">
                                <img src="/assets/img/icons/icon-cadeado.png" alt="Icon Cadeado" />
                                <span class="txt">Conferir candidatos em “MEU VOTO”</span>
                                <span class="messageFull">
                                    Complete as etapas de pelo menos<br>
                                    1 cargo para visualizar “MEU VOTO”
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Escolhe estado -->
<div class="escolhe-estado" id="selecioneEstado">
    <div class="wrap">
        <p>Você vota nesse Estado?</p>
        <div class="field">
            <a class="triggerEstado-home"></a>      
            <select id="estado" required>
                <option value="">Selecionar estado</option>
            </select>
        </div>
        <a href="#" class="btn continuar">Continuar</a>
    </div>
</div>

<!-- Estados Modal de estados -->
<div id="estados-st">
	<a href="#" class="close">
		<i class="fas fa-times"></i>
	</a>
    <a href="#" class="set-estado">
        <i class="fas fa-arrow-right fa-lg"></i>
    </a>
    <ul></ul>
</div>

<!-- Modal Minhas Prioridades -->
<div class="modal bg-blue" id="nao-registrados">
    <div class="container">
        <a href="#" class="close"></a>
        <div class="icon-info">
            <a href="#">
                <img src="/assets/img/home/data-base.png" alt="" />
            </a>
        </div>
        <div class="conteudo">
            <p>
                <strong class="tit">Importante:</strong> Para sua segurança, todas as atividades nas áreas “Minhas prioridades” e “Meus Candidatos” <strong>não serão registradas fora deste dispositivo ou na internet</strong>, e ninguém poderá ter acesso a esses dados. Caso você acesse o Guia do Voto em outro aparelho, deverá refazer as atividades
            </p>
            <a href="#" class="btn leu">
                <span>OK</span>
            </a>
            <p>
                Leia mais em  <a href="#" class="termos">Termos e Políticas.</a>
            </p>
        </div>
    </div>
</div>

<!-- Modal Login-->
<div class="modal bg-blue" id="alerta-login">
    <div class="container">
        <a href="#" class="close"></a>
        <h1>Atenção</h1>
        <div class="icon-info">
            <a href="#">
            </a>
        </div>
        <div class="conteudo">
            <div class="title"></div>
            <div class="message"></div>
            <div class="html"></div>
            <a href="/Login" class="btn login">
                <span>Entre com Login e Senha</span>
            </a>
            <a href="/Cadastro" class="btn cadastro">
                <span>Cadastre-se</span>
            </a>
        </div>
    </div>
</div>

@Html.Partial("_ModalTermos")