﻿<section id="se-eu-fosse-um-politico">
    <div class="container">
        <!-- Informações -->
        <div class="infos gradient light-blue">
            <h1>Se eu fosse um político</h1>
            <p>
               Em cada questão, leia atentamente ao resumo da proposta e depois responda.
            </p>
            <div class="help-box">
                <small>Para entender a opção “Abstenção”, clique no ícone ao lado.</small>
                <a href="#" class="help" data-help="pergunta">
                    <img src="/assets/img/icons/icon-informacoes-blue.png" alt="Informações">
                </a>
            </div>
        </div>
        <!-- Quiz -->
        <div class="quiz">
            
        </div>
    
        <!-- Respota -->
        <div class="respostas">

        </div>

        <!-- Escolha -->
        <div class="escolha">
            <div class="list">
                <input type="radio" name="answer" id="answer-sim" value="S" >
                <label for="answer-sim"><span>Sim</span></label>
                <input type="radio" name="answer" id="answer-nao" value="N">
                <label for="answer-nao"><span>Não</span></label>
                <input type="radio" name="answer" id="answer-abstencao" value="A">
                <label for="answer-abstencao"><span>Abstenção</span></label>
            </div>
        </div>

    </div>
</section>
<section id="tutorial">
    <div class="tutorial">
        <h1>Se eu fosse um político</h1>
        <div class="tutorial-steps">
            <div class="item">
                <div class="wrap">
                    <div class="bg" style="background-image: url(/assets/img/seeufosseumpolitico/tutorial-01.png)"></div>
                    <p>Você responderá 10 questões  relacionadas a votações da Câmara dos Deputados, como se fosse um político, e vai saber quais partidos votaram de forma semelhante a você.</p>
                </div>
            </div>
            <!-- <div class="item">
                <div class="wrap">
                    <div class="bg" style="background-image: url(/assets/img/seeufosseumpolitico/tutorial-02.png)"></div>
                    <p>…E saberá quais partidos tiveram opiniões mais próximas às suas.</p>
                </div>
            </div>
            <div class="item">
                <div class="wrap">
                    <div class="bg" style="background-image: url(/assets/img/seeufosseumpolitico/tutorial-03.png)"></div>
                    <p>Depois, 10 novas questões ajudarão você a refinar suas comparações.</p>
                </div>
            </div> -->
        </div>

    </div>
    <a href="#" class="comecar">Começar</a>
</section>