﻿<section id="ranking-partidos">
    <div class="container">
        <!-- Informações -->
        <div class="infos gradient light-blue">
            <h1>Se eu fosse um político</h1>
            <p>
                Veja abaixo os partidos com maior grau de afinidade com as suas opiniões. <br>                                                                
                Os partidos
                    <a href="https://novo.org.br/" target="_blank">NOVO</a>, 
                    <a href="https://pcb.org.br/" target="_blank">PCB</a>, 
                    <a href="https://pco.org.br/" target="_blank">PCO</a>, 
                    <a href="http://partidopatrialivre.org.br/" target="_blank">PPL</a> e 
                    <a href="https://www.pstu.org.br/" target="_blank">PSTU</a> 
                não estão presentes nesta relação porque não possuíam representantes na Câmara em uma ou mais votações. Você poderá selecioná-los manualmente na fase “Meus Candidatos”!
            </p>
        </div>
        <!-- Ranking -->
        <div class="ranking">
            <!-- Filtros -->
            <div class="filtros">
                <div class="number active">
                    <a href="#">
                        <img src="/assets/img/icons/icon-filter-number.png" alt="Ranking" />
                        <span>Ranking</span>
                    </a>

                </div>
                <div class="letter">
                    <a href="#">
                        <img src="/assets/img/icons/icon-filter-letter.png" alt="Letter" />
                        <span>A - Z</span>
                    </a>
                </div>
            </div>

            <!-- Lista Ranking Partidos -->
            <div class="lista-ranking">
            
            </div>

            <div class="actions">
                <!-- Refazer -->
                <a class="refazer" href="#">
                    <span>Mais Votações</span>
                </a>
                <!-- Meu Candidato Ideal -->
                <a href="/MeusCandidatos/Candidatos2018/Presidente" class="go-meu-candidato-ideal">
                    <span>Meus Candidatos</span>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Modal Partido -->
<div class="modal bg-blue" id="partido">
    <div class="container">
        <a href="#" class="close"></a>
        <div class="icon-info">
            <a href="#">
                
            </a>
        </div>
        <div class="conteudo">
            <div class="desc-partido">
                <img src="" alt="" />
                <p>
                    <span class="sigla"></span> - <span class="nome"></span>
                </p>
                <a href="#" target="_blank" class="btn">
                    <span>IR PARA O SITE DO PARTIDO</span>
                </a>
            </div>
        </div>
    </div>
</div>